html,
body
    height: 100%

body
    position: relative
    font-size: 16px
    color: $black
    background-color: $bodycolor
    font-family: $font-family-base
    -webkit-font-smoothing: antialiased
    line-height: $line-height-base
    transition: all linear 0.2s
    //padding-top: $header-nav-height

    &.locked
        overflow: hidden
    
@media (max-width: 1000px)
    body
        @include scrollbars(.5em, $purple)

*, :before, :after
    margin: 0
    padding: 0
    box-sizing: border-box

svg 
    pointer-events: none

img
    max-width: 100%

input,
textarea,
button
    border: none
    outline: none
    border-radius: 0
    -webkit-appearance: none

fieldset
    border: none

h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: normal
    color: inherit

h1, h2, h3, h4
	font-family: $font-family-header
	font-style: normal

h1, h2
    line-height: 1.2
    margin-bottom: 10px

h1
    font-size: 46px

h2
    font-size: 38px

h3
    font-size: 32px
    margin-bottom: 10px

h4
    font-size: 26px
    margin-bottom: 10px

h5
    font-size: 20px
    
.heading
    font-size: 18px


a
    color: inherit
    text-decoration: none
    transition: all linear 0.2s

    &:hover,
    &:active,
    &:focus
        text-decoration: none

li
    list-style: none

.text-center
    text-align: center

.text-right
    text-align: right

.text-left
    text-align: left

.text-center-mobile
    @media #{$mobile}
        text-align: center

.margin-center
    margin-left: auto
    margin-right: auto

.visually-hidden
    border: 0 !important
    clip: rect(0 0 0 0) !important
    width: 1px !important
    height: 1px !important
    margin: -1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important

.hidden-xs
    @media #{$mobile}
        display: none !important

.visible-xs
    display: none !important

    @media #{$mobile}
        display: block !important

.d-ib
    display: inline-block

.m-b-lg
    margin-bottom: 20px

.container
    width: 100%
    max-width: 1280px
    margin: 0 auto
    padding: 0 80px

    &--padding
        margin-top: 40px

        @media #{$tablet-min}    
            margin-top: 90px

        @media #{$xs}
            margin-top: 10px

    @media #{$tablet-min}
        padding: 0 80px
        
    @media #{$tablet}
        padding: 0 20px

    @media #{$mobile}
        padding: 0 8px

.banner
    display: block
    max-width: $screen-content
    width: 100%
    margin: auto
    border-radius: 4px
    overflow: hidden
    margin-bottom: 60px

.quote
    display: flex
    margin-bottom: 60px

    &__info
        max-width: 170px
        width: 100%
        margin-right: 15px

    &__big
        margin-bottom: 10px
        font-family: $font-family-header
        font-size: 32px

    &__small
        font-size: 16px

    &__text
        font-family: $font-family-header
        line-height: 30px
        font-size: 16px
        text-align: left
        font-style: italic


.subtext
    &--double
        display: flex
        
        .subtext__item
            width: 50%
            
            &:first-child
                padding-right: 15px    

    &__header
        font-family: $font-family-header
        font-size: 26px
        line-height: 32px
        margin-bottom: 30px

    &__text
        font-size: 16px
        line-height: 25px

.underline
    position: relative
    display: inline-block
    margin-left: 10px

    &:before
        display: block
        content: ''
        position: absolute
        top: 50%
        border-top: 1px solid $danger
        width: 100%



.page-nav
    position: absolute
    right: 60px
    margin-top: -130px
    display: flex
    align-items: center

    @media (max-width: 620px)
        margin-top: -40px
        position: static
    
    &__image
        width: 92px
        height: 92px
        margin-right: 15px

        img
            max-width: 100%

    &__button
        position: relative
        display: flex
        align-items: center
        margin-bottom: 10px
        color: $success
            
        &:after
            content: ''
            display: block
            width: 15px
            height: 15px
            margin-left: 10px
            background: url($svgpath + 'arrow-right.svg') no-repeat center

    &__text
        font-size: 16px
        line-height: 19px
        font-family: $font-family-header


.section-header
    margin-bottom: 35px

    @media #{$tablet} 
        margin-bottom: 20px
        margin-top: 20px
        font-size: 24px
        font-weight: normal
        // color: $success

.screenshots
    > a 
        max-width: 300px
        display: block
        margin-bottom: 30px
        font-size: 54px
        

.stages
    position: relative
    margin: 30px 0 0 0
    counter-reset: myCounter

    &:before
        content: ''
        display: block
        border-left: 1px dashed $success
        position: absolute
        left: 20px
        top: 0
        bottom: 10px

    li
        position: relative
        list-style: none
        padding-left: 50px
        margin-bottom: 35px
        min-height: 40px

        &:before
            position: absolute
            left: 0
            top: -10px
            display: block
            line-height: 40px
            text-align: center
            counter-increment: myCounter
            content: counter(myCounter)
            border: 1px solid $success
            background: $bodycolor
            width: 40px
            height: 40px
            border-radius: $circle

        &:last-child:after
            content: ''
            position: absolute
            top: 30px
            bottom: 0
            left: 0
            width: 40px
            background: $bodycolor


.form-control
    display: block
    width: 100%
    padding: 10px 15px
    color: #555
    background-color: #fff
    background-image: none
    border: 1px solid $input-border-color
    border-radius: $border-radius-base
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

textarea
    &.form-control
        min-height: 100px

p
    margin-bottom: 20px

.quote-small
    font-style: italic
    font-weight: normal
    font-size: 14px
    line-height: 128%
    color: #828282

    margin: 10px 0

.purple-link
    color: #8E85F6
    text-decoration: underline

.text-danger
    color: $pink

.text-small
    font-size: 12px

a.link-arrow
    position: relative
    display: flex
    align-items: center
    color: $success

    &::after
        content: ''
        display: block
        position: relative
        width: 10px
        height: 10px
        margin-left: 10px
        background: url($svgpath + 'arrow-top-right-green.svg') no-repeat center


.lk-page
    > .container
        @media #{$mobile}
            overflow: hidden

        &:not(.p-none)
            padding-bottom: 60px

            @media #{$mobile}
                padding-bottom: 15px

    h1, h2
        margin-bottom: .5em

.tabSectionItem 
    display: none

    &.showed
        display: block

.tabSectionContent
    overflow: hidden
    padding-bottom: 30px

.tabSection
    &--mobile

        @media #{$mobile-min}
            .tabSectionItem
                display: block

        .tabSectionButtons
            @media #{$mobile-min}
                display: none

.tabSectionButtons
    &--links
        display: flex
        margin-bottom: 22px

        .tabSectionButton
            font-size: 32px
            font-family: $font-family-header
            color: $purple
            border-bottom: 1px dashed $purple
            margin-left: 10px
            line-height: 1.2
            cursor: pointer

            &:first-child
                margin-left: 0

            &.active
                color: $black
                border-bottom: 0
                cursor: default

.traning-modal
    .modal-dialog
        @media #{$mobile-min}
            width: 720px

.hidden
    display: none !important

.mobile-hidden
    @media #{$mobile}
        display: none !important

.mobile-show
    @media #{$mobile}
        display: block !important

.mobile-show-flex
    @media #{$mobile}
        display: flex !important

.success-page
    max-width: 500px
    margin: 0 auto

    &__image
        margin-bottom: 30px

    &__button-group
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-top: 36px

        @media #{$mobile}
            align-items: center
            flex-direction: column

        .button
            margin-right: 36px

            @media #{$mobile}
                margin-right: 0
                margin-bottom: 36px

