doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header-error
        section.error-page
            .error-page__msg
                img(src="images/tmp/404.png")
                //- | 503
            .error-page__text Ошибка. Старница не найдена.
            a.error-page__link(href="#") Вернуться на главную

        include _parts/_footer-error

        include _parts/_scripts
