a(href="index.html" target='_blank') Главная

br
br
p
	b Раздел Recipes в макете
a(href="base-products.html" target='_blank') База продуктов<br>
a(href="base-products.html" target='_blank') Каталог рецептов (должен быть поиск - доделаем)<br>
a(href="first-meal.html" target='_blank') Первые блюда (Категория)<br>
a(href="semolina.html" target='_blank') Сладкая манная каша (Рецепт)

br
br
p
	b  Раздел Diet в макете
a(href="popular-diets.html" target='_blank') Популярные диеты<br>
a(href="protein.html" target='_blank') Белковая диета

br
br
p
	b  Раздел Training в макете
a(href="exercise-base.html" target='_blank') База упражнений<br>
a(href="exercise-part.html" target='_blank') Раздел упражнений<br>
a(href="exercise-one.html" target='_blank') Упражнение<br>

br
br
p
		b  Раздел Feedback в макете
a(href="reviews.html" target='_blank') Отзывы<br>
a(href="reviews-leave.html" target='_blank') Отзыв с формой (правим текстовое поле)

br
br
p
		b  Раздел Service Page в макете
a(href="about.html" target='_blank') О проекте<br>
a(href="offer.html" target='_blank') Оферта

br
br
p
		b  Раздел 404 в макете
a(href="404.html" target='_blank') 404

br
br
p
		b  Раздел Sign in / Check In в макете
a(href="password-reset.html" target='_blank') Пароль сброшен<br>
a(href="login.html" target='_blank') Войти в личный кабинет<br>
a(href="recovery.html" target='_blank') Восстановить доступ

br
br
p
		b  Раздел Wizard Diet
a(href="wizard-select-diet.html") Визард - выбор диеты
br
br
a(href="wizard-personal-data.html") Визард - Личные данные
br
br
a(href="wizard-med-data.html") Визард – Медецинские данные
br
br
a(href="wizard-diet-plan.html") Визард - 3 дня диеты
br
br
a(href="wizard-blocked.html") Блокировка

br
br

p
	b Раздел Личного кабинета

a(href="lk-plan.html") Планирование диеты
br
br
a(href="lk-plan-diet-cards.html") Планирование диеты  ( Карточки )
br
br
a(href="lk-plan-modal.html") Планирование диеты ( Модальник )
br
br
a(href="lk-plan-today.html") План на день
br
br
a(href="lk-indicators.html") Показатели диеты ( график )
br
br
a(href="lk-plan-traning-slider.html") Тренировки на каждый день ( Слайдер и табы )
br
br
a(href="lk-plan-traning-cards.html") План Тренировки ( Карточки )
br
br
a(href="lk-plan-diet-slider.html") Диета на каждый день ( Слайдер и табы)
br
br
a(href="lk-plan-diet-column.html") Диета на каждый день ( Без слайдера, только 3 колонки ) 

br
br
a(href="pay-first.html") Первая страница формы оплаты

br
br
a(href="pay-second.html") Вторая страница формы оплаты

br
br
a(href="pay-three.html") Третья страница формы оплаты

br
br
a(href="pay-success.html") Оплата совершена

br
br
a(href="pay-history.html") История оплаты


br
br
a(href="pay-history-card-fixed.html") Список привязанных карточек



hr

b	Примечания: Активный класс активируется при добавдлении класса active к элементу с классом <a href="http://prntscr.com/oa5icc" targer="_blank">http://prntscr.com/oa5icc</a>