doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head База продуктов и рецептов 
                    .header-banner__text
                        | В этой базе мы собрали самые интересные и полезные продукты и блюда, подходящие к каждому виду диет, который наш сервис помогает вам саблюдать. 

                .header-banner__image
                    img(src="images/tmp/header-shopping.png")

        section.wrapper.best-recepies
            h2.section-header Случайный рецепт
            ul.best-recepies__list.best-recepies__list--scroll
                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-5.jpg")
                        h3.best-recepies__item-title Рулеты из лаваша
                        p.best-recepies__item-desc
                            | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-6.jpg")
                        h3.best-recepies__item-title Салат с авокадо
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-3.jpg")
                        h3.best-recepies__item-title Запеканка творожная
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-4.jpg")
                        h3.best-recepies__item-title Кулич шафрановый
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти
                            | мимо, добавили всего один новый ...
                        p.best-recepies__item-calorie 150 ккл

            h2.section-header Категории
            ul.best-recepies__list.best-recepies__list--scroll
                li.best-recepies__item.best-recepies__item--text
                    a(href="#").best-recepies__card-link
                        h3.best-recepies__item-title Завтраки
                        p.best-recepies__item-desc
                            | Ищите рецепты, выбирая категорию блюда, его подкатегорию, кухню или меню. А в дополнительных фильтрах можно искать по нужному.
                        button.best-recepies__button
                            | Показать рецепты

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-6.jpg")
                        h3.best-recepies__item-title Салат с авокадо
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-3.jpg")
                        h3.best-recepies__item-title Запеканка творожная
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-4.jpg")
                        h3.best-recepies__item-title Кулич шафрановый
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти
                            | мимо, добавили всего один новый ...
                        p.best-recepies__item-calorie 150 ккл

    
                li.best-recepies__item.best-recepies__item--text
                    a(href="#").best-recepies__card-link
                        h3.best-recepies__item-title Салаты
                        p.best-recepies__item-desc
                            | Ищите рецепты, выбирая категорию блюда, его подкатегорию, кухню или меню.  А в дополнительных фильтрах можно искать по нужному...
                        button.best-recepies__button
                            | Показать рецепты

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-6.jpg")
                        h3.best-recepies__item-title Салат с авокадо
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-3.jpg")
                        h3.best-recepies__item-title Запеканка творожная
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                        p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    a(href="#").best-recepies__card-link
                        figure.best-recepies__item-pic
                            img(src="images/tmp/pic-recepie-4.jpg")
                        h3.best-recepies__item-title Кулич шафрановый
                        p.best-recepies__item-desc
                            | Классика советского закусочного стола! Ну не могли мы пройти
                            | мимо, добавили всего один новый ...
                        p.best-recepies__item-calorie 150 ккл

        include _blocks/newsletter

        include _parts/_footer

        include _parts/_scripts
