doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner.header-banner--default
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head Разминка
                    .header-banner__text
                        | В этой базе мы собрали самые необходимые упражнения.
                        | К каждому упражению даны четкие описания и фотографии. Чтобы вы максимально правильно, без помощи тренера могли выполнять упражнения дома самостоятельно.

        section.wrapper.best-recepies.best-recepies--small
            ul.best-recepies__list.best-recepies__list--scroll
                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img1.png")
                    h3.best-recepies__item-title Sit-up + подъём
                    p.best-recepies__item-desc
                        | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                    

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img2.png")
                    h3.best-recepies__item-title Планка на прямых руках
                    p.best-recepies__item-desc
                        | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img3.png")
                    h3.best-recepies__item-title Подъём ног
                    p.best-recepies__item-desc
                        | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                    

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img4.png")
                    h3.best-recepies__item-title Велосипед с прямыми ногами
                    p.best-recepies__item-desc
                        | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                    

            a.accordion.accordion--table-show.button.button--purple-border.button--mobile-full.button--table-margin.button--center Показать еще
            .accordion-content.accordion-content--table
                ul.best-recepies__list.best-recepies__list--scroll
                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img1.png")
                        h3.best-recepies__item-title Sit-up + подъём
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                        

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img2.png")
                        h3.best-recepies__item-title Планка на прямых руках
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img3.png")
                        h3.best-recepies__item-title Подъём ног
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                        

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img4.png")
                        h3.best-recepies__item-title Велосипед с прямыми ногами
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img1.png")
                        h3.best-recepies__item-title Sit-up + подъём
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                        

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img2.png")
                        h3.best-recepies__item-title Планка на прямых руках
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img3.png")
                        h3.best-recepies__item-title Подъём ног
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                        

                    li.best-recepies__item
                        figure.best-recepies__item-pic
                            img(src="images/tmp/exercise/img4.png")
                        h3.best-recepies__item-title Велосипед с прямыми ногами
                        p.best-recepies__item-desc
                            | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
                    
               

            include _blocks/newsletter

        include _parts/_footer

        include _parts/_scripts
