doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head База упражнений для тренировок
                    .header-banner__text
                        | В этой базе мы собрали самые необходимые упражнения.
                        | К каждому упражению даны четкие описания и фотографии. Чтобы вы максимально правильно, без помощи тренера могли выполнять упражнения дома самостоятельно.

                .header-banner__image
                    img(src="images/tmp/header-traning.png")

        section.wrapper.best-recepies.best-recepies--small
            h2.section-header 
                | Разминка
                a(href="#").button.button--arrow-right Все упражения
            ul.best-recepies__list.best-recepies__list--scroll
                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img1.png")
                    h3.best-recepies__item-title Рулеты из лаваша
                    p.best-recepies__item-desc
                        | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                    

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img2.png")
                    h3.best-recepies__item-title Салат с авокадо
                    p.best-recepies__item-desc
                        | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                    

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img3.png")
                    h3.best-recepies__item-title Запеканка творожная
                    p.best-recepies__item-desc
                        | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                    

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/exercise/img4.png")
                    h3.best-recepies__item-title Кулич шафрановый
                    p.best-recepies__item-desc
                        | Классика советского закусочного стола! Ну не могли мы пройти
                        | мимо, добавили всего один новый ...
                    

            a.accordion.accordion--table-show.button.button--purple-border.button--mobile-full.button--table-margin Показать еще
            .accordion-content.accordion-content--table
                section.best-recepies.best-recepies--small
                    h2.section-header 
                        | Руки
                        a(href="#").button.button--arrow-right Все упражения
                    ul.best-recepies__list.best-recepies__list--scroll
                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img1.png")
                            h3.best-recepies__item-title Рулеты из лаваша
                            p.best-recepies__item-desc
                                | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                            

                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img2.png")
                            h3.best-recepies__item-title Салат с авокадо
                            p.best-recepies__item-desc
                                | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                            

                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img3.png")
                            h3.best-recepies__item-title Запеканка творожная
                            p.best-recepies__item-desc
                                | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                            

                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img4.png")
                            h3.best-recepies__item-title Кулич шафрановый
                            p.best-recepies__item-desc
                                | Классика советского закусочного стола! Ну не могли мы пройти
                                | мимо, добавили всего один новый ...
                    
                section.best-recepies.best-recepies--small
                    h2.section-header 
                        | Ноги
                        a(href="#").button.button--arrow-right Все упражения
                    ul.best-recepies__list.best-recepies__list--scroll
                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img1.png")
                            h3.best-recepies__item-title Рулеты из лаваша
                            p.best-recepies__item-desc
                                | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                            

                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img2.png")
                            h3.best-recepies__item-title Салат с авокадо
                            p.best-recepies__item-desc
                                | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                            

                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img3.png")
                            h3.best-recepies__item-title Запеканка творожная
                            p.best-recepies__item-desc
                                | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                            

                        li.best-recepies__item
                            figure.best-recepies__item-pic
                                img(src="images/tmp/exercise/img4.png")
                            h3.best-recepies__item-title Кулич шафрановый
                            p.best-recepies__item-desc
                                | Классика советского закусочного стола! Ну не могли мы пройти
                                | мимо, добавили всего один новый ...
                            


        include _blocks/newsletter

        include _parts/_footer

        include _parts/_scripts
