doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner.header-banner--default
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head Жим лежа на скамье в наклоне вниз
                    .header-banner__symbol Разминка
        section.wrapper
            .text-container
                p Одно из разновидностей базового упражнения жим лежа. Рекомендуется спортсменам, занимающимся более 2-х месяцев, т.к. техника упражнения требуется высокой концентрации. За счет сокращения амплитуды движения штанги позволяет работать с более высоким весом, что ускоряет рост мышечной массы и силовых показателей. 

                p Особенности выполнения: наклон скамейки достаточно сделать 15 градусов, т.е. небольшим. На первых этапах съем штанги с тренажера лучше осуществлять с ассистентом, чтобы привыкнуть к весу и не травмировать плечевой сустав. Перед выполнением упражнения штангу необходимо зафиксировать, в дальнейшем опускать контролируемо. Чем шире будет выбран хват, тем больше нагрузка на грудные мышцы, но и больше риск травматизма. Опускать снаряд следует в район солнечного сплетения или на 2 см выше, при этом обязательно касание штанги тела. Затем осуществить подъем снаряда в исходное положение. Вес как правило используется на 10%-15% больше, чем в обычном жиме лежа. Рекомендуется выполнять 3-5 подходов по 6-8 раз.
            
                
                // Swiper
                .swiper-container.journal-theme
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/tmp/exercise-image.jpg")
                        .swiper-slide
                            img(src="images/tmp/exercise-image2.jpg")
                        .swiper-slide
                            img(src="images/tmp/exercise-image3.jpg")
                    // Add Pagination
                    .swiper-pagination
                    // Add Arrows
                    .swiper-button-next
                    .swiper-button-prev


                ol.stages
                    li Ложитесь на пол на спину, поясница прижата к полу. Втяните живот.
                    
                    li  
                        | Поднимите корпус и поставьте ладони на пол, плотно прижав
                        | их к нему. Отталкиваясь от пяток, оторвите таз от пола и уведите его максимально назад. Важно: плечи во время упражнения
                        | должны быть над коленным суставом.

                    li 
                        | Опустите таз и вернитесь в исходное положение.
                        | Выполняйте упражнение 30 секунд.


            include _blocks/subscribe

        include _parts/_footer

        include _parts/_scripts
