extends _layout/index-layout.jade

block config
    -var bodyClass='layout'
    -var pageTitle = 'Первые блюда'

block styles
    title Здесь можно писать подключение стилей

block main
    include _blocks/sub-header

    section.header-banner.header-banner--default
        .header-banner__wrapper
            .header-banner__content 
                h1.header-banner__head Первые блюда
                .header-banner__text
                    | Ищите рецепты, выбирая категорию блюда, его подкатегорию, кухню или меню. А в дополнительных фильтрах можно искать по нужному.
                .header-banner__symbol 36 рецептов

    section.wrapper
        ul.best-recepies__list
            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-5.jpg")
                h3.best-recepies__item-title Рулеты из лаваша
                p.best-recepies__item-desc
                    | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-6.jpg")
                h3.best-recepies__item-title Салат с авокадо
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-3.jpg")
                h3.best-recepies__item-title Запеканка творожная
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-4.jpg")
                h3.best-recepies__item-title Кулич шафрановый
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти
                    | мимо, добавили всего один новый ...
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-5.jpg")
                h3.best-recepies__item-title Рулеты из лаваша
                p.best-recepies__item-desc
                    | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-6.jpg")
                h3.best-recepies__item-title Салат с авокадо
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-3.jpg")
                h3.best-recepies__item-title Запеканка творожная
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-4.jpg")
                h3.best-recepies__item-title Кулич шафрановый
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти
                    | мимо, добавили всего один новый ...
                p.best-recepies__item-calorie 150 ккл


            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-5.jpg")
                h3.best-recepies__item-title Рулеты из лаваша
                p.best-recepies__item-desc
                    | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-6.jpg")
                h3.best-recepies__item-title Салат с авокадо
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-3.jpg")
                h3.best-recepies__item-title Запеканка творожная
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                p.best-recepies__item-calorie 150 ккл

            li.best-recepies__item
                figure.best-recepies__item-pic
                    img(src="images/tmp/pic-recepie-4.jpg")
                h3.best-recepies__item-title Кулич шафрановый
                p.best-recepies__item-desc
                    | Классика советского закусочного стола! Ну не могли мы пройти
                    | мимо, добавили всего один новый ...
                p.best-recepies__item-calorie 150 ккл


