doctype html
html
		head
				meta(charset="utf-8")
				title html
				include _parts/_head
		body
				//- for svg
				include ../svg/symbols/svg-symbols.svg
				//- mixin
				include _mixin/_import

				include _parts/_header

				section.promo
						.promo-pic-mobile
								img(src='images/tmp/bg-promo.jpg')
						.container
								.promo-content
										h1.promo-content__title Соcтавляйте персональные планы диет и тренировок
										p.promo-content__text
												| Диет журнал — простая и удобная система генерации персональных диет и тренировок.
												| С возможность выбора блюд и продуктов из более чем 500 разнообразных и здоровых рецептов.
												| С учетом ваших параметров и здоровья.
										a.button.button--success Попробовать бесплатно

				section.parts-menu
						.container
								ul.parts-menu__list
										li.parts-menu__item
												a.parts-menu__link(href='')
														figure.parts-menu__item-icon
																img(src='images/tmp/icon-plans-diets.png' width='56')
														.parts-menu__item-content
																h3.parts-menu__item-title Планы диет
																p.parts-menu__item-description
																		| Смешивайте и сочетайте рецепты, чтобы добавить разнообразие
																		| диете!
										li.parts-menu__item
												a.parts-menu__link(href='')
														figure.parts-menu__item-icon
																img(src='images/tmp/icon-trainings.png' width='56')
														.parts-menu__item-content
																h3.parts-menu__item-title Упражнения
																p.parts-menu__item-description Эффективный подбор упражнений и понятное описание техник!
										li.parts-menu__item
												a.parts-menu__link(href='')
														figure.parts-menu__item-icon
																img(src='images/tmp/icon-value-recepies.png' width='56')
														.parts-menu__item-content
																h3.parts-menu__item-title Рецепты
																p.parts-menu__item-description Вкусные, сбалансированные рецепты для вашей диеты!

				section.diets
						.container
								h2.diets__title Большой выбор диет
								p.diets__subtitle Мы разработали меню для 7 основных видов диет и позже добавим еще.
								.diets-tabs
										.diets-tabs__nav
												button#defaultOpen.diets-tabs__button.diets-tabs__button--protein.active(type='button' onclick="openDiet(event,'protein')")
														figure
															img(src="images/tmp/info/info-protein-diet.png")
														span Белковая
												button.diets-tabs__button.diets-tabs__button--paleodiet(type='button' onclick="openDiet(event,'paleodiet')")
														figure
																img(src="images/tmp/info/info-paleo-diet.png")
														span Палеодиета
												button.diets-tabs__button.diets-tabs__button--african(type='button' onclick="openDiet(event,'african')")
														figure
																img(src="images/tmp/info/info-african-diet.png")
														span Африканская
												button.diets-tabs__button.diets-tabs__button--asian(type='button' onclick="openDiet(event,'asian')")
														figure
																img(src="images/tmp/info/info-asia-diet.png")
														span Азиатская
												button.diets-tabs__button.diets-tabs__button--france(type='button' onclick="openDiet(event,'france')")
														figure
																img(src="images/tmp/info/info-france-diet.png")
														span Французская
												button.diets-tabs__button.diets-tabs__button--mediterranean(type='button' onclick="openDiet(event,'mediterranean')")
														figure
																img(src="images/tmp/info/info-mediterra-diet.png")
														span Средиземноморская
												button.diets-tabs__button.diets-tabs__button--vegetarian(type='button' onclick="openDiet(event,'vegetarian')")
														figure
																img(src="images/tmp/info/info-veg-diet.png")
														span Вегетарианская
										.diets-tabs__content
												#protein.diets-tabs__type.showed
														p
																| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской
																| диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно
																| легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит
																| Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не
																| только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь
																| на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
														a.diets-tabs__link(href='') Подробнее о белковой диете
												#paleodiet.diets-tabs__type
														p
																| диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно
																| легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит
																| Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не
																| только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь
																| на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
														a.diets-tabs__link(href='') Подробнее о Палеодиете
												#african.diets-tabs__type
														p
																| диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно
																| легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит
																| Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не
																| только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь
																| на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
														a.diets-tabs__link(href='') Подробнее о африканской диете
												#asian.diets-tabs__type
														p
																| диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно
																| легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит
																| Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не
																| только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь
																| на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
														a.diets-tabs__link(href='') Подробнее о азиатской диете
												#france.diets-tabs__type
														p
																| только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь
																| на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
														a.diets-tabs__link(href='') Подробнее о французской диете
												#mediterranean.diets-tabs__type
														p
																| диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно
																| легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра.
														a.diets-tabs__link(href='') Подробнее о средиземноморской диете
												#vegetarian.diets-tabs__type
														p
																| Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не
																| только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь
																| на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
														a.diets-tabs__link(href='') Подробнее о вегетарианской диете

								.info-list.info-list--main-mobile
										.info-list__wrapper
												.info-list__item
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-protein-diet.png")
																h3.info-list__head.info-list__head--mobile-show Белковая диета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Белковая диета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете

												.info-list__item
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-paleo-diet.png")
																h3.info-list__head.info-list__head--mobile-show Палеодиета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Палеодиета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете

												.info-list__item.active
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-african-diet.png")
																h3.info-list__head.info-list__head--mobile-show Африканская диета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Африканская диета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете

												.info-list__item
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-asia-diet.png")
																h3.info-list__head.info-list__head--mobile-show Азиатская диета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Азиатская диета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете

												.info-list__item
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-france-diet.png")
																h3.info-list__head.info-list__head--mobile-show Французская диета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Французская диета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете

												.info-list__item
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-mediterra-diet.png")
																h3.info-list__head.info-list__head--mobile-show Средиземноморская диета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Средиземноморская диета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете

												.info-list__item
														.info-list__header-line.accordion.accordion--mobile
																.info-list__image
																		img(src="images/tmp/info/info-veg-diet.png")
																h3.info-list__head.info-list__head--mobile-show Вегетарианская диета
														.info-list__content
																h3.info-list__head.info-list__head--mobile-hide Вегетарианская диета
																.info-list__text
																		| Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
																		a.button.button--success.info-list__button(href="#") Подробнее о белковой диете
				section.process-plan
						.container
								.process-plan__desktop
										h2.process-plan__title Как составляется диет-план
										p.process-plan__subtitle Выбирайте понравившуюся вам диету и корректируйте, что вы хотите есть сегодня.
										.process-plan__list
												.process-plan__item.process-plan__item--1
														.process-plan__item-pic
																span 1.
																figure
																		img(src='images/tmp/diet-plan-pic-1.png')
														p.process-plan__item-text
																| Выберите диету, сообщите нам
																| о ваших показателях активности, питания и здоровья. При составлении диет-плана мы учтем   ваши показатели.
												.process-plan__item.process-plan__item--2
														.process-plan__item-pic
																span 2.
																figure
																		img(src='images/tmp/diet-plan-pic-2.png')
														p.process-plan__item-text
																| Корректируйте блюда в созданном плане. Мы предложим продукты для замены с учетом объёма и каллорийности.
												.process-plan__item.process-plan__item--3
														.process-plan__item-pic
																span 3.
																figure
																		img(src='images/tmp/diet-plan-pic-3.png')
														p.process-plan__item-text
																| Пользуйтесь расчетом используя  подробные описания рецептов из нашей базы.
										.process-plan__buttons
												button.js-process-plan__button.button.button--purple-border.process-plan__button-video(type="button" data-toggle="modal" data-target="#popup-video") Как это работает
												a.button.button--success(href="") Составить диет-план
								.process-plan__panel-popup
										button(type="button" data-toggle="modal" data-target="#popup-process-plan").process-plan__panel-popup-link
										h2.process-plan__title Как составляется диет-план
										p.process-plan__subtitle Выбирайте понравившуюся вам диету и корректируйте, что вы хотите есть сегодня.
						a.button.button--success.process-plan__panel-popup-button(href="") Составить диет-план

				section.plan-training
						.container.parts-menu__item-description
								h2.plan-training__title Планы тренировок
								p.plan-training__subtitle Мы разработали планы с упражнениями для 4 основных видов тренировок
								.plan-training-tabs
										.plan-training-tabs__nav
												button.plan-training__button.plan-training__button--muscle-mass.active(onclick="openTraining(event, 'muscle-mass')")
														figure
																img(src='images/tmp/plan-training-1.png')
														span Набор мышечной<br> массы
												button.plan-training__button.plan-training__button--slimming(onclick="openTraining(event, 'slimming')")
														figure
																img(src='images/tmp/plan-training-2.png')
														span Похудение
												button.plan-training__button.plan-training__button--increase-strength(onclick="openTraining(event, 'increase-strength')")
														figure
																img(src='images/tmp/plan-training-3.png')
														span Увеличение силы
												button.plan-training__button.plan-training__button--relief-formation(onclick="openTraining(event, 'relief-formation')")
														figure
																img(src='images/tmp/plan-training-4.png')
														span Формирование<br> рельефа
										.plan-training-tabs__content
												#muscle-mass.plan-training__type.showed
														p
																| Суть треннировки проста – основу рациона составляет белковая пища
																| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
												#slimming.plan-training__type
														p
																| Суть треннировки проста – основу рациона составляет белковая пища
												#increase-strength.plan-training__type
														p
																| Суть треннировки проста –
												#relief-formation.plan-training__type
														p
																| Суть треннировки проста – основу рациона составляет белковая пища
																| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
																| Суть треннировки проста – основу рациона составляет белковая пища
																| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.

								.plan-training-accordeon
										ul.plan-training-accordeon__list
												li.plan-training-accordeon__item
														.plan-training-accordeon__toggle
																figure.plan-training-accordeon__image
																		img(src='images/tmp/plan-training-1-mobile.png')
																h3.plan-training-accordeon__title Набор мышечной массы
																span.icon-trigger-cross
														.plan-training-accordeon__content
																p
																		| Суть треннировки проста – основу рациона составляет белковая пища
																		| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
												li.plan-training-accordeon__item
														.plan-training-accordeon__toggle
																figure.plan-training-accordeon__image
																		img(src='images/tmp/plan-training-2-mobile.png')
																h3.plan-training-accordeon__title Набор мышечной массы
																span.icon-trigger-cross
														.plan-training-accordeon__content
																p
																		| Суть треннировки проста – основу рациона составляет белковая пища
																		| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
												li.plan-training-accordeon__item
														.plan-training-accordeon__toggle
																figure.plan-training-accordeon__image
																		img(src='images/tmp/plan-training-1-mobile.png')
																h3.plan-training-accordeon__title Набор мышечной массы
																span.icon-trigger-cross
														.plan-training-accordeon__content
																p
																		| Суть треннировки проста – основу рациона составляет белковая пища
																		| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
												li.plan-training-accordeon__item
														.plan-training-accordeon__toggle
																figure.plan-training-accordeon__image
																		img(src='images/tmp/plan-training-2-mobile.png')
																h3.plan-training-accordeon__title Набор мышечной массы
																span.icon-trigger-cross
														.plan-training-accordeon__content
																p
																		| Суть треннировки проста – основу рациона составляет белковая пища
																		| (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.

				section.count-trainings
						.container
								.count-trainings__desktop
										h2.count-trainings__title Как работает расчет тренировки
										p.count-trainings__subtitle Выбирайте цель тренировки и укажите ваш уровень подготовки, остальное мы сделаем сами.
										.count-trainings__list
												.count-trainings__item.process-plan__item--1
														.count-trainings__item-pic
																span 1.
																figure
																		img(src='images/tmp/pic-calc-training-1.png')
														p.count-trainings__item-text
																| Выберите цель которую вы хотите достич тренировкой.
												.count-trainings__item.process-plan__item--2
														.count-trainings__item-pic
																span 2.
																figure
																		img(src='images/tmp/pic-calc-training-2.png')
														p.count-trainings__item-text
																| Укажите ваш уровень подготовки
																| и какое количество раз в неделю
																| вы планируете заниматься.
												.count-trainings__item.process-plan__item--3
														.count-trainings__item-pic
																span 3.
																figure
																		img(src='images/tmp/pic-calc-training-3.png')
														p.count-trainings__item-text
																| Получите план тренировок и занимайтесь с используя наши техники упражнений.
										a(href="#").count-trainings__button.button.button--success Составить план тренировки
								.count-trainings__panel-popup
										button(type="button" data-toggle="modal" data-target="#popup-count-trainings").count-trainings__panel-popup-link
										h2.count-trainings__title Как работает расчет тренировки
										p.count-trainings__subtitle Выбирайте цель тренировки и укажите ваш уровень подготовки, остальное мы сделаем сами.
						a(href="#").count-trainings__panel-popup-button.button.button--success Составить план тренировки

				section.best-recepies
						.container
								.best-recepies__header
										h2.best-recepies__title Полезные продукты и рецепты
										a(href="").best-recepies__link
												span Смотреть все рецепты
								ul.best-recepies__list.best-recepies__list--short.best-recepies__list--scroll
										li.best-recepies__item
											a(href="")
												figure.best-recepies__item-pic
														img(src="images/tmp/pic-recepie-1.jpg")
												h3.best-recepies__item-title Рулеты из лаваша
												p.best-recepies__item-desc
														| Классика советского закусочного стола! Ну не могли мы пройти
														| мимо, добавили всего один новый ...
												p.best-recepies__item-calorie 150 ккл
										li.best-recepies__item
											a(href="")
												figure.best-recepies__item-pic
														img(src="images/tmp/pic-recepie-2.jpg")
												h3.best-recepies__item-title Рулеты из лаваша
												p.best-recepies__item-desc
														| Классика советского закусочного стола! Ну не могли мы пройти
														| мимо, добавили всего один новый ...
												p.best-recepies__item-calorie 150 ккл
										li.best-recepies__item
											a(href="#")
												figure.best-recepies__item-pic
														img(src="images/tmp/pic-recepie-3.jpg")
												h3.best-recepies__item-title Рулеты из лаваша
												p.best-recepies__item-desc
														| Классика советского закусочного стола! Ну не могли мы пройти
														| мимо, добавили всего один новый ...
												p.best-recepies__item-calorie 150 ккл
										li.best-recepies__item
											a(href="")
												figure.best-recepies__item-pic
														img(src="images/tmp/pic-recepie-4.jpg")
												h3.best-recepies__item-title Рулеты из лаваша
												p.best-recepies__item-desc
														| Классика советского закусочного стола! Ну не могли мы пройти
														| мимо, добавили всего один новый ...
												p.best-recepies__item-calorie 150 ккл

				section.exercises
						.container
								.exercises__header
										h2.exercises__title Упражнения для тренировок
										a.exercises__link
												span Смотреть все упражнения
								ul.exercises__list.exercises__list--scroll.exercises__list--short
										li.exercises__item
												figure.exercises__item-pic
														img(src="images/tmp/pic-exercise-1.jpg")
												h3.exercises__item-title Sit-up + подъём
												p.exercises__item-desc
														| 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
										li.exercises__item
												figure.exercises__item-pic
														img(src="images/tmp/pic-exercise-2.jpg")
												h3.exercises__item-title Планка на прямых руках
												p.exercises__item-desc
														| 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
										li.exercises__item
												figure.exercises__item-pic
														img(src="images/tmp/pic-exercise-3.jpg")
												h3.exercises__item-title Подъём ног
												p.exercises__item-desc
														| 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.
										li.exercises__item
												figure.exercises__item-pic
														img(src="images/tmp/pic-exercise-4.jpg")
												h3.exercises__item-title Велосипед с прямыми ногами
												p.exercises__item-desc
														| 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.

				section.review-short
						.container.review-short__wrapper
								.review-short__col.review-short__col--left
										h2.review-short__title <b>Мы помогли десяткам человек</b> привести себя в форму и начать правильно питаться
										a(href="").review-short__link Смотреть все отзывы
								.review-short__col.review-short__col--right
										.review-short-quote
												p.review-short-quote__text
														| <span>❟❟</span>Ну, мой друг, ты дал мне ответ, которого я никогда не ожидал. Спасибо за ваше время и
														| вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды
														| на работу. Мне очень нравится, если кликай может отправить сообщение в Google. Потому что
														| вы уже отлично справляетесь. Извините за мой английский, это не так хорошо.<span>❟❟</span>
												.review-short-quote__author
														figure.review-short-quote__author-pic
																img(src="images/tmp/review-short-photo.jpg")
														p.review-short-quote__author-wrapper
																span.review-short-quote__author-name Марина Алексеева,
																span.review-short-quote__author-status диетолог
												a(href="").review-short__link-mobile Смотреть все отзывы

				include _blocks/subscribe

				include _blocks/newsletter

				include _parts/_footer

				include _parts/_popups

				include _parts/_scripts
