extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Журнал показателей'

block header
    include _parts/_header-lk

block main
    .container.container--padding
        h1 Журнал показателей

        .indicators
            .indicators__control
                .indicators__count
                    | 88.3
                    span кг.
                .indicators__date
                    | Текущий вес на 01.09.2018

                hr

                button.button.button--red-border.button--padding-horizontal.indicators__indicate-weight(type="button" data-toggle="modal" data-target="#indicate-select") Указать вес

                form.indicators__form
                    .form-line.form-line--indicators
                        .form-line__content.form-line__content--full
                            .form-line__row
                                h5.form-line__head Добавить показатели
                            
                            .form-line__row
                                .form-line__group.form-line__group--50
                                    label.form-line__label Дата
                                    input.form-control.form-control--date.form-line__input(type="text")

                                .form-line__group.form-line__group--50
                                    label.form-line__label Вес

                                    nput.form-control.form-line__input(type="text")

                            .form-line__row
                                button.button.button--success.button--full Записать

            .indicators__content
                img.indicators__img(src="images/tmp/graph.png")