extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .banner-pay.banner-pay--full
        .container.banner-pay__container
            .banner-pay__text
                .banner-pay__traning
                    .banner-pay__traning-image
                        img.banner-pay__traning-pic(src="images/tmp/lk-french-diet.png")
            
                .banner-pay__traning-content
                    h4.banner-pay__traning-head Французская диета
                    .banner-pay__progressbar
                        .progressbar
                            .progressbar__load(style="width: 90%")

                        .banner-pay__traning-subhead
                            | осталось 3 дня
            .banner-pay__control
                .banner-pay__buttons
                    button.button.button--purple-border.button--print.button--small Распечатать
                    a.button.button--red-border.button--small(href="#" data-toggle="modal" data-target="#diet-description-modal") К тренеровкам

                .dropdown.banner-pay__dropdown
                    button.button.button--more.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                        li
                            a(href="#" data-toggle="modal" data-target="#diet-description-modal") Распечатать
                        li
                            a(href="#") К тренеровкам


    .container.p-none
        .check-group.check-group--purple.check-group--tabs.check-group--traning
            label.check-group__button.tabSectionButton.active(onclick="universalTab(event, 'tab1')") Первая неделя
            label.check-group__button.tabSectionButton(onclick="universalTab(event, 'tab2')") Вторая неделя
        

    .tabSectionContent
        .column-slide.lk-diet-slide#tab1.tabSectionItem.showed
            .container
                .week.week--slider
                    +week-diet('Понедельник', '1 день ')(class="week__column--slide week__column--day") 
                    +week-diet('Вторник', '2 день ')(class="week__column--slide week__column--day disabled")
                    +week-diet('Среда', '3 день ')(class="week__column--slide week__column--day disabled")
                    +week-diet('Четверг', '4 день ')(class="week__column--slide week__column--day disabled")
                    
        .lk-traning#tab2.tabSectionItem
            .container
                h1 tab2

            