extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .banner-pay.banner-pay--full
        .container.banner-pay__container
            .banner-pay__text
                .banner-pay__traning
                    .banner-pay__traning-image
                        img.banner-pay__traning-pic(src="images/tmp/plan-training-3.png")
            
                .banner-pay__traning-content
                    h4.banner-pay__traning-head Название комплекса
                    .banner-pay__traning-subhead Начальный
            .banner-pay__control
                .banner-pay__buttons
                    button.button.button--purple-border.button--print.button--small Распечатать
                    a.button.button--red-border.button--small(href="#") К тренеровкам

                .dropdown.banner-pay__dropdown
                    button.button.button--more.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                        li
                            a(href="#") Остановить
                        li
                            a(href="#") Удалить


    .container.p-none
        .check-group.check-group--purple.check-group--tabs.check-group--traning
            label.check-group__button.tabSectionButton.active(onclick="universalTab(event, 'tab1')") Первая неделя
            label.check-group__button.tabSectionButton(onclick="universalTab(event, 'tab2')") Вторая неделя
        

    .tabSectionContent
        .column-slide.lk-traning#tab1.tabSectionItem.showed
            .container
                .week.week--slider
                    .week__column.week__column--slide
                        .week__head
                            .week__title Название комплекса
                            .week__day 1 день

                        .week__stage
                            .week__mealtime Разминка
                            .week__dish-list
                                .dish
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-1.jpg")

                                        .dish__content
                                            .dish__head Подъём колена к груди
                                            .dish__footer
                                                span.dish__college 6 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-2.jpg")

                                        .dish__content
                                            .dish__head Планка на прямых руках
                                            .dish__footer
                                                span.dish__mass 30 секунд

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-3.jpg")

                                        .dish__content
                                            .dish__head Покачивание вперёд и назад в планке
                                            .dish__footer
                                                span.dish__mass 30 секунд / 16 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-4.jpg")

                                        .dish__content
                                            .dish__head Подъём ноги
                                            .dish__footer
                                                span.dish__mass 16 раз / Левая сторона


                    .week__column.week__column--slide
                        .week__head
                            .week__title Название комплекса
                            .week__day 2 день

                        .week__stage
                            .week__mealtime Разминка
                            .week__dish-list
                                .dish
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-1.jpg")

                                        .dish__content
                                            .dish__head Подъём колена к груди
                                            .dish__footer
                                                span.dish__college 6 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-2.jpg")

                                        .dish__content
                                            .dish__head Планка на прямых руках
                                            .dish__footer
                                                span.dish__mass 30 секунд

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-3.jpg")

                                        .dish__content
                                            .dish__head Покачивание вперёд и назад в планке
                                            .dish__footer
                                                span.dish__mass 30 секунд / 16 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-4.jpg")

                                        .dish__content
                                            .dish__head Подъём ноги
                                            .dish__footer
                                                span.dish__mass 16 раз / Левая сторона


                    .week__column.week__column--slide
                        .week__head
                            .week__title Название комплекса
                            .week__day 3 день

                        .week__stage
                            .week__mealtime Разминка
                            .week__dish-list
                                .dish
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-1.jpg")

                                        .dish__content
                                            .dish__head Подъём колена к груди
                                            .dish__footer
                                                span.dish__college 6 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-2.jpg")

                                        .dish__content
                                            .dish__head Планка на прямых руках
                                            .dish__footer
                                                span.dish__mass 30 секунд

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-3.jpg")

                                        .dish__content
                                            .dish__head Покачивание вперёд и назад в планке
                                            .dish__footer
                                                span.dish__mass 30 секунд / 16 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-4.jpg")

                                        .dish__content
                                            .dish__head Подъём ноги
                                            .dish__footer
                                                span.dish__mass 16 раз / Левая сторона


                    .week__column.week__column--slide
                        .week__head
                            .week__title Название комплекса
                            .week__day 4 день

                        .week__stage
                            .week__mealtime Разминка
                            .week__dish-list
                                .dish
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-1.jpg")

                                        .dish__content
                                            .dish__head Подъём колена к груди
                                            .dish__footer
                                                span.dish__college 6 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-2.jpg")

                                        .dish__content
                                            .dish__head Планка на прямых руках
                                            .dish__footer
                                                span.dish__mass 30 секунд

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-3.jpg")

                                        .dish__content
                                            .dish__head Покачивание вперёд и назад в планке
                                            .dish__footer
                                                span.dish__mass 30 секунд / 16 раз

                                .dish
                                    
                                    a.dish__row(href="#" data-toggle="modal" data-target="#traning-modal")
                                        .dish__image
                                            img.dish__img(src="images/tmp/pic-training-4.jpg")

                                        .dish__content
                                            .dish__head Подъём ноги
                                            .dish__footer
                                                span.dish__mass 16 раз / Левая сторона


        .lk-traning#tab2.tabSectionItem
            .container
                h1 tab2

            