extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .banner-pay.banner-pay--full
        .container.banner-pay__container
            .banner-pay__text
                .banner-pay__traning
                    .banner-pay__traning-image
                        img.banner-pay__traning-pic(src="images/tmp/lk-french-diet.png")
            
                .banner-pay__traning-content
                    h4.banner-pay__traning-head Французская диета
                    .banner-pay__progressbar
                        .progressbar
                            .progressbar__load(style="width: 10%")

                        .banner-pay__traning-subhead
                            | осталось 3 дня
            .banner-pay__control
                .banner-pay__buttons
                    button.button.button--purple-border.button--print.button--small Распечатать
                    a.button.button--red-border.button--small(href="#") К тренеровкам

                .dropdown.banner-pay__dropdown
                    button.button.button--more.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                        li
                            a(href="#") Остановить
                        li
                            a(href="#") Удалить


    .container
        .banner-pay
            .banner-pay__text
                | Чтобы составлять неограниченнок количество полных планов диет и тренировок, необходимо оплатить подписку на сервис

            .banner-pay__control
                .banner-pay__group-sum
                    .banner-pay__first
                        | 990₽
                        span Первый месяц

                    .banner-pay__second
                        | 190₽
                        span Со второго месяца

                button.button.button--purple-border.button--payment Оплатить


    .container
        .week.week--lk
            +week-lk('Понедельник', '1 день ')(class="week__column--day week__column--lk")
            +week-lk('Вторник', '2 день ')(class="week__column--day week__column--lk disabled")
            +week-lk('Среда', '3 день ')(class="week__column--day week__column--lk disabled")