extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container
        .banner-pay
            .banner-pay__text
                | Чтобы составлять неограниченнок количество полных планов диет и тренировок, необходимо оплатить подписку на сервис

            .banner-pay__control
                .banner-pay__group-sum
                    .banner-pay__first
                        | 990₽
                        span Первый месяц

                    .banner-pay__second
                        | 190₽
                        span Со второго месяца

                button.button.button--purple-border.button--payment Оплатить


        h1 Татьяна, ваш план на сегодня
        .week.week--lk
            +week-lk('Французская диета', '2 день ')(class="week__column--lk")

            .week__column.week__column--lk.week__column--append-traning

                .info-card.info-card--dashed.info-card--week
                    .info-card__title Мои тренировки
                    
                    .info-card__image
                        img.info-card__img(src="images/svg-pic/append-traning.svg")
                    
                    button.button.button--red-border(type="button" data-toggle="modal" data-target="#indicators-append") Добавить тренировки