extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container
        .banner-pay
            .banner-pay__text
                | Чтобы составлять неограниченнок количество полных планов диет и тренировок, необходимо оплатить подписку на сервис

            .banner-pay__control
                .banner-pay__group-sum
                    .banner-pay__first
                        | 990₽
                        span Первый месяц

                    .banner-pay__second
                        | 190₽
                        span Со второго месяца

                button.button.button--purple-border.button--payment Оплатить


        h1 Татьяна, ваш план на сегодня
        .week.week--lk
            +week-lk('Французская диета', '2 день ')(class="week__column--dubl")

            .week__column.week__column--dubl
                .week__head
                    .week__title Название комплекса
                    .week__day 2 день

                .week__stage
                    .week__mealtime Разминка
                    .week__dish-list
                        .dish.active
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-1.jpg")

                                .dish__content
                                    .dish__head Подъём колена к груди
                                    .dish__footer
                                        span.dish__college 6 раз

                        .dish
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-2.jpg")

                                .dish__content
                                    .dish__head Планка на прямых руках
                                    .dish__footer
                                        span.dish__mass 30 секунд

                        .dish
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-3.jpg")

                                .dish__content
                                    .dish__head Покачивание вперёд и назад в планке
                                    .dish__footer
                                        span.dish__mass 30 секунд / 16 раз

                        .dish
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-4.jpg")

                                .dish__content
                                    .dish__head Подъём ноги
                                    .dish__footer
                                        span.dish__mass 16 раз / Левая сторона


                .week__stage
                    .week__mealtime Курпус
                    .week__dish-list
                        .dish.active
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-1.jpg")

                                .dish__content
                                    .dish__head Велосипед с прямыми ногами
                                    .dish__footer
                                        span.dish__mass 30 секунд

                        .dish
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-2.jpg")

                                .dish__content
                                    .dish__head Мёртвый жук
                                    .dish__footer
                                        span.dish__mass 40 секунд


                        .dish
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-3.jpg")

                                .dish__content
                                    .dish__head Маятник
                                    .dish__footer
                                        span.dish__mass 30 раз

                        .dish
                            
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-training-4.jpg")

                                .dish__content
                                    .dish__head Подъём ноги
                                    .dish__footer
                                        span.dish__mass 16 раз / Левая сторона


                