extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block header
    include _parts/_header-lk

block main
    .container.container--padding
        .info-card-list
            .info-card.info-card--dashed
                .info-card__title Новая тренировка
                
                .info-card__image
                    img.info-card__img(src="images/svg-pic/append-traning.svg")
                
                button.button.button--red-border(type="button" data-toggle="modal" data-target="#indicators-append") Добавить тренировки

            .info-card
                .dropdown.dropdown--info-card
                    button.button.button--more.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                        li
                            a(href="#") Остановить
                        li
                            a(href="#") Удалить

                .info-card__image
                    img.info-card__img(src="images/tmp/complex.png")

                h3.info-card__title 
                    | Название комплекса
                    .info-card__subtitle-mobile 3 дня: с 10 апр — 13 апр 2019


                button.button.button--purple.info-card__button.button--pause Остановить

