extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container
        .banner-pay
            .banner-pay__text
                | Чтобы составлять неограниченнок количество полных планов диет и тренировок, необходимо оплатить подписку на сервис

            .banner-pay__control
                .banner-pay__group-sum
                    .banner-pay__first
                        | 990₽
                        span Первый месяц

                    .banner-pay__second
                        | 190₽
                        span Со второго месяца

                button.button.button--purple-border.button--payment Оплатить


        h1 Страница с примером модальника


        
    .modal.fade#change-accounting.change-accounting.modal--classic.modal--400(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
            .modal-dialog.modal-xs(role='document') 
                    button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                    .modal-content.modal-content--center
                        img.img-responsive(src="images/tmp/change-accounting.png")

                        h3 Учет изменений

                        p 
                            | Во время диеты, не забывайте вносить показания вашего веса, чтобы можно было проследить, как менялись ваши показатели.

                        p
                            b
                                | Как взвешиваться правильно?
                            br
                            | Лучше всего взвешиваться с утра, проснулись, умылись и перед завтраком, встаньте на весы и запишите показатели в журнал.

                        a.button.button--success(href="#") Указать текущий вес