doctype html
html
		head
				meta(charset="utf-8")
				title html
				include _parts/_head
		body.login-page
				include _parts/_header

				.wrapper
						form.login
								h4.login__head Войти в личный кабинет
								label.login__line
										.login__text Электронная почта
										input.form-control.login__input(type="email")

								label.login__line
										.login__text Пароль
										input.form-control.login__input(type="password")

								label.login__line
										button.button.button--success.login__button Войти

								hr

								.login__line
										| У вас ещё нет плана диет?
										a(href="/")  Составить план
										br
										| Забыли пароль?
										a(href="/")  Восстановить доступ

				include _parts/_scripts
