doctype html
html
		head
				meta(charset="utf-8")
				title html
				include _parts/_head
		body.login-page
				include _parts/_header

				.wrapper
						form.login
								h4.login__head Пароль сброшен
								.login__line
										| Мы отправили инструкции на указанную почту.
										br
										| Выполнив их вы получити доступ!
								label.login__line
										button.button.button--success.login__button Ввести пароль

								hr

								.login__line
										| Вспомнили пароль?
										a(href="/")  Войти
										br
										| У вас ещё нет плана диет?
										a(href="/")  Составить план

				include _parts/_scripts
