extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container.container--padding
        .tabSection.tabSection--mobile
            .tabSectionButtons.tabSectionButtons--links
                label.tabSectionButton.active(onclick="universalTab(event, 'tab1')") Платежи
                label.tabSectionButton(onclick="universalTab(event, 'tab2')")  / История
            
            .tabSectionContent
                #tab1.tabSectionItem.showed

                    h2 Платежи

                    form.column-form
                        .column-form__content
                            .form-line
                                .form-line__info
                                    h4.form-line__head Метод оплаты
                                    .form-line__subtitle
                                        | В зависмости от метода оплаты
                                        | вы смоежете оформить постоянную подписку или ежемесечно пополнять счёт. 

                                .form-line__content
                                    .form-line__group.form-line__group--100
                                        label.form-line__label Тип оплаты

                                        .check-group
                                            label.check-group__button.active Картой
                                                input.check-group__input(type="radio", name="typePay", checked)

                                            label.check-group__button Переводом
                                                input.check-group__input(type="radio", name="typePay")
                                            

                                    .form-line__group.form-line__group--100
                                        label.form-line__label Номер карты
                                        input.form-control.form-control--card.form-line__input(type="text", placeholder="0000 0000 0000 0000")

                                    .form-line__row
                                        .form-line__row.form-line__row--50.form-line__row--mobile-100
                                            .form-line__group.form-line__group--100
                                                label.form-line__label Владелец карты
                                                input.form-control.form-line__input(type="text", placeholder="IVAN IVANOV")

                                        .form-line__row.form-line__row--50.form-line__row--mobile-100
                                            .form-line__group.form-line__group--50
                                                label.form-line__label Дата
                                                input.form-control.form-line__input(type="text")

                                            .form-line__group.form-line__group--50
                                                label.form-line__label CCV
                                                
                                                .form-control-wrapper
                                                    input.form-control.form-line__input.form-control-wrapper__input(type="text")
                                                    a.form-control-wrapper__button.form-control-wrapper__button--help(data-toggle="modal" data-target="#card-ccv-help-modal")

                                    .form-line__row
                                        .form-line__group.form-line__group--100
                                            label.check
                                                input(name="feedback1", type="checkbox")
                                                span.cr
                                                | Привязать карту
                                                span.text-danger.text-small  + 1 месяц в подарок

                                            .form-line__subtitle.form-line__subtitle--checkbox.italic
                                                | Самый удобный вариант. Вы не беспокоитесь об оплате мы сами произведем оплату с вашей карты перводительно вас уведомив. 

                            .form-line.form-line--border
                                .form-line__info
                                    h4.form-line__head Сумма оплаты

                                .form-line__content
                                    .payment-sum
                                        .payment-sum__row
                                            .payment-sum__key
                                                | Подписка на ДиетЖурнал
                                                .payment-sum__subhead С третьего месяца стоимость 190₽ 

                                            .payment-sum__value
                                                | 1119
                                                span ₽/мес.
                                

                        .column-form__footer
                            .form-line
                                .form-line__info
                                .form-line__content
                                    .form-line__group.form-line__group--50
                                        button.button.button--success.button--full(type="submit") Привязать карту

                #tab2.tabSectionItem
                    h4 История платежей

                    table.table-responsive
                        thead
                            tr
                                th(scope="col") Дата
                                th(scope="col") Номер платежа
                                th(scope="col") Стоимость
                                th(scope="col") Способ оплаты
                        tbody
                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa
                            
                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa

                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa

                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa
                            