extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container.container--padding
        .success-page.text-center
            img.img-responsive.margin-center.success-page__image(src="images/svg-pic/checked.svg")
            h4.success-page__head Подписка оформлена!
            p Вы оплатили подписку до 20 июня 2019г. Можете создавать неограниченное кол-во планов диет и тренировок.

            .success-page__button-group
                a.button.button--success.button--sm(href="#") Создать план диет
                a.button.button--success.button--sm(href="#") Создать план тренировок
                