extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container.container--padding
        h2 Платежи

        form.column-form
            .column-form__content
                .form-line
                    .form-line__info
                        h4.form-line__head Метод оплаты
                        .form-line__subtitle
                            | В зависмости от метода оплаты
                            | вы смоежете оформить постоянную подписку или ежемесечно пополнять счёт. 

                    .form-line__content
                        .form-line__group.form-line__group--100
                            label.form-line__label Тип оплаты

                            .check-group
                                label.check-group__button Картой
                                    input.check-group__input(type="radio", name="typePay")

                                label.check-group__button.active Переводом
                                    input.check-group__input(type="radio", name="typePay", checked)
                                

                        .form-line__group.form-line__group--100
                            .check-group.check-group--separate.check-group--33
                                label.check-group__button.check-group__button--webmony WebMoney
                                    input.check-group__input(type="radio", name="service")

                                label.check-group__button.check-group__button--robokassa.mobile-hidden Robokassa
                                    input.check-group__input(type="radio", name="service")

                                label.check-group__button.check-group__button--alpha-click.mobile-hidden Альфа-Клик
                                    input.check-group__input(type="radio", name="service")

                                label.check-group__button.check-group__button--paypal PayPal
                                    input.check-group__input(type="radio", name="service")

                            
                        
                .form-line.form-line--border
                    .form-line__info
                        h4.form-line__head Сумма оплаты

                    .form-line__content
                        .payment-sum
                            .payment-sum__row
                                .payment-sum__key
                                    | Подписка на ДиетЖурнал
                                    .payment-sum__subhead С третьего месяца стоимость 190₽ 

                                .payment-sum__value
                                    | 1119
                                    span ₽/мес.
                    

            .column-form__footer
                .form-line
                    .form-line__info
                    .form-line__content
                        .form-line__group.form-line__group--50
                            button.button.button--success.button--full(type="submit") Оплатить

                