extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container.container--padding
        .tabSection.tabSection--mobile
            .tabSectionButtons.tabSectionButtons--links
                label.tabSectionButton.active(onclick="universalTab(event, 'tab1')") Платежи
                label.tabSectionButton(onclick="universalTab(event, 'tab2')")  / История
            
            .tabSectionContent
                #tab1.tabSectionItem.showed

                    h2 Платежи

                    form.column-form
                        .column-form__content
                            .form-line
                                .form-line__info
                                    h4.form-line__head Привязанные карты
                                    .form-line__subtitle
                                        | В зависмости от метода оплаты
                                        | вы смоежете оформить постоянную подписку или ежемесечно пополнять счёт. 
                                .form-line__content
                                    .tieds-cards
                                        .tieds-cards__item
                                            .tieds-cards__image
                                                img.img-responsive(src="images/tmp/tieds-cards.png")

                                            .tieds-cards__content
                                                .tieds-cards__head 5321    ••••    ••••    1548
                                                .tieds-cards__subhead 05/22
                                
                                            .tieds-cards__check
                                                label.check
                                                    input(name="feedback2", type="checkbox")
                                                    span.cr

                                    a.button.button--append-link(href="#") Добавить карту

                        .column-form__footer
                            .form-line
                                .form-line__info
                                .form-line__content
                                    .form-line__group.form-line__group--50
                                        button.button.button--transparent(type="submit") Другой способ

                #tab2.tabSectionItem
                    h4 История платежей

                    table.table-responsive
                        thead
                            tr
                                th(scope="col") Дата
                                th(scope="col") Номер платежа
                                th(scope="col") Стоимость
                                th(scope="col") Способ оплаты
                        tbody
                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa
                            
                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa

                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa

                            tr
                                td(data-label="Дата") 20 января, 2019
                                td(data-label="Номер платежа") #110
                                td(data-label="Стоимость") 1119 ₽
                                td(data-label="Способ оплаты") robokassa
                            