extends _layout/lk-layout.jade

block config
    -var bodyClass='lk-page'
    -var pageTitle = 'Личный кабинет'

block styles
    title Здесь можно писать подключение стилей

block header
    include _parts/_header-lk

block main
    .container.container--padding
        h2 Настройки

        form.column-form
            .column-form__content
                .form-line
                    .form-line__info
                        h4.form-line__head Персональная информация

                    .form-line__content
                        .form-line__row
                            .form-line__group.form-line__group--50
                                label.form-line__label Имя
                                input.form-control.form-line__input(type="text" placeholder="Как вас зовут?")

                            .form-line__group.form-line__group--50
                                label.form-line__label Пол

                                .check-group
                                    label.check-group__button Мужской
                                        input.check-group__input(type="radio", name="gender")

                                    label.check-group__button Женский
                                        input.check-group__input(type="radio", name="gender")
                                    

                .form-line
                    .form-line__info
                    .form-line__content
                        .form-line__row
                            .form-line__group.form-line__group--50
                                label.form-line__label Дата рождения 
                                input.form-control.form-control--date.form-line__input(type="text")

                            .form-line__group.form-line__group--25
                                label.form-line__label Рост (см.)
                                input.form-control.form-line__input(type="text")

                            .form-line__group.form-line__group--25
                                label.form-line__label Вес (кг.)
                                input.form-control.form-line__input(type="text")

                .form-line
                    .form-line__info
                    .form-line__content
                        .form-line__group.form-line__group--100
                            label.form-line__label Электронная почта
                            input.form-control.form-line__input(type="email" placeholder="e-mail")

                .form-line.form-line--border
                    .form-line__info
                        h4.form-line__head Изменить пароль
                    .form-line__content
                        .form-line__row
                            .form-line__group.form-line__group--50
                                label.form-line__label Новый пароль
                                input.form-control.form-line__input(type="password")

                            .form-line__group.form-line__group--50
                                label.form-line__label Подтвердить новый пароль
                                input.form-control.form-line__input(type="password")

                            

            .column-form__footer
                .form-line
                    .form-line__info
                    .form-line__content
                        .form-line__group.form-line__group--50
                            button.button.button--success.button--full(type="submit") Сохранить
                