doctype html
html
    head
        meta(charset="utf-8")
        title html
        include _parts/_head
    body
        include _parts/_header
        section.header-banner
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head Популярные диеты
                    .header-banner__text
                        | Мы разработали планы для 7 основных видов диет и позже добавим еще. Придерживатесь наших планов и обязательно достигните результата!

                .header-banner__image
                    img(src="images/tmp/header-done.png")

        section.info-list
            .info-list__wrapper
                aa.info-list__item(href="#")
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-protein-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Белковая диета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Белковая диета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

                a.info-list__item(href="#")
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-paleo-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Палеодиета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Палеодиета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

                a.info-list__item(href="#").active
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-african-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Африканская диета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Африканская диета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

                a.info-list__item(href="#")
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-asia-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Азиатская диета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Азиатская диета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

                a.info-list__item(href="#")
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-france-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Французская диета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Французская диета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

                a.info-list__item(href="#")
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-mediterra-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Средиземноморская диета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Средиземноморская диета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

                a.info-list__item(href="#")
                    .info-list__header-line.accordion.accordion--mobile
                        .info-list__image
                            img(src="images/tmp/info/info-veg-diet.png")
                        h3.info-list__head.info-list__head--mobile-show Вегетарианская диета
                    .info-list__content
                        h3.info-list__head.info-list__head--mobile-hide Вегетарианская диета
                        .info-list__text 
                            | Круассан с утра и чашечка кофе- это лишь мечта? А вот и нет, это ваше утро при французской диете. Несмотря на то, что диета предполагает ограничение в еде, при этом типе питания можно легко позволить себе такой завтрак или легкий бутерброд с кусочком сыра. Кинодива Бриджит Бардо является поклонницей этой диеты, ведь для достижения результатов нужно подходить не только с умом, но и с любовью к себе. Каждый раз, наслаждаясь трапезой, вы мысленно перенесетесь на пару недель во Францию, где ваши мечты о тонкой талии станут реальностью.
                            .button.button--success.info-list__button(href="#") Подробнее о белковой диете

        include _blocks/newsletter

        include _parts/_footer

        include _parts/_scripts
