doctype html
html
	head
		meta(charset="utf-8")
		title html
		include _parts/_head
	body
		include _parts/_header
		.wrapper
			.head.head--center
				.container
					img.head__img(src="images/tmp/pic-protein-diet.png")
					h1.head__header Белковая диета

			.text-container
				p Наука о спортивных тренировках и функционировании человеческого тела развивается очень давно и накопила огромное количество знаний, разобраться в которых возможно только профессионалам. Мне очень приятно, когда люди занимаются спортом или, хотя бы, задумываются о том, чтобы начать заниматься :) . Поэтому, с помощью этого блога, я помогу вам получить необходимую информацию, чтобы вы могли совершенствовать свое тело. Самое главное – я в простой и понятной форме объясню, что же именно нужно делать 						для достижения вашей цели.

			img.banner(src="images/tmp/baner1.png")

			.text-container
				p Физические упражнения улучшают качество жизни, сильное и здоровое тело дает вам больше возможностей. Спорт меняет в лучшую сторону не только ваше тело, но и вашу жизнь. Один из моих учителей в академии спорта говорил нам: «Если Вы будете регулярно заниматься спортом, я не могу вам гарантировать на сто процентов, что вы проживете дольше, но я могу гарантировать, что за последним стаканом воды вы встанете сами…»

			.text-container.text-container--double

			.text-container
				h2
					| У нас 7 идеальных диет
					br
					| и 167 эффективных упражнений!

			.text-container
				| Физические упражнения улучшают качество жизни, сильное и здоровое тело дает вам больше возможностей. Спорт меняет в лучшую сторону не только ваше тело, но и вашу жизнь. Один из моих учителей в академии спорта говорил нам: «Если Вы будете регулярно заниматься спортом, я не могу вам гарантировать на сто процентов, что вы проживете дольше, но я могу гарантировать, что за последним стаканом воды вы встанете сами…»

			.text-container
				.quote
					.quote__info
						.quote__big 17 460 420
						.quote__small Зарегестрировано пользователей
					.quote__text Твое здоровье — чистый воздух, вода и пища. Вставай утром с радостью, ложись спать с улыбкой. Ты радуешься, улыбаешься — значит, ты здоров. Не лечи болезнь, лечи свою жизнь, живи по законам природы, разума. Когда нет здоровья, молчит мудрость, не может расцвести искусство, не играют силы, бесполезно богатство и бессилен разум. Геродот
		
			.text-container
				| Все права на материалы и статьи опубликованные на данном сайте защищены. Никакая
				| часть приведенных статей не может быть воспроизведена в какой бы ни было форме 
				| без письменного разрешения владельца авторских прав Сивец С.В.
		
			.text-container
				.subtext.subtext--double
					.subtext__item
						.subtext__header Колонка первая
						.subtext__text 
							| Наука о спортивных тренировках 
							| и функционировании человеческого тела развивается очень давно и накопила огромное количество знаний, разобраться
							| в которых возможно только профессионалам. Мне очень приятно, когда люди занимаются спортом или, хотя бы, задумываются о том, чтобы начать заниматься :) . 
					.subtext__item
						.subtext__header Колонка вторая
						.subtext__text
							| Физические упражнения улучшают качество жизни, сильное и здоровое тело дает
							| вам больше возможностей.Мне очень приятно, когда люди занимаются спортом или, хотя бы, задумываются о том, чтобы начать заниматься :) . 

			.text-container
				.subtext
					.subtext__item
						.subtext__header Колонка первая
						.subtext__text
							| В вашем распоряжении удобная система генерации диет и упражнений.
							| Главное преимущество - инновационная возможность выбора продуктов для диеты
							| и комплексный подход к коррекции веса. Индивидуальные рационы диет и тренировки доступны прямо сейчас. Сделайте первый шаг, выберите свой план.

			.text-container
				a.button.button--success(href="#") Составить план для белковой диеты

			a.page-nav(href="#")
				.page-nav__image
					img(src="images/tmp/pic-protein-diet.png")
				.page-nav__content
					.page-nav__button Далее
					.page-nav__text Палеодиета

			include _blocks/subscribe
			

		include _parts/_footer

		include _parts/_scripts
