doctype html
html
		head
				meta(charset="utf-8")
				title html
				include _parts/_head
		body.login-page
				include _parts/_header

				.wrapper
						form.login
								h4.login__head Восстановить доступ
								label.login__line
										.login__text Электронная почта
										input.form-control.login__input(type="email")

								label.login__line
										button.button.button--success.login__button Сбросить

								hr

								.login__line
										| Вспомнили пароль?
										a(href="/")  Войти
										br
										| У вас ещё нет плана диет?
										a(href="/")  Составить план

				include _parts/_scripts
