doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head Стремимся стать лучшими!
                    .header-banner__text
                        | Мы собираем все отзывы очень тщательно, потому что считаем, что это лучший источник обратной связи. 
                        | Ваши отзывы помогают делать наш сервис лучше. 

                .header-banner__image
                    img(src="images/tmp/marginalia-list-is-empty.png")

        section.wrapper
            h2.section-header 
                | Вот что о нас говорят, наши пользователи:
            
            .review
                .review__image
                    a.review__name(href="#")
                        | Эдик Харламов 
                .review__content
                    .review__text Ну, мой друг, ты дал мне ответ, которого я никогда не ожидал. Спасибо за ваше время и вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды на работу. Мне очень нравится, если кликай может отправить сообщение в Google. 
                    .review__footer

            .review
                .review__image
                    a.review__name(href="#")
                        | mishasturov
                .review__content
                    .review__text Мне очень нравится, если кликай может отправить сообщение в Google. Потому что вы уже отлично справляетесь. Извините за мой английский, это не так хорошо. которого я никогда не ожидал. Спасибо за ваше время и вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды на работу. Мне очень нравится, если кликай может отправить сообщение в Google. Потому что вы уже отлично справляетесь. Извините за мой английский, это не так хорошо.
                    .review__footer

            a.accordion.accordion--table-show.button.button--purple-border.button--mobile-full.button--table-margin.button--center Показать еще
            .accordion-content.accordion-content--table
                .review
                    .review__image
                        a.review__name(href="#")
                            | Vika059
                    .review__content
                        .review__text Спасибо за ваше время и вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды на работу. Мне очень нравится, если кликай может отправить сообщение в Google. Потому что вы уже отлично справляетесь. Извините за мой английский, это не так хорошо.
                        .review__footer

                .review
                    .review__image
                        a.review__name(href="#")
                            | Мария Терехова
                    .review__content
                        .review__text летом 2017 Ну, мой друг, ты дал мне ответ, которого я никогда не ожидал. Спасибо за ваше время и вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды на работу. Мне очень нравится, если кликай может отправить сообщение в Google. Потому что вы уже отлично справляетесь. Теперь у меня есть лучшее чувство и немного больше надежды на работу. Мне очень нравится, если кликай может отправить сообщение в Google. Потому что вы уже отлично справляетесь. Извините за мой английский, это не так хорошо.
                        .review__footer

                .review
                    .review__image
                        a.review__name(href="#")
                            | Елена Семенова
                    .review__content
                        .review__text Ну, мой друг, ты дал мне ответ, которого я никогда не ожидал. Спасибо за ваше время и вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды на работу. 
                        .review__footer

                .review
                    .review__image
                        a.review__name(href="#")
                            | volinckov.max
                    .review__content
                        .review__text Спасибо за ваше время и вашу профессиональную поддержку. Теперь у меня есть лучшее чувство и немного больше надежды на работу. Мне очень нравится, если кликай может отправить сообщение в Google. Потому что вы уже отлично справляетесь. Извините за мой английский, это не так хорошо.
                        .review__footer

            .feedback-leave
                .feedback-leave__header
                    | Ваш отзыв
                .feedback-leave__text Чтобы оставить отзыв необходимо авторизоваться

                .feedback-leave__form
                    .feedback-leave__form-header Оцените наш сервис:
                    .feedback-leave__checklist
                        label.check
                            input(name="feedback1", type="radio")
                            span.cr
                            | Плохо 

                        label.check
                            input(name="feedback1", type="radio")
                            span.cr
                            | Удовлетворительно

                        label.check
                            input(name="feedback1", type="radio")
                            span.cr
                            | Хорошо 

                        label.check
                            input(name="feedback1", type="radio")
                            span.cr
                            | Отлично 

                        label.check
                            input(name="feedback2", type="checkbox")
                            span.cr
                            | Чексбокс

                        label.check
                            input(name="feedback2", type="checkbox")
                            span.cr
                            | Чексбокс2

                    textarea.form-control.feedback-leave__textarea#t1(name="", cols="30", rows="10", placeholder="Hапишите несколько слов о нашем сервисе, что понравилось, а где нам стоит уделить больше внимания...")
                    
                    button.button.button--success(type="submit") Оставить отзыв

            include _blocks/newsletter

        include _parts/_footer

        include _parts/_scripts
