doctype html
html
    head
        include _parts/_head
        title Сладкая манная каша
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner.header-banner--default
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head Сладкая манная каша
                    .header-banner__symbol Завтраки
        section.wrapper
            .text-container
                img(src="images/tmp/semolina.jpg")

                p
                    | Куриная грудка является диетическим мясом, но если мы будем жарить ее в масле, чуда не произойдет. А если еще курочка будет с кожей, то мы ни то, что пользу принесем организму, мы ему навредим. Ведь как известно, в кожице курицы очень много жира.  Но чудеса всё таки случаются, бывает и такое, что уже готовое блюдо по своей энергетической и пищевой ценности превосходит даже продукт в сыром виде. Куриная грудка в мятном маринаде. 

                h4.accordion.accordion--mobile
                    | Энергитическая ценность на процию

                ul.calories-table.calories-table--mobile-hidden
                    li.calories-table__item
                        dl.calories-table__item-attribute
                            dt.calories-table__item-key Калорийность
                            dd.calories-table__item-value
                                span 1262
                                | ккал

                    li.calories-table__item
                        dl.calories-table__item-attribute
                            dt.calories-table__item-key Белки
                            dd.calories-table__item-value
                                span 58,6
                                | грамм

                    li.calories-table__item
                        dl.calories-table__item-attribute
                            dt.calories-table__item-key Жиры
                            dd.calories-table__item-value
                                span 70,3
                                | грамм

                    li.calories-table__item
                        dl.calories-table__item-attribute
                            dt.calories-table__item-key Углеводы
                            dd.calories-table__item-value
                                span 87,2
                                | грамм

                h4.accordion.accordion--mobile
                    | Ингредиенты

                ul.composition-products
                    li.composition-products__item
                        .composition-products__item-key Cалатный микс
                        .composition-products__item-value 200 г

                    li.composition-products__item
                        .composition-products__item-key Помидоры черри
                        .composition-products__item-value 150 г

                    li.composition-products__item
                        .composition-products__item-key Перец болгарский
                        .composition-products__item-value 1 шт.

                    li.composition-products__item
                        .composition-products__item-key Пампиньоны свежие
                        .composition-products__item-value 1 столовая ложка

                    li.composition-products__item
                        .composition-products__item-key Сливки 30%-ные
                        .composition-products__item-value по вкусу

                h4.accordion.accordion--mobile
                    | Инструкция
            
                ul.composition-products.composition-products--step
                    li.composition-products__item
                        .composition-products__item-key 1 Шаг
                        .composition-products__item-value Добавьте бульон и коньяк, доведите до кипения и готовьте 2 минуты. Добавьте сливки, сметану и готовьте примерно 3 минуты, пока слегка не загустеет. Затем добавьте горчицу.

                    li.composition-products__item
                        .composition-products__item-key 2 Шаг
                        .composition-products__item-value Добавьте бульон и коньяк, доведите до кипения и готовьте 2 минуты. Добавьте сливки, сметану и готовьте примерно 3 минуты, пока слегка не загустеет. Затем добавьте горчицу.

                    li.composition-products__item
                        .composition-products__item-key 3 Шаг
                        .composition-products__item-value Тем временем, сварите лапшу в кипящей подсоленной воде до готовности. Слейте и верните в кастрюлю. Перемешайте с петрушкой и 1 ложкой оливкового масла. Посолите и поперчите и разложите по тарелкам

                    li.composition-products__item
                        .composition-products__item-key 4 Шаг
                        .composition-products__item-value Тонко нарежьте мясо и выложите на лапшу, сверху полейте соусом.

            hr

            h4.section-header Вам будет интересно

            ul.best-recepies__list.best-recepies__list--mobile-hidden
                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/pic-recepie-5.jpg")
                    h3.best-recepies__item-title Рулеты из лаваша
                    p.best-recepies__item-desc
                        | Единственный в мире фрукт, содержащий отрицательный (анионный) заряд, помощник №1 в лечении вирусных и простудных заболеваний
                    p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/pic-recepie-6.jpg")
                    h3.best-recepies__item-title Салат с авокадо
                    p.best-recepies__item-desc
                        | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                    p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/pic-recepie-3.jpg")
                    h3.best-recepies__item-title Запеканка творожная
                    p.best-recepies__item-desc
                        | Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...
                    p.best-recepies__item-calorie 150 ккл

                li.best-recepies__item
                    figure.best-recepies__item-pic
                        img(src="images/tmp/pic-recepie-4.jpg")
                    h3.best-recepies__item-title Кулич шафрановый
                    p.best-recepies__item-desc
                        | Классика советского закусочного стола! Ну не могли мы пройти
                        | мимо, добавили всего один новый ...
                    p.best-recepies__item-calorie 150 ккл

        include _blocks/subscribe

        include _parts/_footer

        include _parts/_scripts
