doctype html
html
    head
        include _parts/_head
    body
        include _parts/_header
        include _blocks/sub-header
        section.header-banner
            .header-banner__wrapper
                .header-banner__content 
                    h1.header-banner__head Страницы с дизайном
                .header-banner__image
                    img(src="images/tmp/header-shopping.png")

        section.wrapper.best-recepies
            h2.section-header Страницы которые есть

            .screenshots
                a(href="/popular-diets.html")
                    h3 Популярные диеты
                    img(src="images/tmp/screenshots/популярные_диеты.jpg")

                a(href="/first-meal.html")
                    h3 Первые блюда
                    img(src="images/tmp/screenshots/первые_блюда.jpg")

                a(href="/protein.html")
                    h3 Белковая диета 
                    img(src="images/tmp/screenshots/белковая_диета.jpg")

                a(href="/base-products.html")
                    h3 База продуктов и рецептов
                    img(src="images/tmp/screenshots/база_продуктов_и_рецептов.jpg")

                 a(href="/semolina.html")
                    h3 Манная каша
                    img(src="images/tmp/screenshots/сладкая_манная_каша.jpg")

            h2 Второй этап
            .screenshots
                a(href="/exercise-base.html")
                    h3 База_упражнений
                    img(src="images/tmp/screenshots/База_упражнений.jpg")

                a(href="/warm.html")
                    h3 Разминка
                    img(src="images/tmp/screenshots/раздел_упражнений.jpg")

                a(href="/exercise-one.html")
                    h3 Одно упражнение
                    img(src="images/tmp/screenshots/одно_упражнение.jpg")

                a(href="/reviews.html")
                    h3 Отзывы
                    img(src="images/tmp/screenshots/отзывы.jpg")

                a(href="/reviews-leave.html")
                    h3 Отзывы форма обратной связи
                    img(src="images/tmp/screenshots/отзывы-форм-связи.jpg")

                a(href="/about.html")
                    h3 О проекте
                    img(src="images/tmp/screenshots/о_проекте.jpg")

                a(href="/offer.html")
                    h3 Оферта
                    img(src="images/tmp/screenshots/оферта.jpg")

                a(href="/login.html")
                    h3 Вход в личный кабинет
                    img(src="images/tmp/screenshots/логин.jpg")

                a(href="/recovery.html")
                    h3 Восстановление
                    img(src="images/tmp/screenshots/восстановление.jpg")

                a(href="/password-reset.html")
                    h3 Пароль сброшен
                    img(src="images/tmp/screenshots/пароль_сброшен.jpg")



            h2 Третий этап
            p Верстка Wizard
            
            br
            .screenshots
                a(href="/wizard-select-diet.html")
                    h3 Визард - выбор диеты
                    img(src="images/tmp/screenshots/Визард_Выбор_диеты.jpg")

                a(href="/wizard-personal-data.html")
                    h3 Визард - Личные данные
                    img(src="images/tmp/screenshots/Визард_плана диеты_Личные_данные.jpg")

                a(href="/wizard-med-data.html")
                    h3 Визард – Медецинские данные 
                    img(src="images/tmp/screenshots/Визард_Медецинские_данные.jpg")

                a(href="/wizard-diet-plan.html")
                    h3 Визард - 3 дня диеты
                    img(src="images/tmp/screenshots/Визард_диета_на_3_дня.jpg")

                a(href="/wizard-blocked.html")
                    h3 Блокировка
                    img(src="images/tmp/screenshots/Блокировка.jpg")


        include _parts/_footer

        include _parts/_scripts
