extends _layout/wizard-layout.jade

block config
    -var bodyClass='wizard-page'
    -var pageTitle = 'Визард'

block styles
    title Здесь можно писать подключение стилей

block header
    header.header.header--wizard
        .header__container
            .header__menu
                a.header__logo(href="/")
                    img(src="images/tmp/logo.png")

                .header__login
                    .login-widget
                        a.login-widget__link(href="#") Есипова Татьяна
                        a.login-widget__button-select(href="#")

block main
    .container.container--padding
        h2.column-form__head Оплатите подписку
        p Вы исчерапали беплатный лимит по составлению планов диет. Оплатите подписку, чтобы создать полноценный диет план и следить за правильным питанием и здоровым образом жизни.

        form.column-form
            .column-form__content
                .form-line
                    .form-line__info
                        h4.form-line__head Метод оплаты

                        p.form-line__subtitle.italic 
                            | В зависмости от метода оплаты
                            | вы смоежете оформить постоянную подписку или ежемесечно оплачивать доступ к сервису.

                    .form-line__content
                        .form-line__group.form-line__group--100
                            label.form-line__label Тип оплаты

                            .check-group
                                label.check-group__button Картой
                                    input.check-group__input(type="radio", name="typePay")

                                label.check-group__button Переводом
                                    input.check-group__input(type="radio", name="typePay")
                                
                        .form-line__group.form-line__group--100
                            label.form-line__label Номер карты
                            input.form-control.form-control--card.form-line__input(type="text", placeholder="0000 0000 0000 0000")

                        .form-line__row
                            .form-line__group.form-line__group--50
                                label.form-line__label Владелец карты
                                input.form-control.form-line__input(type="text", placeholder="IVAN IVANOV")

                            .form-line__row.form-line__row--mobile
                                .form-line__group.form-line__group--25.form-line__group--mobile-50
                                    label.form-line__label Дата
                                    input.form-control.form-line__input(type="text")

                                .form-line__group.form-line__group--25.form-line__group--mobile-50
                                    label.form-line__label CCV
                                    
                                    .form-control-wrapper
                                        input.form-control.form-line__input.form-control-wrapper__input(type="text")
                                        a.form-control-wrapper__button.form-control-wrapper__button--help(href="#")

                        .form-line__row
                            .form-line__group.form-line__group--100
                                label.check
                                    input(name="feedback1", type="checkbox")
                                    span.cr
                                    | Привязать карту
                                    span.text-danger.text-small  + 1 месяц в подарок

                                .form-line__subtitle.form-line__subtitle--checkbox.italic
                                    | Самый удобный вариант. Вы не беспокоитесь об оплате мы сами произведем оплату с вашей карты перводительно вас уведомив. 


                .form-line
                    .form-line__info.form-line__info--payment-sum
                        h4.form-line__head Сумма оплаты

                    .form-line__content
                        .payment-sum
                            .payment-sum__row
                                .payment-sum__key
                                    | Подписка на ДиетЖурнал
                                    .payment-sum__subhead С третьего месяца стоимость 190₽ 

                                .payment-sum__value
                                    | 990 
                                    span ₽/мес.

            .column-form__footer
                .form-line
                    .form-line__info 
                    .form-line__content
                        .form-line__group.form-line__group--50
                            button.button.button--success.button--full(type="submit") Оплатить
                