extends _layout/wizard-layout.jade

block config
    -var bodyClass='wizard-page'
    -var pageTitle = 'Визард'

block styles
    title Здесь можно писать подключение стилей

block main
    .container.container--padding
        section.head.head--inline
            .head__row.head__row--down
                .head__content
                    h2 Ваш бесплатный план диет на 3 дня

                    p.head__text Проверьте план сейчас и замените блюда, которые вам не подходят.  После подтверждения, вы не сможете его редактировать. Когда будете готовы нажмите «Начать диету». 

                .head__control.head__control--tablet-hide
                    a.button.button--success.button--full.button--big(href="#") Начать диету

        form.column-form
            .column-form__content
                .swiper-container.week-theme
                    .week__nav
                        .week__pagination
                        button.week__next Следующий
                    .week.swiper-wrapper
                        +week('Понедельник', '1 день ')(class="swiper-slide")
                        +week('Вторник', '2 день ')(class="swiper-slide")  
                        +week('Среда', '3 день ')(class="swiper-slide")
                
            .column-form__footer
                .form-line
                    .form-line__info
                        button.button.button--transparent(type="submit") Вернуться 
                    .form-line__content.form-line__content--right
                            button.button.button--success.button--full(type="button" data-toggle="modal" data-target="#wizard-confirm") Начать диету
                