extends _layout/wizard-layout.jade

block config
    -var bodyClass='wizard-page'
    -var pageTitle = 'Визард'

block styles
    title Здесь можно писать подключение стилей

block main
    .container.container--padding
        h2 Немноего о вас

        form.column-form
            .column-form__content
                .form-line
                    .form-line__info
                        h4.form-line__head Личные данные

                        p.form-line__subtitle.italic Внимательно заполняйте данные от этого зависит правильность расчета диеты

                    .form-line__content
                        .form-line__row
                            .form-line__group.form-line__group--50
                                label.form-line__label Имя
                                input.form-control.form-line__input(type="text")

                            .form-line__group.form-line__group--50
                                label.form-line__label Пол

                                .check-group
                                    label.check-group__button Мужской
                                        input.check-group__input(type="radio", name="gender")

                                    label.check-group__button Женский
                                        input.check-group__input(type="radio", name="gender")
                                    

                .form-line.form-line--end
                    .form-line__info
                    .form-line__content
                        .form-line__row
                            .form-line__group.form-line__group--50
                                label.form-line__label Дата рождения 
                                input.form-control.form-control--date.form-line__input(type="text")

                            .form-line__group.form-line__group--25
                                label.form-line__label Рост
                                input.form-control.form-line__input(type="text")

                            .form-line__group.form-line__group--25
                                label.form-line__label Вес
                                input.form-control.form-line__input(type="text")



                .form-line
                    .form-line__info
                        h4.form-line__head Питание и активность

                    .form-line__content
                        .form-line__group
                            label.form-line__label Активность

                            .check-line
                                input#a1.check-line__input(type="checkbox" checked)
                                label.check-line__label(for="a1")
                                .check-line__title Легкая умственная работа
                                .check-line__subtitle Офисная, не творческая, без принятия важных решений.
                            
                            .check-line
                                input#a2.check-line__input(type="checkbox" )
                                label.check-line__label(for="a2")
                                .check-line__title Тяжелая умственная работа
                                .check-line__subtitle Творческая или инженерная работа направленная на придумывание чего-то нового. К этой категории можно отнести и руководителей.
                            
                            .check-line
                                input#a3.check-line__input(type="checkbox" )
                                label.check-line__label(for="a3")
                                .check-line__title Работа средней физической тяжести
                                .check-line__subtitle Работа связана с ходьбой, перемещением и перенесением тяжестей от 1 до 10 кг.
                            
                            .check-line
                                input#a4.check-line__input(type="checkbox" )
                                label.check-line__label(for="a4")
                                .check-line__title Тяжелая физическая работа
                                .check-line__subtitle Работа связана с ходьбой, перемещением и перенесением тяжестей свыше 10 кг.
                            
                .form-line.form-line--end
                    .form-line__info
                    .form-line__content
                        .form-line__group.form-line__group--50
                            label.form-line__label Количество приемов пищи в день

                            .check-group
                                label.check-group__button 1
                                    input.check-group__input(type="radio", name="gender")

                                label.check-group__button 2
                                    input.check-group__input(type="radio", name="gender")

                                label.check-group__button 3
                                    input.check-group__input(type="radio", name="gender")
                                
                            .quote-small 
                                | Чем больше вы сможете соблюсти приёмов пищи в течении дня, тем диета будет эффективней

                .form-line
                    .form-line__info
                        h4.form-line__head Контакты

                    .form-line__content
                        .form-line__group.form-line__group--100
                            label.form-line__label Электронная почта
                            input.form-control.form-line__input(type="email")

                .form-line
                    .form-line__info
                    .form-line__content
                        .form-line__group.form-line__group--100
                            label.check
                                input(name="feedback1", type="checkbox")
                                span.cr
                                | Согласен с 
                                a.purple-link(href="#") условиями обработки персональных данных 


            .column-form__footer
                .form-line
                    .form-line__info
                        button.button.button--transparent(type="submit") Вернуться 
                    .form-line__content
                        .form-line__group.form-line__group--50
                            button.button.button--success.button--full(type="submit") Продолжить
                