extends _layout/wizard-layout.jade

block config
    -var bodyClass='wizard-page'
    -var pageTitle = 'Визард'

block styles
    title Здесь можно писать подключение стилей

block main
    .container.container--padding

        form.column-form
            .column-form__content
                .form-line
                    .form-line__info
                        h4.form-line__head.form-line__head--mobile-big Заболевания

                    .form-line__content
                        .form-line__group.form-line__group--100
                            p.form-line__text
                                | Отметьте противопоказания или наличие той или иной болезни, чтобы
                                | мы могли составить рекомендации по диете более точно.

                            .check-group.check-group--separate.check-group--type-checkbox
                                label.check-group__button Болезнь почек
                                    input.check-group__input(type="checkbox", name="med")

                                label.check-group__button Сахарный диабет
                                    input.check-group__input(type="checkbox", name="med")

                                label.check-group__button Гипертония и другие нарушения сердечного ритма
                                    input.check-group__input(type="checkbox", name="med")

                                label.check-group__button Язва желудка
                                    input.check-group__input(type="checkbox", name="med")

                                label.check-group__button Ещё какая то болезнь
                                    input.check-group__input(type="checkbox", name="med")

            .column-form__footer
                .form-line
                    .form-line__info
                        button.button.button--transparent(type="submit") Вернуться 
                    .form-line__content
                        .form-line__group.form-line__group--50
                            button.button.button--success.button--full(type="submit") Продолжить
                