extends _layout/wizard-layout.jade

block config
    -var bodyClass='wizard-page'
    -var pageTitle = 'Визард'

block styles
    title Здесь можно писать подключение стилей

block main
    .container.container--padding
        h2 Какая диета вам нравится?

        form.column-form
            .column-form__content
                .form-check-list
                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/protein.png")

                        .form-check-list__content
                            input#ch1.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Белковая
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/paleodiet.png")

                        .form-check-list__content
                            input#ch2.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Палеодиета
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/african.png")

                        .form-check-list__content
                            input#ch3.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Африканская
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/asian.png")

                        .form-check-list__content
                            input#ch4.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Азиатская
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/french.png")

                        .form-check-list__content
                            input#ch5.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Французская
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/mediterranean.png")

                        .form-check-list__content
                            input#ch6.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Средиземноморская
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                    .form-check-list__item
                        .form-check-list__image
                            img(src="images/tmp/wizard/diets/vegetarian.png")

                        .form-check-list__content
                            input#ch7.form-check-list__input(type="checkbox")
                            .form-check-list__checkbox
                            .form-check-list__title Вегетарианская
                            .form-check-list__text Суть диеты проста – основу рациона составляет белковая пища (мясо, рыба, молочные продукты). Углеводы, в свою очередь, максимально урезаются.
                            a.form-check-list__link(href="#") Подробней о диете

                
            .column-form__footer
                button.button.button--success(type="submit") Продолжить
                