footer.footer
		.container
				.footer__wrapper
						.footer__col.footer__col--left
								ul.footer__list
										li.footer__item
												a(href="").footer__link О проекте
										li.footer__item
												a(href="").footer__link Оферта
										li.footer__item
												a(href="").footer__link Обработка персональных данных
										li.footer__item
												a(href="").footer__link Помощь
								.footer__copyright © Диет Журнал, 2018
						.footer__col.footer__col--right
								ul.footer-social
										li.footer-social__item
												a(href="" aria-label="facebook").footer-social__link
														svg(width='12', height='23', viewBox='0 0 12 23', xmlns='http://www.w3.org/2000/svg')
																path(d='M8.05281 22.6875V12.6815H11.3684L11.8658 8.78084H8.05281V6.29083C8.05281 5.16185 8.36116 4.39246 9.96182 4.39246L12 4.39161V0.902718C11.6475 0.856337 10.4376 0.75 9.02938 0.75C6.08879 0.75 4.07561 2.56748 4.07561 5.90451V8.78084H0.75V12.6815H4.07561V22.6875H8.05281Z', fill='#8E85F6')

										li.footer-social__item
												a(href="" aria-label="twitter").footer-social__link
														svg(width='18', height='15', viewBox='0 0 18 15', fill='none', xmlns='http://www.w3.org/2000/svg')
																path(d='M17.75 2.18328C17.0992 2.46875 16.4058 2.65797 15.6828 2.74984C16.4266 2.30578 16.9942 1.60797 17.2611 0.766875C16.5677 1.18031 15.802 1.47234 14.9861 1.63531C14.3277 0.934219 13.3892 0.5 12.3655 0.5C10.3792 0.5 8.78016 2.11219 8.78016 4.08859C8.78016 4.37297 8.80422 4.64641 8.86328 4.90672C5.88062 4.76125 3.24141 3.33172 1.46844 1.15406C1.15891 1.69109 0.977344 2.30578 0.977344 2.9675C0.977344 4.21 1.61719 5.31141 2.57094 5.94906C1.99453 5.93812 1.42906 5.77078 0.95 5.50719C0.95 5.51813 0.95 5.53234 0.95 5.54656C0.95 7.29 2.19359 8.73812 3.82437 9.07172C3.53234 9.15156 3.21406 9.18984 2.88375 9.18984C2.65406 9.18984 2.42219 9.17672 2.20453 9.12859C2.66937 10.5494 3.98844 11.5939 5.55688 11.6278C4.33625 12.5827 2.78641 13.158 1.10859 13.158C0.814375 13.158 0.532187 13.1448 0.25 13.1087C1.83922 14.1336 3.72266 14.7188 5.75375 14.7188C12.3556 14.7188 15.965 9.25 15.965 4.50969C15.965 4.35109 15.9595 4.19797 15.9519 4.04594C16.6639 3.54063 17.2622 2.90953 17.75 2.18328Z', fill='#8E85F6')

										li.footer-social__item
												a(href="" aria-label="instagram").footer-social__link
														svg(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
																path(d='M12 2.77702C15.0039 2.77702 15.3597 2.7885 16.546 2.84262C17.6429 2.89268 18.2385 3.07591 18.635 3.22998C19.1601 3.43406 19.5348 3.67784 19.9285 4.07154C20.3222 4.46519 20.566 4.84 20.7701 5.36507C20.9241 5.76149 21.1074 6.35717 21.1574 7.45403C21.2115 8.64035 21.223 8.99613 21.223 12C21.223 15.0039 21.2115 15.3597 21.1574 16.546C21.1074 17.6428 20.9241 18.2385 20.7701 18.6349C20.566 19.16 20.3222 19.5348 19.9285 19.9285C19.5348 20.3222 19.16 20.5659 18.635 20.77C18.2385 20.9241 17.6429 21.1074 16.546 21.1574C15.3599 21.2115 15.0041 21.223 12 21.223C8.99597 21.223 8.64018 21.2115 7.45409 21.1574C6.35723 21.1073 5.76155 20.924 5.36513 20.77C4.84 20.5659 4.46524 20.3222 4.07159 19.9285C3.67794 19.5348 3.43411 19.16 3.23003 18.6349C3.07596 18.2385 2.89269 17.6428 2.84267 16.546C2.78855 15.3597 2.77707 15.0039 2.77707 12C2.77707 8.99608 2.78855 8.6403 2.84267 7.45403C2.89273 6.35717 3.07596 5.76149 3.23003 5.36507C3.43411 4.83995 3.67789 4.46519 4.07159 4.07154C4.46524 3.67789 4.84005 3.43406 5.36513 3.22998C5.76155 3.07591 6.35723 2.89264 7.45409 2.84262C8.64032 2.7885 8.99614 2.77702 12 2.77702ZM12 0.75C8.9447 0.75 8.56159 0.762951 7.3617 0.8177C6.16422 0.87236 5.34646 1.06251 4.63087 1.34063C3.89109 1.62813 3.2637 2.01281 2.63828 2.63823C2.01286 3.26365 1.62818 3.89108 1.34068 4.63082C1.06255 5.34645 0.872405 6.16421 0.817745 7.36164C0.762951 8.56157 0.75 8.94468 0.75 12C0.75 15.0554 0.762951 15.4385 0.8177 16.6384C0.87236 17.8358 1.06251 18.6536 1.34063 19.3692C1.62814 20.109 2.01281 20.7363 2.63823 21.3618C3.26366 21.9872 3.89109 22.3719 4.63083 22.6594C5.34646 22.9375 6.16422 23.1276 7.36165 23.1823C8.56159 23.237 8.9447 23.25 12 23.25C15.0553 23.25 15.4385 23.237 16.6383 23.1823C17.8358 23.1276 18.6536 22.9375 19.3692 22.6594C20.109 22.3719 20.7363 21.9872 21.3618 21.3618C21.9872 20.7363 22.3719 20.1089 22.6594 19.3692C22.9375 18.6535 23.1276 17.8358 23.1823 16.6384C23.237 15.4384 23.25 15.0553 23.25 12C23.25 8.94473 23.237 8.56157 23.1823 7.36168C23.1276 6.16421 22.9375 5.34645 22.6594 4.63087C22.3719 3.89108 21.9872 3.26369 21.3618 2.63827C20.7363 2.01285 20.1089 1.62818 19.3692 1.34068C18.6535 1.06255 17.8358 0.872405 16.6383 0.817745C15.4385 0.762951 15.0553 0.75 12 0.75Z', fill='#8E85F6')
																path(d='M12 5.75C8.54824 5.75 5.75 8.54819 5.75 12C5.75 15.4518 8.54824 18.25 12 18.25C15.4518 18.25 18.25 15.4518 18.25 12C18.25 8.54819 15.4518 5.75 12 5.75ZM12 16.057C9.75939 16.057 7.94297 14.2406 7.94297 12C7.94297 9.75939 9.75934 7.94297 12 7.94297C14.2407 7.94297 16.057 9.75934 16.057 12C16.057 14.2406 14.2406 16.057 12 16.057Z', fill='#8E85F6')
																path(d='M18.25 7C18.9404 7 19.5 6.44036 19.5 5.75C19.5 5.05964 18.9404 4.5 18.25 4.5C17.5596 4.5 17 5.05964 17 5.75C17 6.44036 17.5596 7 18.25 7Z', fill='#8E85F6')

								.footer__copyright--mobile © Диет Журнал, 2018


include ../_ajax/_modal-login
include ../_ajax/_modal-recovery

include ../_ajax/_modal-reset
