header.header.header--wizard
    .header__container
        .header__menu
            a.header__logo(href="/")
                img(src="images/tmp/logo.png")


            .header__login
                .login-widget
                    a.login-widget__login-link(href="#") Войти