-var pageTitle = 'Журнал Диет'
-var pageDescription = 'Описание страницы'
meta(charset="utf-8")
title #{pageTitle}
meta(name="description" content=pageDescription)
meta(name="viewport", content="initial-scale=1.0, width=device-width user-scalable=yes")


link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.css" type='text/css')
link(rel="stylesheet" href="libs/swiper/css/swiper.min.css" type='text/css')
link(rel="stylesheet" href="css/main.css" type='text/css')

//- script.
	//- (screen.width >= 768 && screen.width <= 1200) ? document.getElementsByName('viewport')[0].setAttribute('content', 'width=1200, maximum-scale=1'): ''
