header.header
		.header__container
				.header__menu
						a.header__logo
								img(src="images/tmp/logo.png")
						nav.header-nav
								input(type="checkbox" id="header-nav-trigger").header-nav-trigger
								label(for="header-nav-trigger")
								.m-menu
										.m-menu__inner
												.m-main-menu
														ul.header-nav__list
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Диеты
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Рецепты
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Упражнения
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Начну с понедельника
														a(href="#").header-buttons__item.header-buttons__item--plan.button.button--purple Составить план
														p.m-main-menu__message Если вы уже зарегистрированы, тогда просто авторизуйтесь
														a(href="#").header-buttons__item.header-buttons__item--sign-in.button.button--red-border.js-modal-login Войти
												.main-menu
														ul.header-nav__list
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Диеты
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Рецепты
																li.header-nav__list-item
																		a(href="#").header-nav__list-link Упражнения
														a(href="#").header-nav__start-monday Начну с понедельника
														.header-buttons
																a(href="#").header-buttons__item.header-buttons__item--sign-in.button.button--red-border.js-modal-login Войти
																a(href="#").header-buttons__item.button.button--purple Составить план
