header.header.header--lk
    .header__container
        .header__menu
            a.header__logo(href="/")
                img(src="images/tmp/logo.png")
            nav.header-nav.header-nav--lk
                .m-menu.m-menu--lk
                    .m-menu__inner
                        .main-menu
                            ul.header-nav__list
                                li.header-nav__list-item
                                    a.header-nav__list-link(href="#") Диеты
                                li.header-nav__list-item
                                    a.header-nav__list-link(href="#") Тренировки
                                li.header-nav__list-item
                                    a.header-nav__list-link(href="#") 
                                        | Показатели
                                        span.header-nav__add-icon

            .header__login
                .login-widget
                    .dropdown.dropdown--white.login-widget__dropdown
                        button.button.button--more-pink.dropdown-toggle.login-widget__dropdown-button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                            .login-widget__name Есипова Татьяна
                        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                            li.login-widget__mobile-name
                                a(href="#") Есипова Татьяна
                            li
                                a(href="#") Настройки
                            li
                                a(href="#") Платежи

                            li
                                a(href="#") Выход