.modal.fade#popup-count-trainings.popup-count-trainings(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-sm(role='document')
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-content
                        h2.count-trainings__title Как работает расчет тренировки
                        p.count-trainings__subtitle Выбирайте цель тренировки и укажите ваш уровень подготовки, остальное мы сделаем сами.
                        .count-trainings__list
                                .count-trainings__item.process-plan__item--1
                                        .count-trainings__item-pic
                                                span 1.
                                                figure
                                                        img(src='images/tmp/pic-calc-training-1.png')
                                        p.count-trainings__item-text
                                                | Выберите цель которую вы хотите достич тренировкой.
                                .count-trainings__item.process-plan__item--2
                                        .count-trainings__item-pic
                                                span 2.
                                                figure
                                                        img(src='images/tmp/pic-calc-training-2.png')
                                        p.count-trainings__item-text
                                                | Укажите ваш уровень подготовки
                                                | и какое количество раз в неделю
                                                | вы планируете заниматься.
                                .count-trainings__item.process-plan__item--3
                                        .count-trainings__item-pic
                                                span 3.
                                                figure
                                                        img(src='images/tmp/pic-calc-training-3.png')
                                        p.count-trainings__item-text
                                                | Получите план тренировок и занимайтесь с используя наши техники упражнений.
                        a(href="#plan-training-tabs").count-trainings__button.button.button--success Составить план тренировки

.modal.fade#popup-process-plan.popup-process-plan(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-sm(role='document')
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                        h2.process-plan__title Как составляется диет-план
                        p.process-plan__subtitle Выбирайте понравившуюся вам диету и корректируйте, что вы хотите есть сегодня.
                        .process-plan__list
                                .process-plan__item.process-plan__item--1
                                        .process-plan__item-pic
                                                span 1.
                                                figure
                                                        img(src='images/tmp/diet-plan-pic-1.png')
                                        p.process-plan__item-text
                                                | Выберите диету, сообщите нам
                                                | о ваших показателях активности, питания и здоровья. При составлении диет-плана мы учтем   ваши показатели.
                                .process-plan__item.process-plan__item--2
                                        .process-plan__item-pic
                                                span 2.
                                                figure
                                                        img(src='images/tmp/diet-plan-pic-2.png')
                                        p.process-plan__item-text
                                                | Корректируйте блюда в созданном плане. Мы предложим продукты для замены с учетом объёма и каллорийности.
                                .process-plan__item.process-plan__item--3
                                        .process-plan__item-pic
                                                span 3.
                                                figure
                                                        img(src='images/tmp/diet-plan-pic-3.png')
                                        p.process-plan__item-text
                                                | Пользуйтесь расчетом используя  подробные описания рецептов из нашей базы.
                        .process-plan__buttons
                                button.js-process-plan__button.button.button--purple-border.process-plan__button-video(type="button" data-toggle="modal" data-target="#popup-video") Как это работает
                                a.button.button--success(href="") Составить диет-план


.modal.fade#popup-video.popup-video(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-sm(role='document')
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                        h2.popup-video__title Как работает Диетжурнал
                        .popup-video__wrapper
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/OiLdgNA6hlM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


.modal.modal--full.modal--dish.fade#dish-replace.dish-replace(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-sm(role='document')
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-header
                        h3 Выберите блюдо для замены
                .modal-content
                        .dish.dish--modal
                            label.check-circle.dish__check
                                input(type="radio" name="type-traning")
                                span.cr
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                                .dish__content
                                    .dish__head 
                                        | Рулеты из лаваша
                                        span.dish__mass 120г.

                                    .dish__text Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                                    .dish__footer
                                        a.link-arrow(href="#") Рецепт целиком

                        .dish.dish--modal
                            label.check-circle.dish__check
                                input(type="radio" name="type-traning")
                                span.cr
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                                .dish__content
                                    .dish__head 
                                        | Рулеты из лаваша
                                        span.dish__mass 120г.

                                    .dish__text Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                                    .dish__footer
                                        a.link-arrow(href="#") Рецепт целиком

                        .dish.dish--modal
                            label.check-circle.dish__check
                                input(type="radio" name="type-traning")
                                span.cr
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                                .dish__content
                                    .dish__head 
                                        | Рулеты из лаваша
                                        span.dish__mass 120г.

                                    .dish__text Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                                    .dish__footer
                                        a.link-arrow(href="#") Рецепт целиком

                        .dish.dish--modal
                            label.check-circle.dish__check
                                input(type="radio" name="type-traning")
                                span.cr
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                                .dish__content
                                    .dish__head 
                                        | Рулеты из лаваша
                                        span.dish__mass 120г.

                                    .dish__text Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                                    .dish__footer
                                        a.link-arrow(href="#") Рецепт целиком

                        .dish.dish--modal
                            label.check-circle.dish__check
                                input(type="radio" name="type-traning")
                                span.cr
                            .dish__row
                                .dish__image
                                    img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                                .dish__content
                                    .dish__head 
                                        | Рулеты из лаваша
                                        span.dish__mass 120г.

                                    .dish__text Классика советского закусочного стола! Ну не могли мы пройти мимо, добавили всего один новый ...

                                    .dish__footer
                                        a.link-arrow(href="#") Рецепт целиком

                .modal-footer
                    button.button.button--success.button--big.button--dish-modal-submit Заменить

.modal.modal--full.modal--wizard-confirm.fade#wizard-confirm.wizard-confirm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-sm(role='document')
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                    .wizard-confirm
                        .wizard-confirm__image
                        .wizard-confirm__head Создать план диет?
                        .wizard-confirm__text После создание плана диет его не возможно будет изменить!
                        .wizard-confirm__control
                            button.button.button--transparent.button--big(type='button', data-dismiss='modal', aria-label='Изменить') Изменить
                            button.button.button--success.button--big Создать


.modal.fade#indicate-select.indicate-select.modal--classic.modal--400(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                        form
                            .form-line.form-line--indicators
                                .form-line__content.form-line__content--full
                                    .form-line__row
                                        h5.form-line__head Добавить показатели
                                    
                                    .form-line__row
                                        .form-line__group.form-line__group--50
                                            label.form-line__label Дата
                                            input.form-control.form-control--date.form-line__input(type="text")

                                        .form-line__group.form-line__group--50
                                            label.form-line__label Вес

                                            nput.form-control.form-line__input(type="text")

                                    .form-line__row
                                        button.button.button--success.button--full Записать


.modal.fade#indicators-append.indicators-append.modal--classic.modal--400(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                        form
                            .form-line.form-line--indicators
                                .form-line__content.form-line__content--full
                                    .form-line__row
                                        h5.form-line__head Добавить показатели
                                    
                                    .form-line__row
                                        .form-line__group
                                            label.form-line__label Дата рождения
                                            input.form-control.form-control--date.form-line__input(type="text")
                                    
                                    .form-line__row
                                        .form-line__group
                                            label.form-line__label Вес

                                            nput.form-control.form-line__input(type="text")

                .modal-footer
                        button.button.button--success.button--full Записать
                        button.button.button--purple-color.button--full(type='button', data-dismiss='modal', aria-label='Закрыть') Закрыть



.modal.fade#traning-modal.traning-modal.modal--classic.modal--mobile-full(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                    h2 Sit-up + подъём
                    p
                        | 5 минут беспрерывной тренировки укрепят ваш пресс, подтянут живот и уберут с него всё лишнее.

                    // Swiper
                    .swiper-container.journal-theme
                        .swiper-wrapper
                            .swiper-slide
                                img(src="images/tmp/exercise-image.jpg")
                            .swiper-slide
                                img(src="images/tmp/exercise-image2.jpg")
                            .swiper-slide
                                img(src="images/tmp/exercise-image3.jpg")
                        // Add Pagination
                        .swiper-pagination
                        // Add Arrows
                        .swiper-button-next
                        .swiper-button-prev

                    ol.stages
                        li Ложитесь на пол на спину, поясница прижата к полу. Втяните живот.
                        
                        li  
                            | Поднимите корпус и поставьте ладони на пол, плотно прижав
                            | их к нему. Отталкиваясь от пяток, оторвите таз от пола и уведите его максимально назад. Важно: плечи во время упражнения
                            | должны быть над коленным суставом.

                        li 
                            | Опустите таз и вернитесь в исходное положение.
                            | Выполняйте упражнение 30 секунд.

                .modal-footer.modal-footer-center
                    button.button.button--purple(type='button', data-dismiss='modal', aria-label='Закрыть') Вернуться к упражнениям


.modal.fade#diet-start-modal.diet-start-modal.modal--classic.modal--400.modal--mobile-full(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                    h4 Уточните показатели
                    p
                        | Для вознобновления курса диеты обновите ваши данные

            
                    .form-line__group.form-line__group--25
                        label.form-line__label Вес
                        input.form-control.form-line__input(type="text", value="67")

            
                    .form-line__group
                        label.form-line__label Активность

                        .check-line.check-line--border
                            input#a1.check-line__input(type="radio" name="type-traning" checked)
                            label.check-line__label(for="a1")
                            .check-line__title Легкая умственная работа
                        .check-line.check-line--border
                            input#a2.check-line__input(type="radio" name="type-traning" )
                            label.check-line__label(for="a2")
                            .check-line__title Тяжелая умственная работа
                        .check-line.check-line--border
                            input#a3.check-line__input(type="radio" name="type-traning" )
                            label.check-line__label(for="a3")
                            .check-line__title Работа средней физической тяжести
                        .check-line.check-line--border
                            input#a4.check-line__input(type="radio" name="type-traning" )
                            label.check-line__label(for="a4")
                            .check-line__title Тяжелая физическая работа

                    .form-line__group
                            label.form-line__label Количество приемов пищи в день

                            .check-group
                                label.check-group__button.active 1
                                    input.check-group__input(type="radio", name="count-diet" checked)

                                label.check-group__button 2
                                    input.check-group__input(type="radio", name="count-diet")

                                label.check-group__button 3
                                    input.check-group__input(type="radio", name="count-diet")
                                

                .modal-footer.modal-footer--padding
                    a.button.button--success.button--sm.button--full(href="#") Возобновить
                    a.button.button--link.button--sm.button--full.button--desktop-hidden(href="#" data-dismiss='modal', aria-label='Закрыть') Отменить
                    

.modal.fade#product-description-modal.product-description-modal.modal--white.modal--classic.modal--mobile-full.modal--720(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content
                    h2 Салат нисуаз с базиликом
                    p
                        | Это не вполне ортодоксальная версия знаменитого салата нисуаз — обычно в него не кладут картошку, — зато в таком виде он может быть как салатом, так и основным блюдом, особенно если тунца с картошкой взять побольше.
                    // Swiper
                    .swiper-container.journal-theme
                        .swiper-wrapper
                            .swiper-slide
                                img(src="images/tmp/semolina.jpg")
                            .swiper-slide
                                img(src="images/tmp/salat.png")

                        // Add Pagination
                        .swiper-pagination
                        // Add Arrows
                        .swiper-button-next
                        .swiper-button-prev

                    h4.accordion.accordion--mobile
                        | Энергитическая ценность на процию

                    ul.calories-table.calories-table--mobile-hidden
                        li.calories-table__item
                            dl.calories-table__item-attribute
                                dt.calories-table__item-key Калорийность
                                dd.calories-table__item-value
                                    span 1262
                                    | ккал

                        li.calories-table__item
                            dl.calories-table__item-attribute
                                dt.calories-table__item-key Белки
                                dd.calories-table__item-value
                                    span 58,6
                                    | грамм

                        li.calories-table__item
                            dl.calories-table__item-attribute
                                dt.calories-table__item-key Жиры
                                dd.calories-table__item-value
                                    span 70,3
                                    | грамм

                        li.calories-table__item
                            dl.calories-table__item-attribute
                                dt.calories-table__item-key Углеводы
                                dd.calories-table__item-value
                                    span 87,2
                                    | грамм

                    h4.accordion.accordion--mobile
                        | Ингредиенты

                    ul.composition-products
                        li.composition-products__item
                            .composition-products__item-key Cалатный микс
                            .composition-products__item-value 200 г

                        li.composition-products__item
                            .composition-products__item-key Помидоры черри
                            .composition-products__item-value 150 г

                        li.composition-products__item
                            .composition-products__item-key Перец болгарский
                            .composition-products__item-value 1 шт.

                        li.composition-products__item
                            .composition-products__item-key Пампиньоны свежие
                            .composition-products__item-value 1 столовая ложка

                        li.composition-products__item
                            .composition-products__item-key Сливки 30%-ные
                            .composition-products__item-value по вкусу

                    h4.accordion.accordion--mobile
                        | Инструкция

                    ol.stages.accordion-content.accordion-content--mobile
                        li Взять два болгарских перца, красный и желтый, вырезать плодоножку, вычистить семена и на их место вложить по раздавленному зубчику чеснока и веточке тимьяна. Завернуть в фольгу и запекать сорок минут при 180 градусах, после чего сразу окунуть в ледяную воду, снять кожуру — и нарезать в произвольном формате.
                        li  
                            | Для домашнего майонеза смешать три желтка с дижонской горчицей и, не спеша постоянно размешивая, влить растительное масло. В конце добавить пару чайных ложек хересного уксуса, соль и перец. Смешать майонез с пробитым в блендере консервированным тунцом.

                        li 
                            | Для дрессинга выпарить в четыре раза бальзамический уксус, добавить
                            | мед и 3–4 ложки оливкового масла, перемешать.

                        li
                            | Опустите таз и вернитесь в исходное положение.
                            | Выполняйте упражнение 30 секунд.

                        li
                            | Опустите таз и вернитесь в исходное положение.
                            | Выполняйте упражнение 30 секунд.

                        li
                            | На ложке оливкового масла обжарить тунца до золотистости. Нарезать
                            | не очень толстыми кусками.

                .modal-footer.text-left
                    a.button.button--transparent.button--big.button--mobile-hidden(href="#") Открыть рецепт в новом окне

                    a.button.button--purple.button--full.button--hidden.button--mobile-show(href="#" data-dismiss='modal', aria-label='Закрыть') Вернуться к плану




.modal.fade#diet-description-modal.diet-description-modal.modal--white.modal--classic.modal--mobile-full.modal--400(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content.text-center
                    img.img-responsive.d-ib.m-b-lg(src="images/tmp/lk-french-diet-big.png")
                    h3.m-b-lg Французская диета
                    p Привет! Мы рассчитали для вас диету с учетом ваших показтелей. Начинайте диету с завтрашнего дня и придерживайтесь все 14 дней, чтобы увидите результаты в коцне.
                    p Не забывайтесь взвешиваться и записывать показатели каждый день, чтобы следить за прогрессом

                .modal-footer.text-left
                    a.button.button--success.button--big.button--full(href="#") Начать диету


//- Подсказка для cvs
.modal.fade#card-ccv-help-modal.card-ccv-help-modal.modal--white.modal--classic.modal--mobile-full(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
        .modal-dialog.modal-xs(role='document') 
                button.close(type='button', data-dismiss='modal', aria-label='Закрыть')
                .modal-content.text-center-mobile
                    h3.m-b-lg Код безопасности карты
                    p На обратной стороне есть 3-х значный код безопасности, он не обходим для проведения платежа. 
                    img.img-responsive.margin-center.mobile-hidden(src="images/tmp/card-template-desktop.jpg")
                    img.img-responsive.margin-center.hidden.mobile-show(src="images/tmp/card-template-mobile.jpg")
