script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="libs/bootstrap/js/bootstrap.min.js")
script(src="libs/swiper/js/swiper.min.js")
script(src="js/vendor.min.js")
script(src="js/main.min.js")
