.panel
    overflow: hidden

    &--mobile
        @media #{$mobile-small} 
            display: none

            &.active
                display: block


.accordion
    &--mobile
        @media #{$mobile-small} 
            display: flex
            justify-content: space-between
            align-items: center
            min-height: 32px
            //margin-bottom: 15px
            cursor: pointer
            font-size: 16px
            line-height: 1.2

            &.active
                &::after
                    transform: rotate(45deg)

            &::after
                content: ''
                display: block
                width: 24px
                height: 24px
                min-width: 24px
                background: url($svgpath + 'plus-purple.svg') no-repeat center
                transition: all .3s
            
            *
                padding: 0
                margin: 0
                font-size: 16px
                line-height: 1.2

    &--mobile-show
        @media #{$mobile-small-min} 
            display: none

    &--table-show
        @media #{$tablet-min} 
            display: none

    &--table
        @media #{$tablet} 
            display: flex
            justify-content: space-between
            align-items: center
            min-height: 32px
            margin-bottom: 15px
            cursor: pointer
            font-size: 16px
            line-height: 1.2

            &.active
                &::after
                    transform: rotate(45deg)

            &::after
                content: ''
                display: block
                width: 24px
                height: 24px
                min-width: 24px
                background: url($svgpath + 'plus-purple.svg') no-repeat center
                transition: all .3s
            
            *
                padding: 0
                margin: 0
                font-size: 16px
                line-height: 1.2

.accordion-content
    display: none

    &--table
        display: block

        @media #{$tablet} 
            display: none

            &.active
                display: block

    &--mobile
        display: block

        @media #{$mobile-small} 
            display: none

            &.active
                display: block

    &.active
        display: block
