.banner-pay
    display: flex
    padding: 20px 30px
    margin: 20px 0
    border: 1px solid #DDE0E9
    border-radius: $border-radius-base
    color: #828282
    font-size: 14px
    background: #fff
    box-shadow: 0px 4px 13px rgba(221, 224, 233, 0.29)
    border-radius: 8px

    @media #{$mobile}
        display: none

    &--full
        margin-top: 0
        border-left: 0
        border-right: 0
        padding-left: 0
        padding-right: 0
        border-radius: 0
        box-shadow: none

        @media #{$mobile}
            display: flex

    &__progressbar
        display: flex
        flex-wrap: wrap
        align-items: center

        .progressbar
            max-width: 130px
            margin-bottom: 5px
            margin-right: 5px

    &__container
        display: flex
        justify-content: space-between

    &__text
        display: flex
        align-items: center
        width: 100%

    &__control
        display: flex
        align-items: center
        padding-left: 15px

        .button
            white-space: nowrap
            margin-left: 20px

    &__dropdown
        display: none

        @media #{$mobile}
            display: block

    &__buttons
        display: flex

        @media #{$mobile}
            display: none

    &__group-sum
        display: flex
        align-items: center
        text-align: center
        font-family: $font-family-header
        font-size: 32px
        margin-right: 60px

        span
            font-size: 12px
            white-space: nowrap
            font-family: $font-family-base

    &__first,
    &__second
        display: flex
        flex-direction: column

    &__second
        color: $black

    &__first
        position: relative
        color: $danger
        padding-right: 30px

        &::before
            content: ''
            position: absolute
            right: -25px
            top: 33px
            width: 65px
            height: 0
            opacity: 0.2
            border-bottom: 1px solid #000000
            transform: rotate(100.3deg)

        span 
            color: $black

    &__traning
        display: flex

    &__traning-image
        width: 46px
        height: 46px

        img
            max-width: 100%
            max-height: 100%
            display: block

    &__traning-content
        margin-left: 15px
        width: 100%

    &__traning-head
        font-size: 14px
        margin-bottom: 7px
        font-family: $font-family-base
        color: $black
        line-height: 1

    &__traning-subhead
        font-size: 11px
        color: #9D9D9D
        margin-bottom: 5px
        