$best-recepies-screen-table:  $screen-table
$best-recepies-screen-mobile: 480px

.best-recepies

    &__header
        display: flex
        align-items: center
        justify-content: space-between
        margin: 40px 0

    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        color: #0C100F
    
        @media (max-width: $best-recepies-screen-mobile)
            font-size: 24px
            line-height: 29px
            text-align: center

    &__link
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 21px
        letter-spacing: 0.01em
        color: #ABC333
        position: relative
        padding: 0 40px 0 0

        &:after
            content: ''
            position: absolute
            top: 2px
            right: 0
            width: 25px
            height: 20px
            background: url(../images/svg-pic/arrow-right.svg) no-repeat center
            background-size: cover
    
        @media (max-width: $best-recepies-screen-mobile)
            display: none
            
    &--small
        .best-recepies__item-pic
            max-width: 195px

        .best-recepies__item-title
            font-family: $font-family-base
            font-weight: normal

    &__list
        display: flex
        flex-wrap: wrap
        margin-right: -20px

        @media (max-width: $best-recepies-screen-mobile)
            margin-right: 0

        &--scroll
            @media (max-width: $best-recepies-screen-mobile)
                flex-wrap: nowrap
                overflow-y: auto

            .best-recepies__item
                @media (max-width: $best-recepies-screen-mobile)
                    max-width: calc(50% - 20px)
                    min-width: calc(50% - 20px)
 
        &--short
            margin-right: 0
    
            & > .best-recepies__item
                margin-bottom: 0
                padding-bottom: 10px

        &--mobile-hidden
            display: none

            @media #{$mobile-small-min} 
                display: flex

    &__item
        max-width: calc(25% - 20px)
        width: 100%
        margin-right: 20px
        margin-bottom: 40px
        display: flex
        flex-direction: column
        border-radius: 8px
        overflow: hidden
        height: 380px

        @media (max-width: $best-recepies-screen-table)
            max-width: calc(50% - 20px)
            min-width: calc(50% - 20px)

        @media (max-width: $best-recepies-screen-mobile)
            height: auto
            max-width: 100%
            min-width: 100%

        &--text
            .best-recepies__item-title
                font-size: $font-size-h4
                line-height: 32px
                padding-top: 0
                padding-bottom: 20px

            .best-recepies__item-desc
                font-family: $font-family-header
                line-height: 24px
                font-size: 16px
                max-height: 238px

    &__item-pic
        display: flex
        justify-content: center
        align-items: center
        max-height: 200px
        margin: 0
        overflow: hidden

        &:hover
            img
                transform: scale(1.2)

        img
            transform: scale(1.1)
            transition: transform 1s ease
            max-width: 100%
            width: 100%

    &__item-title
        padding: 15px 0 15px 0
        //font-family: $font-family-base
        font-size: $font-size-block-header
        line-height: 1
        white-space: nowrap
        text-overflow: ellipsis

    &__item-desc
        font-size: 14px
        line-height: 22px
        max-height: 89px
        overflow: hidden

    &__item-calorie
        margin-top: 10px
        color: $yellow
        font-size: 13px
        line-height: 18px

    &__button
        position: relative
        display: flex
        align-items: center
        color: $success
        background: none
        border: 0
        font-size: 14px
        margin-top: 20px

        &:after
            content: ''
            display: block
            width: 32px
            height: 17px
            background: url($svgpath + 'arrow-right.svg') no-repeat center
            margin-left: 15px
