.button
    border-radius: 4px
    height: 40px
    padding-left: 20px
    padding-right: 20px
    display: inline-flex
    flex-direction: row
    align-items: center
    justify-content: center
    font-family: $font-family-base
    font-weight: normal
    text-transform: none
    border: 1px solid transparent
    font-size: 16px

    &:hover,
    &:focus
        opacity: 0.8

    &--padding-horizontal
        padding-left: 40px
        padding-right: 40px
        width: auto

    &--red-border
        border: 2px solid #EB7390
        color: #EB7390
        
        &:hover
            color: #EB7390
    
    &--success
        color: white
        background: $success
        border-color: $success
        
        &:hover,
        &:focus
            background: #ABC333
            border-color: #ABC333
            color: white
        
        &:active
            color: white
            background: #83B741
            border-color: #83B741
    
    &--border-success,
    &--transparent
        background: transparent
        border-color: $success
        color: $black

        &:hover,
        &:focus
            background: transparent
            border-color: #ABC333
            color: $black
        
        &:active
            color: $black
            background: transparent
            border-color: #83B741

    &--purple
        color: #fff
        background: $purple
        border-color: $purple
        
        &:hover
            color: #fff
    
    
    &--purple-border
        border: 2px solid $purple
        color: $purple
        background: transparent
    
        &:hover
            color: $purple

    &--purple-color
        color: $purple

        &:hover
            color: $purple
    
    &--print
        &:before
            content: ''
            background: url($svgpath + 'print.svg') no-repeat center
            width: 24px
            height: 24px
            margin-right: 10px

    &--payment
        &:before
            content: ''
            background: url($svgpath + 'card-pay.svg') no-repeat center
            width: 24px
            height: 24px
            margin-right: 15px

    &--pause
        &:before
            content: ''
            background: url($svgpath + 'pause-white.svg') no-repeat center
            width: 24px
            height: 24px
            margin-right: 15px

    &--play
        &:before
            content: ''
            background: url($svgpath + 'play-white.svg') no-repeat center
            width: 24px
            height: 24px
            margin-right: 15px

    &--search
        display: flex
        align-items: center
        padding-left: 0
        padding-right: 0
        
        &:before
            content: ''
            display: block
            width: 15px
            height: 15px
            margin-right: 10px
            background: url($svgpath + 'search.svg') no-repeat center
            background-size: 100% 100%
    
    &--more
        display: flex
        align-items: center
        min-width: 40px
        padding: 0
        
        &:before
            content: ''
            display: block
            width: 24px
            height: 24px
            background: url($svgpath + 'more-vertical-gray.svg') no-repeat center
            background-size: 100% 100%
    

    &--more-pink
        display: flex
        align-items: center
        min-width: 40px
        padding: 0
        
        &:before
            content: ''
            display: block
            width: 24px
            height: 24px
            background: url($svgpath + 'more-pink.svg') no-repeat center
            background-size: 100% 100%
    

    &--arrow-right
        font-size: 14px
        border: 0
        background: url($svgpath + 'arrow-right.svg') no-repeat center right
        background-color: transparent
        color: $success
        padding-right: 30px

    &--append-link
        color: $purple
        display: inline-flex
        align-items: center
        padding: 0
        width: auto
        justify-content: flex-start

        &::before
            content: ''
            display: block
            width: 36px
            height: 36px
            background: url($svgpath + 'append.svg') no-repeat center
            background-size: 100% 100%
            background-color: transparent
            margin-right: 10px
    
    &--mobile-full
        @media #{$mobile-small}
            text-align: center
            width: 100%
    
    &--table-margin
        @media #{$mobile}
            display: flex
            max-width: 180px
            margin: 15px auto
    
    &--mobile-margin
        @media #{$mobile-small}
            display: flex
            max-width: 180px
            margin: 15px auto

    &--full
        width: 100%

    &--big
        min-height: 56px
        font-size: 18px

    &--sm
        height: 50px

    &--small
        font-size: 13px
        min-height: 30px
        height: 30px
        padding-right: 10px
        padding-left: 10px

    &--dish-modal-submit
        max-width: 256px
        width: 100%
        margin: 0 auto
        display: flex
        font-size: 18px

    &--link
        color: $purple
        border: 0

    &--desktop-hidden
        @media #{$mobile-min}
            display: none

    // responsive
    &--hidden
        display: none

    &--tablet-hidden
        @media #{$tablet}
            display: none

    &--tablet-hidden
        @media #{$tablet}
            display: none
    
    &--mobile-hidden
        @media #{$mobile}
            display: none

    // show
    &--tablet-show
        @media #{$tablet}
            display: inline-flex

    &--tablet-show
        @media #{$tablet}
            display: inline-flex
    
    &--mobile-show
        @media #{$mobile}
            display: inline-flex

.header
  .button
    height: 40px

.dropdown.open

    .button--more
        &::before
            background-image: url($svgpath + 'more-vertical-purple.svg')