.calories-table
    display: flex
    align-items: center
    margin-bottom: 35px

    @media #{$mobile} 
        flex-direction: column

    &--mobile-hidden
        @media #{$mobile-small} 
            display: none

            &.active
                display: block

    &__item
        position: relative
        display: flex
        align-items: center
        padding-right: 25px
        width: 100%

        &:last-child:after,
        &:before
            content: ''
            display: block
            height: 15px
            margin-right: 25px
            border-left: 1px solid #b3b1ae

        &:last-child:after
            position: absolute
            right: 0
            margin-right: 0
            margin-left: 25px

        &:first-child
            &:before
                display: none

        &:last-child
            &:after
                display: none

        @media #{$mobile} 
            margin-right: 0
            margin-left: 0
            padding-left: 0
            padding-right: 0

            &:before,
            &:after,
            &:last-child:after
                display: none

    &__item-attribute
        display: flex
        flex-direction: column

        @media #{$mobile} 
            flex-direction: row
            justify-content: space-between
            width: 100%
            position: relative
            margin-bottom: 15px

            &:before
                content: ''
                display: block
                position: absolute
                bottom: 14px
                left: 0
                right: 0
                border-bottom: 2px dotted $gray-dark

    &__item-key
        text-transform: uppercase
        font-weight: 300
        font-size: 14px
        letter-spacing: 0.04em
        margin-bottom: 4px

        @media #{$mobile} 
            text-transform: none
            font-weight: normal
            position: relative
            background: white
            padding-right: 10px

    &__item-value
        font-size: 13px
        line-height: 15px
        letter-spacing: 0.04em


        @media #{$mobile} 
            position: relative
            background: white
            padding-left: 10px

        span
            display: inline-block
            font-weight: 300
            font-size: 18px
            line-height: 21px
            letter-spacing: 0.04em
            padding-right: 10px
