
// Чексбокс в виде кнопок    
.check-group
    display: flex
    align-items: center
    width: 100%

    &--separate
        display: block
        font-size: 0

        .check-group__button
            display: inline-flex
            align-items: center
            justify-content: center
            border: 1px solid $border-graydark-color
            border-radius: 8px
            width: auto
            height: auto
            min-height: 50px
            font-size: 18px
            margin: 0 20px 20px 0
            padding-left: 40px
            padding-right: 40px

            &--webmony,
            &--robokassa,
            &--alpha-click,
            &--paypal
                padding-left: 10px
                padding-right: 10px
                white-space: nowrap
                text-overflow: ellipsis
            
            @media #{$xs}
                text-align: left
                padding: 13px 10px
                margin: 0 16px 16px 0
                line-height: 1.3

            &+&
                margin-left: 0

            &:last-child,
            &:first-child
                border: 1px solid $border-graydark-color

    &--33
        display: flex
        flex-wrap: wrap

        .check-group__button
            @media #{$tablet-min}
                width: calc(33% - 20px)

    &--purple
        .check-group__button
            &.active
                background: $purple
                border-color: $purple
                box-shadow: inset 0 0 0 1px $purple
                color: white

    &--tabs
        width: auto

        .check-group__button
            width: auto
            padding-left: 30px
            padding-right: 30px

    &--traning
        margin-top: 50px
        margin-bottom: 35px

    &__input
        display: none

    &__button
        display: inline-flex
        align-items: center
        justify-content: center
        width: 100%
        padding: 5px 15px
        height: 50px
        overflow: hidden
        border: 1px solid $border-graydark-color
        background: rgba(247, 248, 251, 0.6)
        text-overflow: ellipsis
        text-align: center
        cursor: pointer

        &--webmony,
        &--robokassa,
        &--alpha-click,
        &--paypal
            padding-left: 10px
            &::before
                content: ''
                display: inline-block
                width: 28px
                height: 28px
                background-repeat: no-repeat
                background-position: center
                margin-right: 10px

        &--webmony
            &::before
                background-image: url($svgpath + 'webmony.svg')

        &--robokassa
            &::before
                background-image: url($svgpath + 'robokassa.svg')
            
        &--alpha-click
            &::before
                background-image: url($svgpath + 'alpha-click.svg')
            
        &--paypal
            &::before
                background-image: url($svgpath + 'paypal.svg')
            


        &.active
            background: rgba(171, 195, 51, 0.1)
            border-color: $success
            box-shadow: inset 0 0 0 1px $success

        &+&
            margin-left: -1px

        &:last-child
            border-top-right-radius: 8px
            border-bottom-right-radius: 8px
            border-right: 1px solid $border-graydark-color
            
        &:first-child
            border-top-left-radius: 8px
            border-bottom-left-radius: 8px 