
.check-line
    position: relative
    margin-top: 24px
    margin-bottom: 24px

    &--border
        margin: 0
        padding: 24px 0

        &:last-child
            &::after
                display: none

        .check-line__label
            margin: 0
            z-index: 1
            top: 24px

        &::after
            content: ""
            position: absolute
            left: 30px
            right: 0
            bottom: 0
            border-bottom: 1px solid $gray-light

            @media #{$mobile}
                left: 0

    &__input
        background: green
        display: none

        &:checked  ~ .check-line__label

            &:before
                position: absolute
                top: -2px
                left: 2px
                content: ' '
                display: block
                width: 18px
                height: 18px
                z-index: 1
                background: url($svgpath + 'check-small-black.svg') no-repeat center / 100%

            &:after
                background-color: $success

    &__label
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: block
        cursor: pointer

        &:after
            position: absolute
            top: 0
            left: 0
            content: ' '
            width: 18px
            height: 18px
            border-radius: 50%
            background: rgba(247, 248, 251, 0.6)
            border: 1px solid #C4C4C4
        
    &__title
        position: relative
        margin-left: 30px
        font-size: 18px
        line-height: 1.2
        cursor: pointer

    &__subtitle
        margin-left: 30px
        font-style: italic
        font-weight: normal
        font-size: 14px
        line-height: 1
        margin-top: 10px
        color: #828282