$checkbox-size: 1.3em
$checkbox-default-border-color: #C4C4C4
$checkbox-bg: white
$checkbox-color: white
$checkbox-text-color: #000
label
    padding-left: 0

    &.check
        display: inline-block
        cursor: pointer
        padding-right: 30px
        padding-bottom: 10px

    &.check-circle
        > input[type="radio"],
        > input[type="checkbox"]
            &~.cr
                background-color: $gray-light
                border-radius: 50%

    &:after
        content: ''
        display: table
        clear: both

    > input[type="radio"],
    > input[type="checkbox"]
        &~.cr
            display: inline-block
            width: 18px
            height: 18px
            margin-bottom: -4px
            margin-right: 16px
            background-color: $checkbox-bg
            border-radius: 4px
            border: 1px solid $checkbox-default-border-color
            box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06)
            cursor: pointer

    > input[type="radio"]
        &~.cr
            border-radius: $circle

    > input[type="radio"]:checked,
    > input[type="checkbox"]:checked
        &~.cr
            position: relative
            background-color: $success

            &:before
                content: ''
                position: absolute
                top: -1px
                left: 0
                display: block
                background: url($svgpath + 'check-small-black.svg') no-repeat center
                width: 22px
                height: 15px

        &~.check__text
            color: $checkbox-text-color

    > input[type="radio"]:disabled:checked,
    > input[type="checkbox"]:disabled:checked
        &~.cr
            border-color: $checkbox-bg
            background-color: $checkbox-bg

    > input[type="radio"]:focus,
    > input[type="checkbox"]:focus
        &~.cr
            //outline-color $outline-color
            outline-color: $success
            outline-offset: -2px
            outline-style: auto
            outline-width: 7px
            outline: none

    > input[type="radio"]:disabled,
    > input[type="checkbox"]:disabled
        &~.cr
            background-color: white

        &~.cr,
        &~.check__text,
        &~.radio__text
            opacity: .5

// label
//     position relative

//     > .cr
//         position absolute
//         left 0
//         top 0
//         display inline-block
//         border-radius 0.20em
//         width $checkbox-size
//         height $checkbox-size
//         border 1px solid $checkbox-default-border-color
//         cursor pointer

//         .cr-icon
//             position absolute
//             font-size 0.8em
//             line-height 0
//             top 46%
//             left 13%

// .checkbox,
// .radio
//     .js-checkbox,
//     .js-radio
//         padding-left 30px

//     label
//         padding-left 30px

// .js-radio
//     .cr
//         border-radius 50%

//         .cr-icon 
//             margin-left 0em


// .js-checkbox,
// .js-radio
//     padding-left 30px
//     min-width 1.3em
//     min-height 1.3em
//     cursor pointer

//     input[type="checkbox"],
//     input[type="radio"]
//         hidden()

//     input[type="checkbox"]:disabled ~ .cr,
//     input[type="radio"]:disabled ~ .cr
//         opacity 0.5
