.check-list
    display: block

    .check-list__item
        position: relative
        padding-left: 35px
        padding-top: 5px
        padding-bottom: 10px
        text-align: left

        &:before
            position: absolute
            top: 6px
            left: 0
            content: ' '
            display: block
            width: 24px
            height: 24px
            background: url($svgpath + 'check.svg') no-repeat center / 100%
            
    @media #{$mobile}
        font-size: 18px
        line-height: 27px
        color: #0C100F
