.column-form
    &__head
        margin-bottom: 40px

        @media #{$xs}
            margin-bottom: 20px

    &__content
        padding: 50px 0

        @media #{$xs}
            padding: 30px 0 80px 0

    &__footer
        padding: 50px 0
        text-align: center
        border-top: 1px solid #DDE0E9
        z-index: $z-control

        @media #{$xs}
            padding: 10px 8px
            position: fixed
            bottom: 0
            left: 0
            right: 0
            background: white

        .button
            min-height: 56px
            font-size: 18px

            @media #{$xs}
                max-width: 100%

        .form-line
            @media #{$xs}
                flex-direction: column-reverse

        .form-line__info
            @media #{$xs}
                padding-right: 0

        .form-line__group
            @media #{$xs}
                margin-bottom: 0

        .button--transparent
            @media #{$xs}
                color: $purple
                width: 100%
                text-align: center
                border: 0

        .form-line__group
            padding-left: 0