.composition-products
    margin-bottom: 30px

    @media #{$mobile-small} 
        display: none

        &.active
            display: block

    &--step
        .composition-products__item
            flex-direction: column
            line-height: $line-height-base
            margin-bottom: 30px

        .composition-products__item-key
            font-size: 14px
            line-height: 1
            letter-spacing: 0.04em
            text-transform: uppercase
            margin-bottom: 10px
            color: $gray-dark

        .composition-products__item-value
            padding-left: 0

    &__item
        position: relative
        display: flex
        justify-content: space-between
        font-size: 16px
        line-height: 1 
        margin-bottom: 15px      

        &:before
            content: ''
            position: absolute
            bottom: 4px
            left: 0
            right: 0
            border-bottom: 2px dotted $gray-dark


    &__item-key,
    &__item-value
        position: relative
        display: inline-block
        background: $bodycolor

    &__item-key
        padding-right: 10px

    &__item-value
        padding-left: 10px
        text-align: right
