.is-page-loaded
	.line
		height: 100%

	.main-section__title-el
		span
			transform: translate3d(0, 0, 0)
	
	.main-section__button,
	.main-section__subtitle,
	.main-section__image,
	.header__logo,
	.header__nav-elem,
	.header__button,
	.learn-more
		opacity: 1
		transform: translate3d(0, 0, 0)

.large-title
	font-size: 70px
	font-weight: 700
	margin-bottom: 40px

	@media #{$mobile}
		font-size: 30px
		margin-bottom: 25px

.main
	height: 100%

	p 
		font-size: 20px
		line-height: 35px
		color: #7a7a7a

		@media #{$mobile}
			font-size: 15px
			line-height: 30px

.main-section
	height: 100%
	background: #f3f3f3
	overflow: hidden
	position: relative
	display: flex
	align-items: center

	&__title
		font-size: 93px
		font-weight: 700
		position: relative
		left: -8px
		margin-bottom: 40px

		@media (max-width: 1500px)
			font-size: 60px
			left: -5px

		@media #{$mobile}
			font-size: 30px
			left: -2px
			margin-bottom: 20px

		&-el
			overflow: hidden

			&:nth-child(2)
				span 
					transition: 1s .9s cubic-bezier(.165,.84,.44,1)

			span
				display: block
				transition: .8s .8s cubic-bezier(.165,.84,.44,1)
				transform: translate3d(0, 100%, 0)

	&__subtitle
		font-size: 28px
		letter-spacing: 2.5px
		font-family: "BrandonGrotesque"
		font-weight: 500
		position: relative
		left: -2px
		text-transform: uppercase
		margin-bottom: 50px
		opacity: 0
		transition: 1s 1.3s cubic-bezier(.165,.84,.44,1)
		transform: translate3d(0, 50px, 0)

		@media (max-width: 1500px)
			font-size: 18px

		@media #{$mobile}
			font-size: 14px
			left: -1px
			margin-bottom: 25px
			transform: translate3d(0, 10px, 0)

	&__image
		position: absolute
		left: 50%
		top: 100px
		bottom: 50px
		display: flex
		align-items: center
		opacity: 0
		transform: translate3d(-10px, 0, 0)
		transition: 1s 2s cubic-bezier(.165,.84,.44,1)

		@media #{$mobile}
			display: none

		img 
			max-height: 100%

	&__button
		opacity: 0
		transition: 1s 1.5s cubic-bezier(.165,.84,.44,1)
		transform: translate3d(0, 20px, 0)

.lines
	max-width: 1600px
	height: 100%
	position: absolute
	top: 0
	left: 40px
	right: 40px
	margin: auto
	display: flex
	align-items: flex-start
	justify-content: space-between
	pointer-events: none

	@media #{$mobile}
		left: 20px
		right: 20px

.line
	width: 1px
	// height: 100%
	height: 0
	background: rgba(0, 0, 0, 0.1)
	transition: .6s .2s ease-out

	&:nth-child(2)
		transition-delay: .4s

	&:nth-child(3)
		transition-delay: .6s

	&:nth-child(4)
		transition-delay: .8s

	@media #{$mobile}
		background: rgba(0, 0, 0, 0.05)

.learn-more
	width: 140px
	position: absolute
	bottom: 30px
	left: 0
	right: 0
	margin: auto
	cursor: pointer
	font-size: 18px
	text-transform: uppercase
	color: #161515
	text-align: center
	letter-spacing: 2.5px
	font-family: "BrandonGrotesque"
	font-weight: 500
	opacity: 0
	transform: translate3d(0, 20px, 0)
	transition: 1s 2s cubic-bezier(.165,.84,.44,1)

	@media #{$mobile}
		display: none

	&:hover
		.learn-more__title
			transform: translate3d(0, 5px, 0)

		.icon-arrow-bottom
			transform: translate3d(0, 10px, 0)

	&__title
		margin-bottom: 5px
		transition: .6s cubic-bezier(.165,.84,.44,1)

	.icon-arrow-bottom
		width: 18px
		height: 10px
		fill: transparent
		stroke: #161515
		transition: .7s cubic-bezier(.165,.84,.44,1)


.section-about
	overflow: hidden
	padding: 100px 0 250px

	@media #{$mobile}
		padding: 50px 0

	&__desc
		max-width: 800px
		text-align: center
		margin: auto

.about-info
	color: #161515
	position: relative
	padding-top: 220px

	@media #{$mobile}
		padding-top: 40px

	&__image
		position: absolute
		bottom: -220px
		right: -150px

		@media #{$mobile}
			display: none

	&__grid
		max-width: 1400px
		margin: auto

		@media (min-width: 768px)
			display: flex

	&__col
		border: 3px solid #f3f3f3

		@media (min-width: 768px)
			margin: 0 20px
			padding: 45px 45px 120px
			width: calc(33.3333% - 20px)

			&.skills_col
				transform: translate3d(0, -85px, 0)

		@media #{$mobile}
			padding: 35px 20px

			&:not(:last-child)
				margin-bottom: 20px

	&__label
		font-size: 22px
		text-transform: uppercase
		font-family: "BrandonGrotesque"
		font-weight: 700
		letter-spacing: 2px
		margin-bottom: 80px

		@media #{$mobile}
			font-size: 16px
			margin-bottom: 30px

	&__el
		&:not(:last-child)
			margin-bottom: 50px

			@media #{$mobile}
				margin-bottom: 30px

	&__title
		font-size: 40px
		line-height: 1.4
		font-weight: 700
		margin-bottom: 10px

		@media #{$mobile}
			font-size: 22px
			margin-bottom: 5px

	&__subtitle
		font-size: 28px
		margin-bottom: 20px

		@media #{$mobile}
			font-size: 18px
			margin-bottom: 10px

	&__year
		font-size: 24px
		opacity: 0.45

		@media #{$mobile}
			font-size: 16px

.skills-list
	font-size: 30px
	font-weight: 700

	@media #{$mobile}
		font-size: 20px

	li 
		&:not(:last-child)
			margin-bottom: 20px

			@media #{$mobile}
				margin-bottom: 10px

		span
			font-weight: 300
			color: #c0c0c0


.portfolio-main
	overflow: hidden
	position: relative
	background: #f3f3f3

	@media (min-width: 768px)
		height: 520px

	@media #{$mobile}
		padding-bottom: 20px

	&__image
		pointer-events: none

		@media (min-width: 768px)
			width: 800px
			height: 800px
			position: absolute
			top: 0
			bottom: 0
			right: 50%
			margin: auto

		@media #{$mobile}
			width: 100%
			height: 100%
			position: relative

		&-el
			transition: 200ms ease-out
			
			@media (min-width: 768px)
				position: absolute
				top: 0
				bottom: 0
				left: 0
				margin: auto

			@media #{$mobile}
				position: relative
				padding: 25px 20px 0

			img 
				@media #{$mobile}
					max-width: 100%
		
	&__circle
		width: 800px
		height: 800px
		background: #a4f0f8
		transition: 200ms ease-out
		position: relative
		pointer-events: none
		border-radius: 50%

		@media #{$mobile}
			width: 130%
			height: auto
			padding-bottom: 130%
			position: absolute
			top: -70%
			left: -60%
	
	&__container
		display: flex
		align-items: center
		
		@media (min-width: 768px)
			position: absolute
			left: 50%
			top: 0
			bottom: 0
			padding-left: 150px

		@media #{$mobile}
			position: relative
			padding: 20px
			justify-content: center

.portfolio-grid
	@media (min-width: 768px)
		display: flex
		flex-wrap: wrap

.portfolio-elem
	position: relative
	display: flex

	@media (min-width: 768px)
		width: 50%

		&:nth-child(odd)
			border-right: 1px solid #d7d7d7

	@media #{$mobile}
		padding-bottom: 150px

		&:not(:last-child)
			border-bottom: 1px solid #d7d7d7

	&:nth-child(even)
		justify-content: flex-end
		
		@media (min-width: 768px)
			.portfolio-elem__info
				left: auto
				right: 60%

	&:nth-child(2n + 3),
	&:nth-child(2n + 4)
		background: #f2f2f2

	&__info
		position: absolute
		display: flex
		align-items: center

		@media (min-width: 768px)
			top: 0
			bottom: 0
			left: 60%

		@media #{$mobile}
			left: 20px
			right: 20px
			bottom: 40px
			justify-content: center

	&__image
		width: 60%
		height: 100%
		display: flex
		align-items: center

		@media #{$mobile}
			width: 100%

		img 
			max-width: 100%
			display: block

	&__title
		font-size: 46px
		font-weight: 700
		margin-bottom: 40px

		@media #{$mobile}
			font-size: 24px
			margin-bottom: 15px
			text-align: center


.section-contact
	padding: 100px 0

	@media #{$mobile}
		padding: 35px 20px

.contact-container
	width: 100%
	max-width: 530px
	margin: auto

	.large-title
		text-align: center

.contact-form
	.button
		width: 100%

.contact-info
	width: 100%
	max-width: 1280px
	border-top: 1px solid #d7d7d7
	margin: 100px auto 0
	padding-top: 55px
	font-size: 30px
	line-height: 1
	color: #161515

	@media #{$mobile}
		margin: 50px auto 20px
		padding-top: 45px
		font-size: 18px

	&__el
		display: flex
		align-items: center
		justify-content: center

		&:not(:last-child)
			margin-bottom: 20px

	&__icon
		margin-right: 15px

		.icon-mail
			width: 28px
			height: 20px

			@media #{$mobile}
				width: 24px
				height: 14px

		.icon-skype
			width: 28px
			height: 28px

			@media #{$mobile}
				width: 20px
				height: 20px

