.button 
	font-family: "BrandonGrotesque"
	font-weight: 700
	line-height: normal
	display: inline-block
	padding: 0 
	text-transform: uppercase
	cursor: pointer
	background: transparent
	border: none
	outline: none
	position: relative
	text-decoration: none
	user-select: none
	transition: .4s cubic-bezier(.165,.84,.44,1)

	&:active
		transform: scale(0.95)

	&.style_border_black
		color: #161515
		border: 5px solid #161515

		@media #{$mobile}
			border-width: 3px

		&:hover
			color: #fff
			background: #161515

	&.style_black
		color: #fff
		background: #161515

		&:hover
			background: #333

	&.size_large
		height: 95px
		font-size: 23px
		letter-spacing: 2px
		padding-left: 75px
		padding-right: 75px

		@media (max-width: 1500px)
			font-size: 20px
			height: 70px
			padding-left: 35px
			padding-right: 35px

		@media #{$mobile}
			font-size: 16px
			height: 60px

	&.size_medium
		height: 80px
		font-size: 20px
		letter-spacing: 2px
		padding-left: 65px
		padding-right: 65px

		@media #{$mobile}
			font-size: 16px
			height: 60px
			padding-left: 35px
			padding-right: 35px

	&__text
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center


.fieldset
	margin-bottom: 25px

input::-webkit-contacts-auto-fill-button
	visibility: hidden
	pointer-events: none
	position: absolute
	right: 0

input::-ms-clear
	width: 0
	height: 0

.input
	width: 100%
	font-size: 19px
	font-family: "BrandonGrotesque"
	font-weight: 700
	padding-left: 35px
	padding-right: 35px
	height: 110px
	border: 3px solid #f3f3f3

	@media #{$mobile}
		height: 60px
		padding-left: 20px
		padding-right: 20px
		font-size: 16px
		border-width: 2px

textarea.input
	height: 330px
	padding: 35px
	resize: none
	overflow: hidden

	@media #{$mobile}
		height: 130px
		padding: 20px


