.count-trainings
    position: relative
    padding: 65px 0 55px
    z-index: 0
    
    @media #{$mobile}
        padding: 20px 0
    
    &__desktop
        
        @media #{$mobile}
            display: none
            
    & > .container
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
    
    &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        width: calc(100% - 220px)
        height: 100%
        background-color: #F6F7FB
        border-top-left-radius: 200px
        z-index: 1
    
        @media #{$mobile}
            content: none
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        text-align: center
        color: #0C100F
        position: relative
        margin: 0 0 20px 0
        z-index: 2
        
        @media #{$mobile}
            font-size: 24px
            line-height: 29px
            text-align: center
    
    &__subtitle
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 27px
        text-align: center
        color: #777777
        position: relative
        z-index: 2
        margin: 0 0 35px 0
        
        @media #{$mobile}
            font-size: 16px
            line-height: 19px
            text-align: center
    
    &__list
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin: 0 0 40px
        position: relative
        z-index: 2
    
        @media #{$mobile}
            flex-direction: column
            padding: 0 32px
    
    &__item
        width: 33.33333333333%
        display: flex
        flex-direction: column
        position: relative
        z-index: 2
    
        @media #{$mobile}
            width: 100%
    
    &__item-pic
        display: flex
        align-items: center
        min-width: 220px
        height: 210px
        
        & > span
            font-family: $font-family-header
            font-style: normal
            font-weight: bold
            font-size: 80px
            line-height: 97px
            color: #ABC333
   
    &__item-text
        color: #777777
        text-align: center
        max-width: 290px
        margin: 0 auto

    &__button
        position: relative
        margin: 0 auto
        z-index: 2
        width: 280px
        display: flex
        height: 56px
        
        @media #{$mobile}
            display: flex
            max-width: 290px
            margin: 0 auto
    
    &__panel-popup
        background: #F6F7FB
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08)
        border-radius: 20px
        display: none
        position: relative
        padding: 20px 10px
        
        @media #{$mobile}
            display: block
            margin: 0 0 20px 0
    
    &__panel-popup-link
        background-color: transparent
        position: absolute
        top: 10px
        right: 10px
        display: block
        width: 10px
        height: 10px
        background-image: url('../images/svg-pic/arrow-to-popup.svg')
        -webkit-background-size: cover
        background-size: cover
        background-repeat: no-repeat
        
    &__panel-popup-button
        display: none
    
        @media #{$mobile}
            display: flex
            width: 300px
            margin: 0 auto