$diets-screen-table:  $screen-table
$diets-screen-mobile: 480px

.diets
    padding: 0 0 30px 0
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        text-align: center
        color: #0C100F
        margin: 0 0 18px 0
        
        @media (max-width: $diets-screen-mobile)
            font-size: 24px
            line-height: 29px
    
    &__subtitle
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 27px
        text-align: center
        color: #777777
        margin: 0 0 26px 0
        
        @media (max-width: $diets-screen-mobile)
            font-size: 16px
            line-height: 20px
            text-align: center
            margin: 0

.diets-tabs
    
    @media #{$mobile}
        display: none
    
    &__nav
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: flex-start
        margin: 0 0 55px 0
    
    &__button
        position: relative
        padding: 0
        opacity: 0.7
        cursor: pointer
        width: 170px
        height: 190px
        background: transparent

        &:hover,
        &:focus
            opacity: 1
        
        & > figure
            margin: 0 auto
            width: 130px
    
            & > img
        
        & > span
            font-family: $font-family-header
            font-size: 16px
            line-height: 19px
            text-align: center
            position: absolute
            bottom: 0
            left: 50%
            padding: 5px 10px
            transform: translateX(-50%)
            
        &.active
            opacity: 1
    
            & > figure
                margin: 0 auto
                transform: scale(1.2)
        
                & > img
        
            & > span
                background: #F1F2F6
                border-radius: 4px
        
    &__type
        display: none
        flex-direction: column
        align-items: center
        justify-content: flex-start
        
        & > p
            font-family: $font-family-base
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 30px
            text-align: center
            color: #404241
            margin: 0 0 24px 0
            max-width: 820px
        
        &.showed
            display: flex
    
    &__content
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 30px
        text-align: center
        color: #404241
    
    &__link
        display: inline-flex
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 24px
        letter-spacing: 0.01em
        color: #ABC333
        border-bottom: 1px solid rgba(171, 195, 51, 0.7)
        
        &:hover
            border-color: transparent
