.dish
    position: relative
    padding: 16px
  
    &:last-child
        &::before
            display: none

    &.active
        .dish__button
            display: block

    &:hover,
    &:focus
        background: rgba(142, 133, 246, 0.1)

        .dish__button
            display: block

    &::before
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 16px
        right: 16px
        border-bottom: 1px dashed #DDE0E9

    &--modal
        padding: 24px 32px
        cursor: pointer

        @media #{$xs}
            padding: 10px 8px

        &::before
            left: 32px
            right: 32px
            border-bottom: 1px solid #DDE0E9
        
            @media #{$xs}
                left: 8px
                right: 8px

        .dish__mass
            margin-left: 8px

        .dish__head
            font-size: 18px

            @media #{$xs}
                font-size: 16px

        .dish__content
            padding-left: 21px

            @media #{$xs}
                padding-left: 8px

        .dish__text
            @media #{$xs}
                font-size: 14px
                padding-right: 10px

        .dish__image
            width: 150px
            min-width: 150px

            @media #{$xs}
                width: 76px
                min-width: 76px

        .dish__footer
            font-size: 14px

        .dish__head
            margin-bottom: 8px

    &__check
        position: absolute
        right: 22px

        @media #{$xs}
            right: 0

    &__button
        position: absolute 
        right: 10px
        width: 28px
        height: 28px
        background: $purple url($svgpath + 'update.svg') no-repeat center
        border-radius: 50%
        display: none

        &--replace
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            width: 90px
            height: 30px
            border-radius: 4px
            color: white
            background-image: none

    &__head
        font-size: 14px
        color: #000
        line-height: 1.2

    &__footer
        font-size: 13px
        margin-top: 8px

    &__mass
        color: #D9A441
        padding-right: 10px

    &__college
        color: #C4C4C4

    &__row
        display: flex
        align-items: flex-start

    &__image
        min-width: 76px
        width: 76px

    &__stage
        margin-bottom: 8px

    &__img
        max-width: 100%
        display: block
        border-radius: 8px

    &__content
        width: 100%
        padding-left: 10px