.dropdown-menu
    position: absolute
    right: 0
    display: none

.dropdown
    position: relative
    z-index: $z-control

    &--info-card
        position: absolute
        top: 10px
        right: 0

        @media #{$mobile}
            top: 22px

    &.open
        z-index: $z-control + 1
        
        .dropdown-menu
            display: block
            margin-top: 10px
            opacity: 1

            &::before
                content: ''
                position: absolute
                width: 18px
                height: 10px
                right: 10px
                top: -8px
                display: block
                background: url($svgpath + 'dropdown-arrow.svg') no-repeat center
                background-size: 100% 100%

            li
                position: relative
                background: $purple
                opacity: 1

                &:first-child
                    border-top-left-radius: $border-radius-base
                    border-top-right-radius: $border-radius-base

                &:last-child
                    border-bottom-left-radius: $border-radius-base
                    border-bottom-right-radius: $border-radius-base

                &:hover
                    background-color: darken($purple, 4)
                    

            a
                display: block
                color: #FAFAFA
                font-size: 16px
                padding: 5px 15px

    &--white
        &.open
            .dropdown-menu
                box-shadow: 0px 4px 10px rgba(59, 70, 78, 0.2)

                &::before
                    background-image: url($svgpath + 'dropdown-arrow-white.svg')

                li
                    background: white

                    &:hover
                        background-color: lighten($gray, 4)

                a
                    color: $black
