$screen-mobile: 560px
.error-page
    max-width: 800px
    margin: 0 auto
    text-align: center
    margin-bottom: 100px

    @media #{$mobile-small}
        padding: 0 15px 
        margin-bottom: 20px

    &__msg
        margin-top: 100px
        font-size: 120px
        line-height: 1
        font-family: $font-family-header
        font-weight: bold
        color: $success

        @media #{$mobile-small} 
            margin-top: 20px

        img
            max-width: 100%

    &__text
        font-size: 24px
        margin-top: 30px

    &__link
        font-size: 24px
        color: $success

        @media #{$mobile-small} 
            font-size: 18px
