$exercises-screen-table:  $screen-table
$exercises-screen-mobile: 480px

.exercises
    padding: 0 0 40px 0
    
    &__header
        display: flex
        align-items: center
        justify-content: space-between
        margin: 40px 0
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        color: #0C100F
    
        @media (max-width: $exercises-screen-mobile)
            text-align: center
            font-size: 24px
            line-height: 29px
        
    &__link
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 21px
        letter-spacing: 0.01em
        color: #ABC333
        position: relative
        padding: 0 40px 0 0
        
        &:after
            content: ''
            position: absolute
            top: 2px
            right: 0
            width: 25px
            height: 20px
            background: url(../images/svg-pic/arrow-right.svg) no-repeat center
            background-size: cover
            
        @media (max-width: $exercises-screen-mobile)
            display: none
        
    &__list
        display: flex
        flex-wrap: wrap
        margin-right: -20px
    
        @media (max-width: $exercises-screen-mobile)
            margin-right: 0
    
        &--scroll
            @media (max-width: $exercises-screen-mobile)
                flex-wrap: nowrap
                overflow-y: auto
        
            .best-recepies__item
                @media (max-width: $exercises-screen-mobile)
                    max-width: calc(50% - 20px)
                    min-width: calc(50% - 20px)
        
        &--short
            margin-right: 0
    
    &__item
        max-width: calc(25% - 20px)
        width: 100%
        margin-right: 20px
        margin-bottom: 40px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        border-radius: 8px
        overflow: hidden
        //height: 380px
    
        @media (max-width: $exercises-screen-table)
            max-width: calc(50% - 20px)
            min-width: calc(50% - 20px)
    
        @media (max-width: $exercises-screen-mobile)
            height: auto
            max-width: calc(50% - 20px)
            min-width: calc(50% - 20px)
    
    &__item-pic
        width: 195px
        height: 195px
        border-top-right-radius: 10px
        border-top-left-radius: 10px
        margin: 0 0 20px 0
    
        @media (max-width: $exercises-screen-table)
            max-width: calc(50% - 20px)
            min-width: calc(50% - 20px)
    
        @media (max-width: $exercises-screen-mobile)
            width: 145px
            height: 120px
            max-width: 100%
    
    &__item-title
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 19px
        color: #000000
        margin: 0 0 6px 0
        padding: 0 15px 0 0
        
        @media (max-width: $exercises-screen-mobile)
            font-size: 16px
    
    &__item-desc
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        color: #0C100F
        padding: 0 15px 0 0
        
        @media (max-width: $exercises-screen-mobile)
            font-size: 12px
            line-height: 14px