.feedback-leave
    padding: 45px 10px
    text-align: center
    background: $brand-white
    border-radius: $border-radius-base

    @media #{$mobile} 
        padding: 20px 10px

    &__header
        font-size: 24px
        margin-bottom: 30px

        @media #{$mobile} 
            margin-bottom: 20px

        &::before
            position: relative
            content: ''
            display: inline-block
            background: url($svgpath + 'comment.svg') no-repeat center
            width: 24px
            height: 21px
            margin-right: 5px
            margin-bottom: -3px

    &__text
        margin-bottom: 30px
        color: $gray-dark

        @media #{$mobile} 
            margin-bottom: 20px

    &__form
        text-align: left
        padding: 0 40px

        @media #{$mobile} 
            padding: 0

    &__form-header
        font-size: 20px
        font-weight: 500
        margin-bottom: 15px

    &__checklist
        margin-bottom: 40px

        @media #{$mobile} 
            margin-bottom: 20px

        .check
            @media #{$mobile} 
                display: block

    &__textarea
        margin-bottom: 40px

        @media #{$mobile} 
            margin-bottom: 20px

    .button
        margin: 0 auto
