.footer
    margin: 60px 0 40px 0
    padding: 0 10px

    @media #{$mobile}
        margin: 30px 0 20px 0
    
    @media #{$tablet-min}
        padding: 0 80px

    &--error.footer
        position: absolute
        left: 0
        right: 0
        bottom: 0

        .footer__wrapper
            justify-content: center
            align-items: center
            flex-direction: column

        .footer__copyright
            text-align: center
            margin-top: 20px

        > .container
            border-top: 0
            margin: 0
    
    & > .container
        // border-top: 1px solid rgba(171, 195, 51, 0.3)
        // padding: 60px 20px
    
        @media #{$tablet}
            padding: 20px
            
        @media #{$mobile}
            padding: 20px 0
    
    &__wrapper
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
    
        @media #{$mobile}
            flex-direction: column
            align-items: center
            justify-content: flex-start
    
    &__col
        
        &--left
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
    
    &__list
        margin: 0 0 30px 0
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: flex-start
    
        @media #{$mobile}
            flex-direction: column
            align-items: center
            justify-content: flex-start
            
    
    &__item
        margin: 0 23px 0 0
        
        @media #{$xs}
            margin: 0 0 12px 0

        @media #{$mobile}
            margin: 0 0 10px 0

        &:last-child
            margin-right: 0
    
    &__link
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        color: #ABC333
    
    &__copyright
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 13px
        line-height: 15px
        color: #9E9B98
        
        @media #{$mobile}
            display: none
    
        &--mobile
            font-size: 13px
            line-height: 15px
            color: #9E9B98
            display: none
            
            @media #{$mobile}
                display: flex

    > .container
        padding: 0
                
.footer-social
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-end
    
    @media #{$mobile}
        margin: 0 0 40px 0
    
    &__item
        margin: 0 16px 0 0
        width: 40px
        height: 40px
        border-radius: 50%
        
        &:last-child
            margin-right: 0
    
    &__link
        width: 100%
        height: 100%
        border-radius: 50%
        background: #F6F7FB
        display: flex
        align-items: center
        justify-content: center