.form-control-wrapper
    position: relative

    &__button
        position: absolute
        right: 10px
        top: 15px
        width: 20px
        height: 20px
        background: url($svgpath + 'help.svg') no-repeat center
        cursor: pointer

    &__input
        padding-right: 35px