.form-check-list
    &__item
        position: relative
        display: flex
        align-items: flex-start
        margin-bottom: 15px
        border: 1px solid #DDE0E9
        transition: $transition-default
        border-radius: 8px
        cursor: pointer

        @media #{$xs}
            border: 0
            border-radius: 0
            border-bottom: 1px solid #DDE0E9
            margin-bottom: 0
            align-items: center

        &:hover,
        &:focus
            background: white

        &.active
            border-color: $success
            box-shadow: 0px 0px 0px 2px $success

    &__content
        width: 100%
        padding: 22px 50px 15px 0

    &__title
        font-weight: normal
        font-size: 20px
        color: #000
        margin-bottom: 10px
        

    &__text
        font-size: 16px
        line-height: 1.5
        margin-bottom: 10px

        @media #{$xs}
            display: none

    &__image
        min-width: 130px
        padding: 15px

        @media #{$xs}
            min-width: 46px
            padding: 8px 15px 8px 5px

        img
            display: block
            max-width: 100%
            margin: auto

            @media #{$xs}
                max-height: 46px

    &__link
        position: relative
        display: flex
        align-items: center
        color: $success

        @media #{$xs}
            display: none

        &::after 
            content: ''
            display: block
            position: relative
            width: 10px
            height: 10px
            margin-left: 10px
            background: url($svgpath + 'arrow-top-right-green.svg') no-repeat center

    &__input
        display: none

        &:checked  ~ .form-check-list__checkbox
            background-color: $success

            &:before
                position: absolute
                top: 0
                left: 4px
                content: ' '
                display: block
                width: 17px
                height: 17px
                background: url($svgpath + 'check-small-black.svg') no-repeat center / 100%

    &__checkbox
        position: absolute
        right: 26px
        top: 22px
        display: block
        width: 18px
        height: 18px
        border-radius: 50%
        background: #DDE0E9

        @media #{$xs}
            top: 30px
