.form-line
    display: flex

    @media #{$xs}
        flex-direction: column 

    &--end
        margin-bottom: 40px

        @media #{$xs}
            margin-bottom: 20px

    &--border
        position: relative

        @media #{$xs}
            margin-top: 8px
            padding-top: 12px

            &:before
                content: ''
                position: absolute
                top: 0
                left: -8px
                right: -8px
                border-top: 1px solid $gray-light

        .form-line__content
            position: relative

            @media #{$xs-min}
                padding-top: 15px
                margin-top: 10px

            &:before
                content: ''
                position: absolute
                top: 0px
                left: 0
                right: 0
                border-top: 1px solid $gray-light

                @media #{$xs}
                    display: none


    &__head
        text-overflow: ellipsis
        overflow: hidden
        font-family: $font-family-header
        margin-bottom: 15px

        @media #{$xs}
            font-size: 16px
            margin-bottom: 10px
            padding-top: 20px

        &--mobile-big
            @media #{$xs}
                font-size: 32px

    &__row
        display: flex

        @media #{$xs}
            display: block

        &--50
            width: 50%
            padding-left: 20px

            &:first-child
                padding-left: 0

        &--mobile-100
            @media #{$xs}
                display: flex
                width: 100%
                padding: 0

            .form-line__group + .form-line__group
                @media #{$xs}
                    padding-left: 10px

        &--mobile
            @media #{$xs}
                display: flex

        .form-line__group
            padding-left: 20px

            @media #{$xs}
                padding-left: 0

            &:first-child
                padding-left: 0

    &__text
        margin-bottom: 20px
        
        @media #{$xs}
            font-size: 12px
            color: #828282
            font-style: italic

    &__info
        width: 35%
        padding-right: 24px
        text-align: left

        @media #{$xs}
            padding-right: 0

        &--payment-sum
            padding-top: 33px

            @media #{$xs}
                padding-top: 10px

        @media #{$xs}
            width: 100%

    &__content
        display: flex
        flex-direction: column
        max-width: 605px
        width: 65%

        &--right
            max-width: 100%
            flex-direction: row
            justify-content: flex-end

        &--full
            width: 100%
            max-width: 100%

            .form-line__head
                font-size: 20px
                margin-bottom: 20px

            .form-line__group
                width: 100%

        .button
            max-width: 290px

            @media #{$xs}
                max-width: 100%

        .button--full
            max-width: 100%

        .payment-sum__row
            padding-bottom: 60px

        @media #{$xs}
            width: 100%
            max-width: 100%

    &__group
        display: flex
        flex-flow: column
        justify-content: flex-end
        padding-left: 20px
        margin-bottom: 30px

        @media #{$xs}
            padding-left: 0
            margin-bottom: 24px

        &--100
            width: 100%
            padding-left: 0

        &--50
            width: 50%

            @media #{$xs}
                width: 100%

        &--25
            width: 25%

            @media #{$xs}
                width: 100%

        &--mobile-50
            @media #{$xs}
                width: 50%

                & + &
                    padding-left: 20px

    &__subtitle
        font-style: italic
        font-size: 14px
        color: #828282
        line-height: 1.3
        max-width: 235px
        margin-top: 10px

        @media #{$xs}
            max-width: 100%
            margin-bottom: 24px

        &--checkbox
            max-width: 100%
            margin-left: 36px
            margin-top: 0
            line-height: 1.2

    &__label
        display: inline-block
        margin-bottom: 5px