.head
  padding: 20px 15px
  width: 100%

  &--center
    text-align: center

  &--inline
    padding: 0

    .head__control
      padding-left: 20px
      min-width: 300px

  &__header
    margin: 0 0 20px 0
    font-size: 46px

  &__img
    margin: auto
    max-width: 250px
    width: 100%

  &__row
    display: flex

    &--down
      align-items: flex-end

  &__text
    margin-top: 20px
    font-size: 16px
    line-height: 1.7
    margin-bottom: 10px
  
    @media #{$tablet}
      font-size: 14px
      font-style: italic
      color: #828282

  &__control
    &--tablet-hide
      @media #{$tablet}
        display: none