$header-banner-screen-table: $screen-table
$header-banner-screen-mobile: $screen-mobile

.header-banner
    padding-top: 20px
    margin-bottom: 45px
    background: $brand-white

    @media #{$tablet-min}
        padding: 0 80px


    @media (max-width: $header-banner-screen-table)
        margin-bottom: 20px

    &--default
        .header-banner__wrapper
            justify-content: center
            text-align: center

        .header-banner__head
            margin-bottom: 15px

        .header-banner__text
            font-family: $font-family-base
            font-size: $font-size-base
            margin-top: 10px
            padding-right: 0

    &__symbol
        font-size: $font-size-base
        margin-top: 15px
        color: $success


    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-end
        max-width: $screen-content
        margin: auto

        @media (max-width: $screen-content)
            padding: 0 15px

        @media (max-width: $header-banner-screen-table)
            flex-direction: column-reverse
            align-items: center
            text-align: center

    &__head
        font-size: 46px
        font-family: $font-family-header
        font-weight: 700

        @media (max-width: $header-banner-screen-table)
            font-size: 24px
            
        @media (max-width: $header-banner-screen-mobile)
            font-size: 18px

    &__text
        font-size: 24px
        padding-right: 50px
        margin-top: 25px

        @media (max-width: $header-banner-screen-table)
            padding-right: 0
            font-size: $font-size-base

    &__image
        max-width: 460px
        width: 100%
        display: flex
        align-items: flex-end

        img
            max-width: 100%

    &__content
        max-width: 70%
        width: 100%
        padding-bottom: 50px

        @media (max-width: $header-banner-screen-table)
            padding-bottom: 30px
            max-width: 90%

        @media (max-width: $header-banner-screen-mobile)
            padding-bottom: 15px
            max-width: 100%
            padding-left: 10px
            padding-right: 10px
