.header-nav
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    width: calc(100% - 70px)
    
    &--lk
        @media #{$mobile}
            position: absolute
            top: 50px
            left: 0
            right: 0
            height: 44px
            width: auto
            border-bottom: 1px solid #E8EAF2
            background: #F6F7FB

            .header-nav__list-item
                padding: 0
                border-bottom: 0

            .header-nav__add-icon
                display: none

    &__list
        display: flex
        flex-flow: row nowrap
        align-items: center
        
        @media #{$menu}
            width: 100%
            flex-direction: column
            margin: 0 0 20px 0
            border-bottom: 1px solid #ededed
    
    &__list-item
        margin: 0 14px
    
        @media #{$menu}
            padding: 17px 20px
            border-bottom: 1px solid #ededed
            width: 100%
            text-align: center
    
    &__list-link
        display: flex
        align-items: center
        font-family: $font-family-base
        font-size: 16px
        line-height: 17px
        color: #000000
        padding: 9px 0
        
        &.active
            border-bottom: 2px solid #000000
            
        &:hover
            color: #000
            
        @media #{$menu}
            font-family: $font-family-header
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 24px
            text-align: center
            color: #0C121C
            
    &__start-monday
        position: relative
        background: #DDE0E9
        border-radius: 8px
        height: 35px
        padding: 5px 12px
        margin: 0 0 0 20px
        color: #000
        
        &:hover
            color: #000
    
        &::after
            content: ''
            position: absolute
            bottom: -4px
            left: -2px
            width: 29px
            height: 24px
            background-image: url(../images/svg-pic/monday-start-el.svg)
            background-size: cover
            z-index: -1
            
    &__add-icon
        display: block
        background: url(../images/svg-pic/add-icon.svg) no-repeat center
        width: 24px
        height: 24px
        margin-left: 10px
        background-size: 98% 98%