.header-buttons
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-end
    margin-left: auto
    
    &__item
        border-radius: 4px
        padding: 11px 10px
    
        &--sign-in
            margin: 0 24px 0 0
        
        &--do-plan