.header
    position: relative
    padding: 25px 0
    background-color: transparent
    width: 100%
    height: $header-nav-height
    transition: background-color ease-in 0.2s
    z-index: 1000
    display: flex
    align-items: center
    justify-content: space-between

    &.header--modal
        position: static

    &.header--wizard
        background: $brand-white
    
    @media #{$menu}
        height: 84px
        padding: 0
        
    &.glide
        position: fixed
        top: 0
        left: 0
        height: 50px
        background-color: #fff
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08)
    
        .header__logo
            height: 31px
            @media #{$tablet}
                height: 19px
        
        & .m-menu
            top: 49px
        
        label[for=header-nav-trigger]
            transform: translateY(-21%)
    
    &--error
        background: $bodycolor
        text-color: center

        .header__menu
            justify-content: center

        .header__logo
            margin-right: 0

    &--lk
        position: relative
        background-color: #F6F7FB
        
        @media #{$mobile}
            height: 50px
            padding: 0 7px
            background: #fff
            margin-bottom: 44px

            .header__logo
                max-width: 174px
                width: 100%

            .header__container
                padding: 0

            .header__login
                min-width: 0

        &::before
            box-shadow: 0 5px 10px rgba(0,0,0,.08)
            content: ' '
            display: block
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 1
            pointer-events: none
    
    //.header__logo
        //margin: 0 auto
    
    &__container
        padding: 0 40px
        width: 100%
        height: 100%
    
        @media #{$menu}
            padding: 0 20px
            width: 100%
    
    &__menu
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 100%
    
    &__logo
        max-width: 240px
        margin: 0 35px 0 0
        height: 32px

    &__login
        min-width: 190px

    &__close
        position: relative
        display: flex
        align-items: center
        justify-content: center
        border: 2px solid $pink
        width: 40px
        height: 40px
        border-radius: $border-radius-base

        &::before
            content: ''
            width: 20px
            height: 20px
            background: url($svgpath + 'close-red.svg') no-repeat center

    