.indicators
    display: flex
    
    @media #{$mobile}
        flex-direction: column

    &__content
        width: 60%

        @media #{$mobile}
            width: 100%

    &__control
        width: 40%
        padding-right: 15px

        @media #{$mobile}
            width: 100%
            padding-right: 0
            padding-bottom: 15px

    &__count
        font-family: $font-family-header
        font-style: normal
        font-weight: bold
        font-size: 86px
        line-height: 1
        margin-bottom: 30px

        span
            font-size: 32px
            font-weight: normal

    &__form
        @media #{$mobile}
            display: none

    &__date
        font-size: 16px
        padding-bottom: 15px

    &__indicate-weight
        display: none

        @media #{$mobile}
            display: block