.info-card
    position: relative
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: #ffffff
    border: 1px solid #DDE0E9
    border-radius: 8px
    margin: 0 25px 25px 0
    max-width: 260px
    width: 100%
    min-height: 340px
    padding: 10px

    @media #{$mobile}
        margin-right: 0
        display: flex
        margin-left: auto
        margin-right: auto
        text-align: left
        flex-direction: row
        align-items: center
        max-width: 100%
        min-height: 0
        margin: 0
        border: 0
        background: transparent
        padding: 15px 0
        justify-content: flex-start

        &::after
            content: ''
            display: block
            position: absolute
            bottom: 0
            left: 10px
            right: 10px
            border-bottom: 1px solid #EDF0F6

    &--dashed
        border-style: dashed

        @media #{$mobile}
            justify-content: center

            .info-card__image,
            .info-card__progrss,
            .info-card__title
                display: none

            .button
                display: block

    &--disabled
        .info-card__image,
        .info-card__progrss,
        .info-card__title
            opacity: 0.5

    &--week
        max-width: 100%
        min-height: auto
        padding: 30px 25px

    &__image
        width: 82px
        height: 82px
        border-radius: 50%
        margin-bottom: 30px

        @media #{$mobile}
            width: 45px
            height: 45px
            margin-bottom: 0

    &__title
        font-size: 20px
        font-family: $font-family-base
        font-weight: normal
        text-align: center
        margin-bottom: 30px

        @media #{$mobile}
            text-align: left
            margin-bottom: 0
            margin-left: 8px

    &__subtitle-mobile,
    &__subtitle
        margin-bottom: 30px
        font-size: 12px
        color: #9D9D9D
        text-align: center

        @media #{$mobile}
            margin-bottom: 0

    &__subtitle-mobile
        display: none

        @media #{$mobile}
            display: block

    &__progress
        padding: 0 30px
        width: 100%

        @media #{$mobile}
            display: none

        .progressbar
            margin-bottom: 5px

    &__button
        @media #{$mobile}
            display: none

.info-card-list
    display: inline-flex
    flex-wrap: wrap
    margin-right: -20px
    min-width: 100%

    @media #{$mobile}
        display: flex
        flex-direction: column
        margin: 0