$info-list-screen-table: 1024px
$info-list-screen-mobile: 480px
.info-list
    @media #{$tablet-min}
        padding: 0 80px
        
    &--main-mobile
        display: none
        
        @media (max-width: $info-list-screen-mobile)
            display: block
            
    &__wrapper
        max-width: $screen-content
        margin: auto
        padding-top: 30px
        display: flex
        flex-wrap: wrap

        @media (max-width: $info-list-screen-mobile)
            flex-wrap: nowrap
            flex-direction: column

    &__item
        display: flex
        align-items: flex-start
        justify-content: space-between
        max-width: 50%
        padding: 30px 0
        border-bottom: 1px solid
        border-color: rgba(171, 195, 51, 0.3)
        transition: all .3s ease

        &:nth-child(odd)
            border-right: 1px solid rgba(171, 195, 51, 0.3)

            @media (max-width: $info-list-screen-mobile)
                border: 0

        &:hover,
        &:focus,
        &.active
            cursor: pointer
            background: rgba(171, 195, 51, 0.1)

        @media (max-width: $info-list-screen-table)
            max-width: 100%

        @media (max-width: $info-list-screen-mobile)
            flex-direction: column
            padding: 0 10px
            width: 100%
            border: 0
            
    &__head
        font-family: $font-family-header
        font-size: 38px
        line-height: 46px
        font-weight: 700
        margin-bottom: 30px

        @media (min-width: $info-list-screen-mobile)
            &--mobile-hide
                display: block

            &--mobile-show
                display: none

        @media (max-width: $info-list-screen-mobile)
            font-size: 16px
            line-height: $line-height-base
            margin-bottom: 0

            &--mobile-show
                display: block

            &--mobile-hide
                display: none

    &__header-line
        @media (max-width: $info-list-screen-mobile)
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            border-top: 1px solid $border-gray-color
            // border-bottom: 1px solid $border-gray-color
            padding: 10px 10px 10px 0
            cursor: pointer
            margin-bottom: 0
    
            &::after
                content: ''
                display: block
                width: 24px
                height: 24px
                min-width: 24px
                min-height: 24px
                background: url($svgpath + 'plus-purple.svg') no-repeat center
                transition: $transition-default

            &.active
                &::after
                    transform: rotate(45deg)

            .info-list__head
                width: 100%
                
    &__image
        min-width: 100px
        // max-width: 30%
        padding: 0

        @media (max-width: 1100px)
            max-width: 20%

        @media (max-width: $info-list-screen-mobile)
            min-width: 40px
            max-width: 40px
            margin-right: 10px
            display: flex
            align-items: center
            justify-content: center

        img
            width: 100%

    &__content
        width: 100%
        padding: 0 15px

        @media (max-width: $info-list-screen-mobile)
            padding: 0 0 10px 0
            display: none

            &.active
                display: block

    &__text
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 22px
        color: #404241
    
    &__button
        display: none

        @media (max-width: $info-list-screen-mobile)
            display: flex
            align-items: center
            justify-content: center
            max-width: 290px
            margin: 15px auto
            text-align: center
            padding: 0 10px