.form-control
    background: rgba(247, 248, 251, 0.6)
    border: 1px solid #C4C4C4
    border-radius: 8px
    height: 50px
    padding: 5px 15px
    // +placeholder("green", 18px)

    &--card,
    &--date
        background-position: 95% 50%
        background-repeat: no-repeat
        padding-right: 40px

    &--date
        background-image: url($svgpath + 'date.svg')

    &--card
        background-image: url($svgpath + 'card.svg')
        background-position: 98% 50%
