.login-widget
    display: flex
    align-items: center
    min-height: 24px

    &__button-select
        cursor: pointer
        width: 24px
        height: 24px
        margin-left: 10px
        display: inline-block
        background: url($svgpath + 'login-widget-button.svg') no-repeat 0 2px

    &__dropdown-button
        display: flex
        flex-direction: row-reverse
        border-left: 1px solid $gray-light
        font-size: 16px
        padding-left: 18px

        @media #{$mobile}
            border-left: 0
            padding-left: 10px

            &::before
                background-image: url($svgpath + 'ico-hamburger.svg')
                height: 20px
                border-radius: 2px
                background-size: contain

    &__name
        font-size: 18px 
        padding-right: 10px
        text-align: left
        white-space: nowrap
        text-overflow: ellipsis

        @media #{$mobile}
            display: none
    
    &__mobile-name
        border-bottom: 1px solid $gray-light

        @media #{$mobile-min}
            display: none

    &__dropdown
        &.open
            .dropdown-menu
                .login-widget__mobile-name
                    a
                        padding-top: 15px
                        padding-bottom: 15px

        .dropdown-menu
            @media #{$mobile}
                min-width: 50vw
