.login
    max-width: 400px
    margin: 15px auto

    @media #{$xs}
        margin: 0 auto

    &__text
        font-size: 13px
        text-transform: uppercase
        margin-bottom: 5px

    &__head
        margin-bottom: 24px

        @media #{$xs}
            margin-bottom: 30px

    &__line
        display: block
        margin-bottom: 25px
        font-weight: normal

    &__button
        min-width: 145px
        height: 50px

    hr
        margin-top: 25px
        margin-bottom: 25px
        border-color: #DDE0E9

    a 
        color: $success
        text-decoration: underline

        &:hover,
        &:focus
            text-decoration: none


.login-page
    .wrapper
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center

        @media #{$xs}
            align-items: flex-start
