.main-menu
    display: flex
    justify-content: flex-start
    align-items: center
    margin: 0
    padding: 0
    width: 100%

    &__list
        padding: 10px 0 0 0
        margin: 0
        list-style: none

    &__item
        display: inline-block
        vertical-align: top
        margin: 0 14px
        
        &:first-child
            margin: 0 14px 0 0
        
        &:last-child
            margin: -4px 0 0 14px

    &__link
        font-size: 18px
        color: #000
        text-transform: uppercase
        
        &:hover
            text-decoration: none
            color: #333333

.m-menu
    width: 100%
    
    &--lk
        @media #{$menu}
            position: static

        .main-menu
            display: block
            margin: 0

        .header-nav__list
            flex-direction: row
            border: 0
            margin: 0

        .header-nav__list-link
            font-size: 16px
            font-family: $font-family-base
            font-weight: normal

            @media #{$xs}
                justify-content: center

        .header-nav__list-item
            width: auto
            border: 0

            @media #{$xs}
                width: 100%

    &__inner
        display: flex
        width: 100%
        justify-content: space-between
    
.m-main-menu
    display: none

.header-nav-trigger
    position: absolute
    clip: rect(0, 0, 0, 0)

@media #{$menu}
    nav
        position: relative
    
    .m-menu:not(.m-menu--lk)
        background: #fff
        width: 100%
        height: 100%
        position: fixed
        top: 84px
        right: 0
        z-index: 1200
        padding: 0 0 30px 0
        overflow-x: hidden
        /* overflow-y: scroll; */
        -webkit-overflow-scrolling: touch
        opacity: 0
        visibility: hidden
        -webkit-transform: translateY(-100%)
        transform: translateY(-100%)
        
        &__wrap
            max-width: 290px
            margin: 0 auto
        
        &__inner
            max-width: 100%
            margin: 0 auto
            height: 100%
        
        &__link
            display: block
            font-size: 18px
            margin: 0 0 20px 0
    
    .m-main-menu
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        position: absolute
        top: 0px
        margin: 0
        min-height: 155px
        width: 100%
        
        & .header-buttons__item--plan
            margin: 0 0 40px 0
    
        &__message
            max-width: 305px
            margin: 0 0 10px 0
            text-align: center
            
    .main-menu
        display: none
        float: none
        margin: 0 0 70px 0
    
        &__list
            text-align: left
            margin: 0 0 20px 0
        
        &__item
            display: block
            margin: 0
            &:last-child
                margin: 0 0 0 0
        
        &__link
            font-size: 32px
            line-height: 52px
    
    .header-nav-trigger
        position: absolute
        clip: rect(0, 0, 0, 0)
    
    label[for="header-nav-trigger"]
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        z-index: 2
        cursor: pointer
        border-radius: 2px
        width: 24px
        height: 20px
        background-image: url("../images/svg-pic/ico-hamburger.svg")
        background-repeat: no-repeat
        background-size: contain
        margin: 0
    
    .header-nav-trigger:checked + label
        background: url("../images/svg-pic/ico-hamburger-open.svg")
        background-repeat: no-repeat
        background-size: contain
        right: 0
    
    input.header-nav-trigger:checked + label::before
        content: ''
    
    .header-nav-trigger:checked ~ .m-menu
        right: 0
        opacity: 1
        visibility: visible
        -webkit-transform: translateY(0)
        transform: translateY(0)
        -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1)
    
    .header__user-block
        float: none
        display: block
        text-align: left
        position: absolute
        top: 50%
        width: 100%
        margin: 0