.modal
    // background: #F6F7FB
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08)
    padding: 0!important

    &--full
        background: transparent

        .modal-dialog
            background-color: #F6F7FB
            border-radius: 10px
            max-width: 720px
            width: 100%
            margin: 32px auto

            @media #{$xs}
                margin: auto
                border-radius: 0

            .close
                top: 38px
                right: 32px
                height: 24px
                width: 24px
                background-image: url($svgpath + 'close-red.svg')

                @media #{$xs}
                    top: 18px
                    right: 18px

        .modal-header
            padding: 21px 52px 21px 32px

            @media #{$xs}
                padding: 8px 40px 8px 8px

            h3
                @media #{$xs}
                    font-size: 24px

        .modal-content
            max-width: 720px
            width: 100%
            border-radius: 10px
            border: 0
            padding: 21px 32px

            @media #{$xs}
                padding: 8px 21px

    
    &--dish
        .modal-content
            padding: 21px 0

    &--classic

        .modal-content
            padding: 20px 30px 30px 30px
            border: 0
            background: #F6F7FB

            @media #{$mobile}
                padding: 15px

        .modal-dialog
            margin: 20px auto 20px auto
            border-radius: 8px
            overflow: hidden

            .close
                top: 30px
                right: 30px
                width: 24px
                height: 24px
                background: url($svgpath + 'close-red.svg') no-repeat center

                @media #{$mobile}
                    top: 25px
                    right: 15px

        .modal-footer
            border: 0
            background: #fff
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08)
            border-top: 1px solid rgba(0, 0, 0, 0.08)
            padding: 30px

            @media #{$mobile}
                padding: 15px

    &--400
        .modal-dialog
            @media #{$mobile}
                margin: 10px

            @media #{$mobile-min}
                width: 400px

    &--720
        .modal-dialog
            @media #{$mobile}
                margin: 10px

            @media #{$mobile-min}
                width: 720px

    &--mobile-full
        .modal-dialog
            margin: 20px auto
            border-radius: 8px

    &--white
        .modal-content
            background: white

    .modal-footer
        &--padding
            padding: 30px

            @media #{$mobile}
                padding: 10px

.modal-dialog
    margin: 0
    
    .close
        position: absolute
        top: 10px
        right: 10px
        height: 16px
        width: 16px
        z-index: 999
        background-color: transparent
        background-image: url('../images/tmp/cross-close.png')
        -webkit-background-size: contain
        background-size: contain
        background-repeat: no-repeat


.modal-content
    border-radius: 0
    box-shadow: none
    padding: 30px 0

    &--center
        text-align: center

        img
            margin: 0 auto
    



// .modal-open
//     .modal--classic
//         display: flex !important
//         align-items: center
//         justify-content: center


.modal-footer
    &.text-center
        text-align: center
    &.text-right
        text-align: right
    &.text-left
        text-align: left


.traning-modal
    .modal-footer
        display: none

        @media #{$mobile}
            display: block


.change-accounting
    .modal-content
        background: white