.modal-up
    background: $bodycolor
    position: absolute
    top: 0
    left: 0
    right: 0
    display: none
    z-index: $z-modal
    padding-bottom: 60px

    &.active
        display: block


.modal-up-page
    overflow: hidden

    &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: ($z-modal - 1)
        background: url($pngpath + 'modal-bg.png') no-repeat
        background-position: 90% 100%
        background-color: rgba(174, 179, 193, 0.3)
