.newsletter
    margin: 80px 0 0 0
    padding: 10px
    
    @media #{$tablet-min}
        padding: 0 80px

    &__wrapper
        background: #EBEDF7
        border-radius: 6px
        padding: 52px 60px
        position: relative
        
        @media #{$tablet}
            padding: 40px 30px
            
        @media #{$mobile}
            padding: 125px 10px 25px
    
        &::after
            content: ''
            position: absolute
            bottom: -25px
            right: 80px
            height: 275px
            width: 427px
            background-image: url('../images/tmp/pic-newsletter.png')
            -webkit-background-size: cover
            background-size: cover
            background-repeat: no-repeat
            z-index: 100

            @media (min-width: 1024px) and (max-width: 1100px)
                bottom: -38px
                right: -18px
                height: 190px
                width: 260px
                background-size: 100%

            @media (min-width: 1100px) and (max-width: 1200px)
                bottom: -38px
                right: -18px
                height: 230px
                width: 332px   
                background-size: 100%
    
            @media #{$tablet}
                bottom: 63px
                right: 12px
                height: 150px
                width: 220px
                background-size: 100%
                
            @media #{$mobile}
                bottom: auto
                top: -35px
                left: 50%
                right: auto
                width: 214px
                height: 137px
                transform: translateX(-50%)
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        color: #0C100F
        margin: 0 0 15px 0
    
        @media #{$mobile}
            max-width: 60%
            text-align: center
            margin: 0 auto 15px
        
        @media #{$xs}
            font-size: 24px
            line-height: 29px
            text-align: center
    
    &__desc
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 27px
        color: #0C100F
        max-width: 560px
        margin: 0 0 15px 0
    
        @media #{$mobile}
            max-width: 60%
            margin: 0 auto 15px
            text-align: center
            
        @media #{$xs}
            font-size: 14px
            line-height: 17px
            text-align: center
    
    &__form
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: flex-start
        
        @media #{$tablet}
            max-width: 60%
        
        @media #{$mobile}
            flex-direction: column
            align-items: center
            margin: 0 auto
    
        @media #{$xs}
            max-width: 100%

    &__form-input
        margin: 0 20px 0 0
        padding: 10px
        height: 48px
        border-radius: 4px
        width: 280px
    
        @media #{$mobile}
            margin: 0 auto 10px
            width: 100%
            
    &__button
        height: 48px
        width: 200px


    > .container
        padding: 0