$parts-menu-table: $screen-table
$parts-menu-mobile: 480px

.parts-menu
    margin: -64px 0 0 0
    padding: 0 0 70px 0
    width: 100%
    
    @media #{$tablet}
        padding: 0 0 70px 0

    @media #{$mobile}
        margin: -230px 0 0
        padding: 0 0 40px 0
    
    &__list
        min-height: 128px
        border: 1px solid #DDE0E9
        box-sizing: border-box
        box-shadow: 0px 4px 13px rgba(221, 224, 233, 0.29)
        border-radius: 8px
        background-color: #fff
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
        align-content: stretch
        
        @media #{$mobile}
            flex-direction: column
    
    &__item
        width: 33.33333333%
        height: 100%
        position: relative
        border-right: 1px solid #dde0e9
    
        &:last-child
            border-right: none
        
        @media #{$mobile}
            width: 100%
            border-bottom: 1px solid #DDE0E9
        
    &__link
        width: 100%
        height: 100%
        padding: 24px 32px
        display: flex
        align-items: flex-start
        justify-content: center
        align-content: stretch

        @media #{$tablet}
            padding: 15px 15px
            
        @media #{$mobile}
            padding: 15px 15px
    
    &:last-child .parts-menu__link::after
        content: none
    
    &__item-icon
        margin: 0 24px 0 0
    
    &__item-title
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 24px
        color: #000000
        margin: -6px 0 10px 0
    
    &__item-content
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 24px
        color: #9E9B98
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        width: calc(100% - 74px)
        
        &--plans:before
            content: ''
            position: absolute
            background-image: url("../images/tmp/icon-plans-diets.png")
            -webkit-background-size: contain
            background-size: contain
            background-repeat: no-repeat
            background-position: center left 32px
        
        &--exercises:before
            content: ''
            position: absolute
            background-image: url("../images/tmp/icon-trainings.png")
            -webkit-background-size: contain
            background-size: contain
            background-repeat: no-repeat
            background-position: center left 32px
        
        &--recepies:before
            content: ''
            position: absolute
            background-image: url("../images/tmp/icon-value-recepies.png")
            -webkit-background-size: contain
            background-size: contain
            background-repeat: no-repeat
            background-position: center left 32px
            
    &__item-description
        font-size: 15px
        line-height: 24px
    
        @media #{$mobile}
            font-size: 15px
            line-height: 18px