.payment-sum
    display: block
    // border-top: 1px solid $gray-light

    &__row
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 50px
        padding-bottom: 50px

        @media #{$xs}
            flex-direction: column
            align-items: flex-start
            padding-top: 10px
            padding-bottom: 10px

    &__key
        font-size: 18px
        line-height: 1.1

    &__value
        font-size: 18px
        line-height: 1.1
        padding-right: 30px

        @media #{$xs}
            font-family: $font-family-header
            font-size: 60px
            line-height: 60px

            span
                font-size: 30px

    &__subhead
        color: $pink
        font-size: 12px
        line-height: 1.1
        padding-top: 5px