.plan-training
    padding: 100px 0
    
    @media #{$mobile}
        padding: 40px 0
    
    &__type
        display: none
        flex-direction: column
        align-items: center
        justify-content: flex-start
        
        & > p
            font-family: $font-family-base
            font-style: normal
            font-weight: normal
            text-align: center
            font-size: 16px
            line-height: 25px
            color: #000000
            margin: 0 0 24px 0
            max-width: 820px
        
        &.showed
            display: flex
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        text-align: center
        color: #0C100F
        margin: 0 0 20px 0
        position: relative
        
        @media #{$mobile}
            font-size: 24px
            line-height: 29px
    
    &__subtitle
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 27px
        text-align: center
        color: #777777
        margin: 0 0 35px 0
    
        @media #{$mobile}
            font-size: 16px
            line-height: 20px
    
    &__button
        position: relative
        padding: 0
        cursor: pointer
        width: 200px
        height: 170px
        background-color: transparent
        
        img
            opacity: .7

        &:hover,
        &:focus
            img
                opacity: 1

        &.active
            img
                opacity: 1

            &> span
                background: #F1F2F6
        
        & > span
            display: inline-block
            padding: 5px 10px
            border-radius: 4px
            font-family: $font-family-header
            font-size: 16px
            line-height: 19px
            text-align: center

.plan-training-tabs
    
    @media #{$mobile}
        display: none
    
    &__nav
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: flex-start
        margin: 0 0 55px 0
    
    &__content
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 30px
        text-align: center
        color: #404241

.plan-training-accordeon
    display: none
    
    @media #{$mobile}
        display: block
    
    &__item
        padding: 10px 0
        border-top: 1px solid #EDF0F6
        
    &__toggle
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-start
        position: relative
        
        & >  .icon-trigger-cross
            width: 24px
            height: 24px
            background-image: url(../images/svg-pic/plus-purple.svg)
            transition: all linear .2s
            position: absolute
            top: 12px
            right: 0
            cursor: pointer

            &.open
                transform: rotate(-45deg)
    
    &__image
        margin: 0
        height: 46px
        width: 46px
        overflow: hidden
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        color: #000000
    
    &__content
        overflow: hidden
        display: none
        padding: 10px 10px 10px 0
        
        & > p
            font-family: $font-family-base
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 22px
            color: #404241
            
   
        
        
    

