.popup

.popup-count-trainings
    
    .modal-dialog .close
        top: 16px
        right: 10px
    
    .count-trainings__title
        font-size: 24px
        line-height: 29px
        text-align: center
        color: #0C100F
        
    .count-trainings__subtitle
        font-size: 16px
        line-height: 19px
        text-align: center
        color: #777777
    
    .count-trainings__list
        flex-direction: column
        align-items: center
        justify-content: flex-start
    
    .count-trainings__item
        width: 100%

.popup-process-plan
    
    .modal-dialog .close
        top: 16px
        right: 10px
    
    .process-plan__title
        font-size: 24px
        line-height: 29px
        text-align: center
        color: #0C100F

    .process-plan__subtitle
        font-size: 16px
        line-height: 19px
        text-align: center
        color: #777777
        
    .process-plan__list
        flex-direction: column
        align-items: center
        justify-content: flex-start
        
    .process-plan__item
        width: 100%
        
.popup-video
    
    .modal-dialog
        width: 100%
        height: 100vh

    .modal-content
        width: 100%
        height: 100vh
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        
    &__wrapper
        width: 600px
        height: 400px
        margin: 0 auto
        
        iframe
            width: 100%
            
        @media #{$mobile}
            max-width: 90%
    
    &__title
        margin: 0 0 20px 0
    
        @media #{$mobile}
            font-size: 20px