.process-plan
    position: relative
    padding: 70px 0
    
    @media #{$mobile}
        padding: 20px 0
    
    &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: calc(100% - 220px)
        height: 100%
        background-color: #f6f7fb
        border-top-right-radius: 200px
        z-index: 1
    
        @media #{$mobile}
            display: none
        
    &__desktop
        
        @media #{$mobile}
            display: none
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: normal
        font-size: 38px
        line-height: 46px
        text-align: center
        color: #0C100F
        margin: 0 0 20px 0
        position: relative
        z-index: 2
    
        @media #{$mobile}
            font-size: 24px
            line-height: 29px
            text-align: center

    &__subtitle
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 27px
        text-align: center
        color: #777777
        margin: 0 0 20px 0
        position: relative
        z-index: 2
        
        @media #{$mobile}
            font-size: 16px
            line-height: 19px
            text-align: center

    &__list
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin: 0 0 40px
        position: relative
        z-index: 2
    
        @media #{$mobile}
            flex-direction: column
            padding: 0 32px
    
    &__item
        width: 32.33333333333%
        display: flex
        flex-direction: column
        position: relative
        z-index: 2
    
        @media #{$mobile}
            width: 100%
    
    &__item-pic
        display: flex
        align-items: center
        min-width: 220px
        height: 210px
        
        & > span
            font-family: $font-family-header
            font-style: normal
            font-weight: bold
            font-size: 80px
            line-height: 97px
            color: #ABC333
    
    &__item-text
        display: flex
        align-items: center
        justify-content: space-between
        text-align: center
        color: #777
    
    &__buttons
        display: flex
        align-items: flex-start
        justify-content: center
        position: relative
        z-index: 2
    
        @media #{$mobile}
            flex-direction: column
            align-items: center
            justify-content: flex-start
        
        & > a
            height: 54px
            text-align: center
    
            @media #{$mobile}
                width: 290px
        
    &__button-video
        height: 54px
        margin: 0 15px 0 0
        padding-left: 50px
        position: relative
        
        &::after
            content: ''
            width: 21px
            height: 24px
            background-image: url('../images/svg-pic/ico-play-video.svg')
            background-size: cover
            position: absolute
            top: 50%
            left: 18px
            transform: translateY(-50%)
            z-index: 2
            
        @media #{$mobile}
            width: 290px
            margin: 0 auto 10px
    
    &__panel-popup
        background: #F6F7FB
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08)
        border-radius: 20px
        display: none
        position: relative
        padding: 20px 10px
    
        @media #{$mobile}
            display: block
            margin: 0 0 20px 0
    
    &__panel-popup-link
        background-color: transparent
        position: absolute
        top: 10px
        right: 10px
        display: block
        width: 10px
        height: 10px
        background-image: url('../images/svg-pic/arrow-to-popup.svg')
        -webkit-background-size: cover
        background-size: cover
        background-repeat: no-repeat
    
    &__panel-popup-button
        display: none
        
        @media #{$mobile}
            display: flex
            width: 300px
            margin: 0 auto