$promo-screen-table:  $screen-table
$promo-screen-mobile: 480px

.promo
    padding: 150px 0 0 0
    background-image: url('../images/tmp/bg-promo.jpg')
    -webkit-background-size: cover
    background-size: cover
    height: 680px
    margin-top: -90px

    @media #{$tablet}
        padding: 150px 0 0 0
    
    @media #{$mobile}
        background-image: none
        height: auto
        padding: 0 0 250px 0
        background-color: #F6F7FB

.promo-pic-mobile
    display: none
    
    @media #{$mobile}
        display: block
        
.promo-content
    max-width: 630px
    
    &__title
        font-family: $font-family-header
        font-style: normal
        font-weight: bold
        font-size: 46px
        line-height: 56px
        color: #0C100F
        margin: 0 0 44px 0
        
        @media #{$mobile}
            font-size: 18px
            line-height: 22px
            text-align: center
            margin: 15px 0 15px 0
    
    &__text
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 32px
        color: #0C100F
        margin: 0 0 25px 0
    
        @media #{$mobile}
            font-size: 16px
            line-height: 21px
            text-align: center
            margin: 0 0 25px 0
    
    & .button
    
        @media #{$mobile}
            max-width: 256px
            display: flex
            margin: 0 auto