.progressbar
    border: 1px solid #ECECEC
    border-radius: 6px
    height: 10px
    width: 100%
    display: block

    &__load
        height: 10px
        background: $success
        border-radius: 6px