.review
    display: flex
    padding: 24px 0
    border-bottom: 1px solid #F5F5F5
    
    @media #{$mobile} 
        flex-direction: column
    
    &__image
        width: 100%
        max-width: 180px

        @media #{$mobile} 
            max-width: 100%
            margin-bottom: 10px

    &__name
        display: inline-block
        font-size: 16px
        line-height: 1.2
        font-weight: 500
        text-decoration: none
        color: #FF6E02
        white-space: nowrap
        border-bottom: 1px solid rgba(255, 110, 2, 0.2)
        cursor: pointer

        &:hover,
        &:focus
            color: #FF6E02
            border-color: $yellow

    &__content
        width: 100%
        padding-left: 15px

        @media #{$mobile} 
            padding-left: 0

    &__text
        margin-bottom: 15px

.review-short
    padding: 0 0 100px 0
    
    @media #{$mobile}
        padding: 0px 0 30px
    
    &__wrapper
        padding-top: 40px
        border-top: 1px solid rgba(171,195,51,.3)
        display: flex
        flex-flow: row wrap
        align-items: flex-start
        justify-content: space-between
        
        @media #{$mobile}
            flex-flow: column wrap
            
        
    &__col
        &--left
            width: 45%
            max-width: 465px
            
            @media #{$mobile}
                width: 100%
                max-width: 100%
            
        &--right
            width: 55%
            max-width: calc(100% - 465px)
    
            @media #{$tablet}
                width: 70%
                max-width: calc(100% - 370px)
                
            @media #{$mobile}
                width: 100%
                max-width: 100%
            
    &__title
        font-family: $font-family-header
        font-style: normal
        font-size: 46px
        line-height: 56px
        color: #202020
        max-width: 465px
        margin: 0 0 30px 0
    
        @media #{$tablet}
            font-size: 30px
            line-height: 38px
            color: #202020
            max-width: 360px
            
        @media #{$mobile}
            font-size: 32px
            line-height: 39px
    
    &__link
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 21px
        letter-spacing: 0.01em
        color: #ABC333
        position: relative
        padding: 0 40px 0 0
        
        &:after
            content: ''
            position: absolute
            top: 2px
            right: 0
            width: 25px
            height: 20px
            background: url(../images/svg-pic/arrow-right.svg) no-repeat center
            background-size: cover
    
        @media #{$mobile}
            display: none
            
    &__link-mobile
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 21px
        letter-spacing: 0.01em
        color: #ABC333
        position: relative
        padding: 0 40px 0 0
        display: none
    
        &:after
            content: ''
            position: absolute
            top: 2px
            right: 0
            width: 25px
            height: 20px
            background: url(../images/svg-pic/arrow-right.svg) no-repeat center
            background-size: cover

        @media #{$mobile}
            display: inline-flex
            
        
.review-short-quote
    position: relative
    
    &__text
        font-family: $font-family-base
        font-style: italic
        font-weight: 300
        font-size: 22px
        line-height: 34px
        color: #000000
        position: relative
        margin: 0 0 25px 0
        
        & > span
            font-family: "Playfair Display",serif,Arial
            font-size: 52px
            line-height: 10px
            color: #777
            font-style: normal

            &:first-child
                position: absolute
                left: -43px
                top: 20px
                transform: rotate(-180deg)

            &:last-child
                position: relative
                top: 5px
            
            @media #{$mobile}
                font-size: 24px
    
        @media #{$tablet}
            font-size: 18px
            line-height: 26px
            
        @media #{$mobile}
            font-weight: 300
            font-size: 12px
            line-height: 18px
        
    &__author
        display: flex
        align-items: center
        justify-content: flex-start
    
        @media #{$mobile}
            margin: 0 0 20px 0
    
    &__author-pic
        margin: 0 10px 0 0
        height: 55px
        width: 56px
        border-radius: 50%
        overflow: hidden
        
        & > img
            width: 100%
            max-width: 100%
    
    &__author-name
        font-family: $font-family-base
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 21px
        color: #828282
        display: block
        
    &__author-status
        font-size: 16px
        line-height: 21px
        color: #828282

