
$sub-header-mobile-screen: $screen-table
.sub-header
    border-top: 1px solid $border-gray-color
    border-bottom: 1px solid $border-gray-color

    &--active
        .sub-header__container
            display: flex

    &__mobile-line
        display: none

        @media (max-width: $sub-header-mobile-screen)
            display: flex
            justify-content: space-between
            align-items: center
            color: $gray-dark
            font-size: 16px
            line-height: 1
            padding: 0 0 0 10px
            border-bottom: 1px solid $border-gray-color
            min-height: $header-mobile-height


    &__burger
        position: relative
        display: flex
        align-items: center
        justify-content: center
        background: none
        border: 0
        cursor: pointer
        width: 40px
        height: 40px

        &:before
            content: ''
            width: 16px
            height: 20px
            display: block
            background: url($svgpath + 'sub-header-burger.svg') no-repeat center
            

    &__container
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 40px
        min-height: 60px

        @media (max-width: $sub-header-mobile-screen)
            display: none
            flex-direction: column
            padding: 0

    &__menu
        margin: 0
        padding: 0
        display: flex
        align-items: center
        justify-content: flex-start

        @media (max-width: $sub-header-mobile-screen)
            flex-direction: column
            align-items: flex-start
            width: 100%

    &__item
        margin-right: 25px

        @media (max-width: $sub-header-mobile-screen)
            width: 100%
            padding: 0 10px

    &__link
        display: inline-block
        color: $gray-dark
        font-size: 16px
        line-height: 1
        text-decoration: none
        transition: all .2s

        @media (max-width: $sub-header-mobile-screen)
            height: $header-mobile-height
            border-bottom: 1px solid $border-gray-color
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            padding: 0 10px

            &:after
                content: ''
                display: block
                background: url($svgpath + 'arrow-right-gray.svg') no-repeat center
                width: 24px
                height: 24px


        &:hover,
        &:focus
            color: $black


    &__search
        display: flex
        align-items: center
        justify-content: space-between
        padding: 5px 10px

        @media (max-width: $sub-header-mobile-screen)
            width: 100%

    &__input
        display: none

        @media (max-width: $sub-header-mobile-screen)
            border: 0
            width: 100%
            display: block
            padding: 3px 10px
            background: $bodycolor

    &__search-button
        display: none

        @media (max-width: $sub-header-mobile-screen)
            display: block
            width: 40px

    &__search-button-show
        @media (max-width: $sub-header-mobile-screen)
            display: none
