$screen-subscribe: 1150px
$screen-subscribe-mobile: 600px

.subscribe
    
    & .container
        display: flex

        @media (max-width: $screen-subscribe-mobile)
            flex-direction: column-reverse
            justify-content: center

    &__item
        width: 50%
        padding: 50px 0 50px 50px
        border-top: 1px solid rgba(171, 195, 51, 0.3)
        //min-width: 300px

        @media (max-width: $screen-subscribe)
            padding: 15px 0 15px 0

        &:first-child
            @media (max-width: $screen-subscribe)
                width: 40%
                padding-right: 15px

            @media (max-width: $screen-subscribe-mobile)
                width: 100%
                border: 0
                padding: 20px 0 0 0
    
        &:last-child
            @media (max-width: $screen-subscribe)
                width: 60%

            @media (max-width: $screen-subscribe-mobile)
                width: 100%

        &:not(:first-child)
            border-left: 1px solid rgba(171, 195, 51, 0.3)

            @media (max-width: $screen-subscribe)
                padding-left: 15px

            @media (max-width: $screen-subscribe-mobile)
                padding-left: 0
                border: 0

        .button
            @media (max-width: $screen-subscribe-mobile)
                display: flex
                width: 100%
                max-width: 300px
                margin: 0 auto 20px
                
    &__price
        @media (max-width: $screen-subscribe-mobile)
            text-align: center
            margin-bottom: 15px

    &__header
        font-family: $font-family-header
        font-size: 26px
        font-weight: bold
        margin-bottom: 25px

        @media (max-width: $screen-subscribe)
            font-size: 20px

        @media (max-width: $screen-subscribe-mobile)
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 29px
            margin-bottom: 10px
            text-align: center
            width: 100%

            &--normal
                font-weight: normal

    &__mounth
        display: flex
        padding-bottom: 50px

        @media #{$mobile} 
            flex-direction: column
            padding-bottom: 0

        @media #{$mobile-small} 
            align-items: center
            text-align: center

        > div
            @media #{$mobile-min} 
                width: 50%

                &:first-child
                    margin-right: 15px

    &__content
        padding-right: 15px

    &__text
        font-size: 18px
        line-height: 27px
        margin-bottom: 20px
        
        @media #{$mobile}
            text-align: center
            color: #797979

    &__price-text
        font-size: 18px
        line-height: 27px
        white-space: nowrap

    &__price-sum
        font-size: 86px
        line-height: 1
        font-weight: bold
        font-family: $font-family-header
        white-space: nowrap

        @media (max-width: $screen-subscribe)
            font-size: 46px
            margin-bottom: 30px

        @media (max-width: $screen-subscribe-mobile)
            font-size: 86px
            line-height: 0.5

        &--danger
            color: $danger
        
        span
            font-size: 30px

.subscribe-main
    @media #{$xs}
        border-top: 1px solid rgba(171,195,51,.3)
