.swiper-container
    img
        margin: 0
        max-width: 100%
        width: 100%
        
    &.week-theme
        overflow: visible

        @media #{$tablet}
            overflow: hidden
            margin: 0 -8px
            padding: 0 8px

    &.journal-theme
        position: relative
        margin-bottom: 35px

        .swiper-button-prev, .swiper-button-next
            display: block
            width: 48px
            height: 48px
            position: absolute
            top: auto
            bottom: 32px
            left: 32px
            border-radius: 50%
            border: 2px solid white
            background-image: url($svgpath + 'arrow-left-white.svg')
            background-repeat: no-repeat
            background-position: 38% 50%
            background-size: 37%


        .swiper-button-next
            left: 100px
            transform: rotate(-180deg)

        .swiper-pagination
            display: flex
            border-radius: 50%
            width: 40px
            height: 40px
            top: 32px
            left: 32px
            bottom: auto
            right: auto
            border: 2px solid rgba(171, 195, 51, 1)
            background: rgba(171, 195, 51, 0.3)
            line-height: 38px
            color: white
            text-align: center
            font-size: 18px

        .swiper-pagination-current
            width: 100%
            display: inline-block

        .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
            opacity: .5


.column-slide
    @media #{$mobile}
        margin-left: -8px
        margin-right: -8px

    .swiper-pagination
        width: 100%
        position: relative
        margin-bottom: 15px
        padding: 0 10px

    .swiper-pagination-bullet
        width: 10px
        height: 10px
        background: $gray-light
        opacity: 0.5
        margin-right: 10px

    .swiper-pagination-bullet-active
        background: $success
        border-radius: 16px
        width: 30px

    .swiper-container
        overflow: visible

    .swiper-button-prev, .swiper-button-next
        position: absolute
        top: 60%
        width: 55px
        height: 110px
        overflow: hidden
        background: none

        span
            display: flex
            align-items: center
            justify-content: center
            width: 110px
            height: 110px
            position: absolute
            left: -55px
            border-radius: 50%
            background: rgba(142, 133, 246, 0.5)

            &:before
                position: absolute
                content: ''
                display: block
                height: 38px
                width: 15px
                background-image: url($svgpath + 'arrow-left-white-2x.svg')
                background-repeat: no-repeat
                background-position: center

    .swiper-button-prev
        left: 0

        span
            &:before
                right: 27px

    .swiper-button-next
        right: 0
        
        span
            left: auto
            right: -55px

            &:before
                left: 27px
                transform: rotate(-180deg)