table.table-responsive 
	border-collapse: collapse 
	margin: 0 
	padding: 0 
	width: 100% 
	table-layout: fixed 
	text-align: left

	caption 
		font-size: 1.5em 
		margin: .5em 0 .75em 
	tr 
		background-color: transparent
		border-bottom: 1px solid #DDE0E9 

	th, td
		padding: .625em 

	th 
		font-style: normal 
		font-weight: normal 
		font-size: 16px
		color: #000
		
	td
		color: #000
		font-size: 18px


@media #{$mobile}
	table.table-responsive 
		border-radius: $border-radius-base 
		border-collapse: separate
		background: #FFFFFF
		border: 1px solid $border-graydark-color

		thead 
			border: none 
			clip: rect(0 0 0 0) 
			height: 1px 
			margin: -1px 
			overflow: hidden 
			padding: 0 
			position: absolute 
			width: 1px 
		tr 
			border-bottom: 1px dashed $border-graydark-color
			display: block 
			margin-bottom: 0
			padding: 17px 0

			&:last-child
				border-bottom: 0

		td 
			border: 0
			display: block 
			font-size: 13px
			text-align: left 
			padding: 7px 22px
			color: #333
			
			&::before 
				content: attr(data-label) 
				float: left  
				width: 50%

			&:last-child 
				border-bottom: 0 
