.text-container
    max-width: 768px
    width: 100%
    margin: 0 auto 60px auto
    font-size: 16px

    h1,
    h2,
    h3,
    h4
        @media #{$mobile-small-min} 
            padding: 0 0 30px 0

    img
        display: block
        max-width: 100%
        margin-bottom: 30px

    p
        padding-bottom: 30px
