.tieds-cards
    &__head
        font-size: 18px
        color: #000
        margin-bottom: 5px

    &__subhead
        color: #BDBDBD
        font-size: 14px

    &__image
        img
            margin-right: 15px
            max-width: 65px
            width: 100%

            @media #{$mobile}
                width: 35px
                margin-right: 0
                margin-bottom: 10px

    &__content
        width: 100%
        display: flex
        flex-direction: column

    &__item
        position: relative
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        padding: 17px
        background: rgba(247, 248, 251, 0.6)
        border: 1px solid #C4C4C4
        border-radius: 8px
        margin-bottom: 30px
        cursor: pointer

        @media #{$mobile}
            align-items: flex-start
            flex-direction: column
            

    &__check
        height: 100%
        width: 30px

        label.check
            padding: 0
            position: absolute
            top: 17px
            right: 17px

        label>input[type=checkbox]~.cr
            margin: 0