.week
    display: flex
    align-items: flex-start

    &--lk
        @media #{$mobile}
            flex-direction: column
            margin-left: -8px
            margin-right: -8px
            width: auto

    &--slider
        overflow-x: auto
        padding-bottom: 30px
        padding-left: 10px
        padding-right: 10px

        .week__column
            min-width: calc(33% - 20px)

            @media #{$tablet}
                min-width: calc(50% - 20px)

            @media #{$mobile}
                min-width: 100%

    &__nav
        display: flex
        margin-bottom: 10px
        justify-content: space-between

    &__next
        display: flex
        height: 24px
        align-items: center
        background: transparent url($svgpath + 'btn-arrow-right-gray.svg') no-repeat center right
        color: #C4C4C4
        padding-left: 10px
        padding-right: 31px

        @media #{$tablet-min}
            display: none

    &__bullet
        width: 10px
        height: 10px
        background: $gray-light
        border-radius: 50%
        display: inline-block
        margin-right: 10px
        transition: all .3s ease

        &--active
            border-radius: 10px
            width: 31px
            background: $success

    &__column
        width: calc(33% - 18px)
        border-top: 10px solid #DDE0E9
        border-radius: 4px
        padding: 22px 16px
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08)
        margin-right: 32px

        @media #{$mobile}
            padding: 22px 0
            margin-right: 0
            box-shadow: none
            border-radius: 0

        &:last-child
            margin-right: 0

        &.disabled
            opacity: 0.5
            pointer-events: none

        &--lk
            width: calc(45% - 18px)

            @media #{$tablet}
                width: calc(50% - 18px)

            @media #{$mobile}
                width: 100%
                padding: 10px 8px

            .week__title
                color: $purple

        &--dubl
            // width: calc(50% - 18px)

            // @media #{$tablet}
            //     width: calc(50% - 18px)

            @media #{$mobile}
                width: auto
                min-width: 100%
                padding: 10px 8px

            .week__title
                color: $purple

                @media #{$mobile}
                    color: $black

        &--slide
            width: 100%

            @media #{$mobile}
                padding: 0 10px

        &--append-traning
            width: calc(40% - 18px)
            border: 0
            box-shadow: none
            padding: 0


            @media #{$mobile}
                width: auto
                margin-left: -8px
                margin-right: -8px
                border-radius: 8px

    &__title
        color: #4F4F4F

    &__head
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 32px
        font-size: 20px
        color: #4F4F4F

        @media #{$mobile}
            margin: 20px 0

    &__day
        color: rgba(79, 79, 79, 0.5)
        font-size: 14px

    // &__dish-list

    &__mealtime 
        font-size: 10px
        letter-spacing: 1px
        text-transform: uppercase
        margin-bottom: 8px
        padding: 0 16px

    &__stage
        padding: 24px 0
        background: #FAFAFA
        margin-bottom: 8px

    &__append-text
        margin-bottom: 16px

    &__append-img
        width: 85px
        height: 85px
        background: url($svgpath + 'append-traning.svg') no-repeat center
        background-size: contain
        margin-bottom: 16px

    &__subtitle
        margin-bottom: 20px