.wizard-confirm
    // display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin: 56px 0

    @media #{$xs}
        margin: 2rem 0

    &__image
        display: block
        width: 130px
        height: 130px
        background: url($svgpath + 'confirm-modal-image.svg') no-repeat center
        margin: 0 auto 20px auto

    &__head
        font-size: 26px
        margin-bottom: 20px
        text-align: center

    &__text
        text-align: centers
        font-size: 16px
        margin-bottom: 20px

    &__control
        font-size: 0

        .button
            & + .button 
                margin-left: 20px