.wrapper
    max-width: 1440px
    margin: auto
    position: relative
    line-height: $line-height-base
    padding: 0 15px

    @media #{$tablet-min}
        padding: 0 80px

    hr
        margin-top: 40px
        margin-bottom: 40px
        border: 0
        border-bottom: 1px solid rgba(171, 195, 51, 0.3)

    // @media (max-width: $screen-content)
    //     padding: 0 15px

    &--wizard
        padding-top: 90px


.head-img
    margin: auto
