section.newsletter
    .container
        .newsletter__wrapper
            h2.newsletter__title Полезная рассылка
            p.newsletter__desc
                |Вы можете получать полезную информацию уже сегодня, подпишитесь
                |на рассылку и получите промо код на скидку.
            form.newsletter__form
                input(name="newsletter-email" type="email" placeholder="Электронная почта").newsletter__form-input
                button(type='submit').newsletter__button.button.button--success Подписаться
