.sub-header
    .sub-header__mobile-line Категории
        button.sub-header__burger(type="button")
    
    .sub-header__container
        ul.sub-header__menu
            li.sub-header__item
                a.sub-header__link(href="#") Завтраки

            li.sub-header__item
                a.sub-header__link(href="#") Первые блюда

            li.sub-header__item
                a.sub-header__link(href="#") Вторые блюда

            li.sub-header__item
                a.sub-header__link(href="#") Салаты

            li.sub-header__item
                a.sub-header__link(href="#") Продукты

            li.sub-header__item
                a.sub-header__link(href="#") Напитки

        from.sub-header__search
            button.button.button--search.sub-header__search-button-show(type="button")
                | Поиск
            input.sub-header__input(type="text", value="", placeholder="Поиск продукта или рецепта")
            button.button.button--search.sub-header__search-button(type="submit")
