section.subscribe
		.container
				.subscribe__item
						.subscribe__header.subscribe__header--normal Что я получу после подписки?
						.subscribe__content
								ul.check-list
										li.check-list__item Hеограниченный доступ к планам диет
										li.check-list__item Доступ к обновлению базы полезных рецептов
										li.check-list__item Доступ к упражнениям

				.subscribe__item
						.subscribe__header Стоимость подписки
						.subscribe__mounth
								.subscribe__price
										.subscribe__price-text
												| Первый месяц
												span.underline 1199
										.subscribe__price-sum.subscribe__price-sum--danger
												| 990
												span ₽/мес.

								.subscribe__price
										.subscribe__price-text
												| С третьего
										.subscribe__price-sum
												| 190
												span ₽/мес.

						.subscribe__text Подписка продлевается автоматически

						a.button.button--purple(href="#") Купить подписку
