@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/Rubik/MuseoSansCyrl-300.eot");
    src: url("../fonts/MuseoSansCyrl-300.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-300.woff2") format('woff2'),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik.Rubik-Black.eot');
    src: url('../fonts/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Black.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Black.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Bold.eot');
    src: url('../fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Light.eot');
    src: url('../fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-BoldItalic.eot');
    src: url('../fonts/Rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-BoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-BoldItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Medium.eot');
    src: url('../fonts/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Italic.eot');
    src: url('../fonts/Rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Italic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Italic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-BlackItalic.eot');
    src: url('../fonts/Rubik/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-BlackItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-BlackItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.eot');
    src: url('../fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-LightItalic.eot');
    src: url('../fonts/Rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-LightItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-LightItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-MediumItalic.eot');
    src: url('../fonts/Rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-MediumItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-MediumItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot');
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.woff') format('woff'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot');
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.eot');
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Black.woff') format('woff'),
    url('../fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
