///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: $border-gray-color)
  // For Google Chrome
  ::-webkit-scrollbar
      width:  $size
      height: $size

  ::-webkit-scrollbar-thumb
      background: $foreground-color

  ::-webkit-scrollbar-track
      background: $background-color

  // For Internet Explorer
  body
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color
