
block config
    - var pageTitle = 'Журнал диеты'
    - var pageDescription = 'Home descr'
    - var bodyClass = 'body-css'

<!DOCTYPE html>
html(lang="ru")
    head
        block head
            include ../_parts/_head

        block styles

    body(class=bodyClass)
        include ../_parts/_header
        block main


        block footer
            include ../_parts/_footer

        block scripts
            include ../_parts/_scripts
