
include ../_mixin/_week-lk.jade
include ../_mixin/_week-diet.jade

block config
    - var pageTitle = 'Личный кабинет '
    - var pageDescription = 'Home descr'
    - var bodyClass = 'body-css'

<!DOCTYPE html>
html(lang="ru")
    head
        block head
            title #{pageTitle}
            include ../_parts/_head

        block styles

    body(class=bodyClass)
        block header
            include ../_parts/_header-lk
            
        block main


        block footer
        
        include ../_parts/_popups

        block scripts
            include ../_parts/_scripts
