
include ../_mixin/_week.jade
block config
    - var pageTitle = 'Журнал диеты'
    - var pageDescription = 'Home descr'
    - var bodyClass = 'body-css'

<!DOCTYPE html>
html(lang="ru")
    head
        block head
            include ../_parts/_head

        block styles

    body(class=bodyClass)
        block header
            include ../_parts/_header-wizard
            
        block main


        block footer

        block scripts
            include ../_parts/_scripts

        include ../_parts/_popups