mixin week(weekDay, day)
    .week__column(class!=attributes.class)
        .week__head
            .week__title #{weekDay}
            .week__day #{day}

        .week__stage
            .week__mealtime Завтрак
            .week__dish-list
                .dish.active
                    button.dish__button(type="button" data-toggle="modal" data-target="#dish-replace")
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-1.jpg")

                        .dish__content
                            .dish__head Мясо кролика на пару
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (1475 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                        .dish__content
                            .dish__head Бутерброд из цельнозернового хлеба с пошехонским сыром
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (538 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-3.jpg")

                        .dish__content
                            .dish__head Курица вареная
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (637 кал.)


        .week__stage
            .week__mealtime Утренний перекус
            .week__dish-list
                .dish.active
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-1.jpg")

                        .dish__content
                            .dish__head Черешня
                            .dish__footer
                                span.dish__mass 60г.
                                span.dish__college (100 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                        .dish__content
                            .dish__head Баклажан тушеный
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (538 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-3.jpg")

                        .dish__content
                            .dish__head Курица вареная
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (637 кал.)

        .week__stage
            .week__mealtime Обед
            .week__dish-list
                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-1.jpg")

                        .dish__content
                            .dish__head Салат «Цезарь с курицей»
                            .dish__footer
                                span.dish__mass 60г.
                                span.dish__college (100 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                        .dish__content
                            .dish__head Яблоко
                            .dish__footer
                                span.dish__mass 80г.
                                span.dish__college (205 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-3.jpg")

                        .dish__content
                            .dish__head Мидии вареные
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (1475 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-4.jpg")

                        .dish__content
                            .dish__head Чернослив
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (1475 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-5.jpg")

                        .dish__content
                            .dish__head Фасоль белая вареная
                            .dish__footer
                                span.dish__mass 60г.
                                span.dish__college (80 кал.)


        .week__stage
            .week__mealtime Обед
            .week__dish-list
                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-1.jpg")

                        .dish__content
                            .dish__head Омлет с томатами и зеленью
                            .dish__footer
                                span.dish__mass 120г. 
                                span.dish__college (341 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-2.jpg")

                        .dish__content
                            .dish__head Творог обезжиренный с курагой
                            .dish__footer
                                span.dish__mass 80г.
                                span.dish__college (205 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-3.jpg")

                        .dish__content
                            .dish__head Сыр фета нов
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (1475 кал.)

                .dish
                    button.dish__button.dish__button--replace Заменить
                    .dish__row
                        .dish__image
                            img.dish__img(src="images/tmp/pic-recepie-4.jpg")

                        .dish__content
                            .dish__head Салат из редиса и сельдерея
                            .dish__footer
                                span.dish__mass 120г.
                                span.dish__college (1475 кал.)

