.modal-up.modal-up--reset
    include ../_parts/_header-login

    form.login
        h4.login__head Пароль сброшен
        .login__line
            | Мы отправили инструкции на указанную почту. 
            br
            | Выполнив их вы получити доступ!
        label.login__line
            button.button.button--success.login__button Ввести пароль

        hr

        .login__line
            | Вспомнили пароль?
            a(href="/")  Войти
            br
            | У вас ещё нет плана диет? 
            a(href="/")  Составить план
