.modal-up.modal-up--recovery
    include ../_parts/_header-login

    form.login
        h4.login__head Восстоновить доступ
        label.login__line
            .login__text Электрононная почта
            input.form-control.login__input(type="email") 

        label.login__line
            button.button.button--success.login__button Сбросить

        hr

        .login__line
            | Вспомнили пароль?
            a(href="/")  Войти
            br
            | У вас ещё нет плана диет? 
            a(href="/")  Составить план
            br
            a(href="/").js-modal-reset Пароль сброшен

