.modal-up.modal-up--login
    include ../_parts/_header-login

    form.login
        h4.login__head Войти в личный кабинет
        label.login__line
            .login__text Электрононная почта
            input.form-control.login__input(type="email") 

        label.login__line
            .login__text Пароль
            input.form-control.login__input(type="password") 
        
        label.login__line
            button.button.button--success.login__button Войти

        hr

        .login__line
            | У вас ещё нет плана диет?
            a(href="/")  Составить план   
            br
            | Забыли пароль?  
            a(href="/").js-modal-recovery  Восстоновить доступ
        